[2013-09-16 18:51] ghost opened #1 "Support for Desk Bands?"
Hello, just wondering if you are planning to add a feature for implementing Desk Bands?

They are described here - http://msdn.microsoft.com/en-us/library/windows/desktop/cc144099(v=vs.85).aspx#desk_bands

Here is one implementation that is available - http://www.ssware.com/shlobj/shlobj.htm#shellappbar

Thank You.

[2013-09-21 10:56] jurnecka opened #2 "Win 8.1/64 IconHandler"
Hi,

how can I debug your native bridge and SharpShell? I have problem with IconHandler, and after installing(x64) and registering(x64) your sample explorer sometimes works and sometime crashes. But test in your ServerManager is OK. Or can you look at it and fix it?

Thank you
Peter

[2013-11-16 19:35] mika76 opened #3 "Property\Column handler"
Is there any way to do these? With Win 7/8+ ?

[2013-11-27 18:31] dwmkerr opened #4 "Invalid SelectedItem Count with > 16 items"
See: http://www.codeproject.com/Articles/512956/NET-Shell-Extensions-Shell-Context-Menus?msg=4710563#xx4710563xx

Hey,

when I'm right-clicking on more than 16 selected files and/or directories for the first time, my context menu handler don't show up on each file/directory as I'd expect. I found out that this happens because at the very beginning the selectedItem count is somehow set to 16, altho

[2013-12-30 14:46] dwmkerr opened #5 "Improvements to the CanShowMenu functionality"
See discussion at:

https://sharpshell.codeplex.com/discussions/454137

[2013-12-30 17:32] dwmkerr opened #6 "Ideas for documentation"
Thanks very much for your comments! I like your ideas, I've put together an idea on the github site to document these points. In terms of well known bugs, I have come across no-one so far who has had problems using managed shell extensions (beyond getting them to work in the first place, which is typically a registration issue!).

Ideas from: http://www.codeproject.com/Articles/545781/NET-Shell-Ex

[2013-12-31 22:05] hmemcpy opened #7 "Namespace shell extensions support?"
Hi!

I just found this library today after an exhaustive search about any information about how to add items to the navigation pane of Windows Explorer. After a while I realized that those are called Namespace extensions.
I'm basically interested to add a "top-level" item to the navigation pane (and the open/save file dialog), just like the Homegroup item:

![image](https://f.cloud.github.com/asse

[2014-01-13 10:34] dwmkerr opened #8 "Support Shell Debugger"
The Shell Debugger is being developed in d/ShellNamespaceExtension:

https://github.com/dwmkerr/sharpshell/tree/d/SharpNamespaceExtension/SharpShell/Tools/ServerManager/ShellDebugger

Currently when the debugger window is opened, an exception is thrown. The root cause seems to be that this line:

https://github.com/dwmkerr/sharpshell/blob/d/SharpNamespaceExtension/SharpShell/Tools/ServerManager/Sh

[2014-01-14 21:42] dwmkerr opened #10 "Namespace Extensions: Exception for MyComputer/CurrentUser"
When I change the GitHub namespace extension to have MyCoumpter as the virtual junction point but for _current user_, an exception is thrown trying to open the correct key to create the registry entries as children of.

This is possibly because there are no per-user namespace extensions already installed, so part of the path to the required location might be missing - or it might be that some junc

[2014-01-18 18:19] dwmkerr opened #11 "Server Manager Doesn't Remove Bad Servers"
If you attempt to load a bad file for a sharpshell server, the server manager seems to add it to the list of servers and attempts to load it on each startup, servers that fail to load on startup should be removed from the list

[2014-01-19 09:47] #8 closed, assigned to nobody

[2014-01-25 14:33] dwmkerr opened #13 "Shell Debugger Fails on Windows 8.1"
On Windows 8.1 the shell debugger is not working, it crashes immediately.

[2014-01-27 16:46] dwmkerr opened #14 "Support ContextMenu in Shell Debugger"
We should be able to open the context menu in the shell debugger.

[2014-01-29 17:23] dwmkerr opened #15 "Support Server Validation"
The server manager can validate a server, e.g. checking that it has the correct attributes and so on.

[2014-02-03 09:30] dwmkerr opened #16 "Fully Support Transparency for Sharp Context Menu"
We need to support transparency of menu items via full owner draw.

[2014-02-03 19:33] dwmkerr opened #17 "Support File System Junction Points for Shell Namespace Extensions"
Currently we only support virtual junction points for shell namespace extensions. We can support file system junction points too, see the:

``` SharpNamespaceExtension.CustomRegisterFunction````

And take it from there.
[code]

[2014-02-03 19:35] dwmkerr opened #18 "Support Advanced Registration Options for SNEs"
Shell namespace extensions have more options than are exposed for registration, e.g:
- WantsFORPARSING
- HideAsDelete
- HideAsDeletePerUser
- QueryForOverlay
- support custom verbs with a 'Shell' subkey.
- support custom shortcut menu handler with ShellEx.
- tie in support for a property sheet handler.

[2014-02-04 16:50] dwmkerr opened #19 "Server Manager should show if a server is registered"
This can be done to check if the server CLSID is in the approved list

[2014-02-04 16:51] dwmkerr opened #20 "Server Manager shouldn't crash on register/unregister"
If the server is already registered, registering it crashes the application (the same for unregister). It should just show a warning to the user.

[2014-02-08 11:30] #16 closed, assigned to dwmkerr

[2014-02-12 19:55] #20 closed, assigned to nobody

[2014-02-12 20:20] #19 closed, assigned to nobody

[2014-02-12 21:36] dwmkerr opened #21 "Tidy Up Registry Code"
We can tidy up the registry code by creating extension methods that do the null checks and throw exceptions.

[2014-02-12 21:40] dwmkerr opened #22 "DeskBands: Enforce Display Name"
If a SharpShell DeskBand has no displayname attribute, it won't register (as Windows doesn't know what to cal it in the menu) we must at least validate that this attribute is present when performing registration or validation.

[2014-02-13 21:06] #22 closed, assigned to nobody

[2014-02-13 21:07] dwmkerr opened #23 "DeskBands: Cannot re-open desk band"
A deskband can be shown, hidden, but not reshown. The re-showing seems to call `CloseDW``but not``OpenDW``.

[2014-02-13 21:08] dwmkerr opened #24 "DeskBands: No transparency"
On Windows 8.1 the deskband is not transparent as it should be.

[2014-02-13 21:10] #1 closed, assigned to dwmkerr

[2014-02-15 13:10] dwmkerr opened #25 "Support Position on Stream for Shell Thumbnail Handlers"
We need to support the stream position to allow various components to use the steam properly. Please also see:

http://www.codeproject.com/script/Forums/Edit.aspx?fid=1828425&select=4759680&floc=/Articles/563114/NET-Shell-Extensions-Shell-Thumbnail-Handlers&action=r

[2014-02-16 14:23] geriamir opened #26 "SharpInfoTipHandler not working on folders that don't have "sister" folders"
Try adding an extension for InfoTips and use it on folders that is in a folder that only has one folder (i.e. it's the only folder in the current folder).
See attached image.

![image](https://f.cloud.github.com/assets/687927/2180383/e7ad716c-9715-11e3-8d8f-291ea176707d.png)

[2014-02-26 15:51] niieani opened #27 "[ContextMenu] CanShowMenu implemented for each submenu?"
First of all, huge kudos for creating such a great project!

Here's my concern.
CanShowMenu() is called on every rightclick on a file or directory, and since I'm doing some more advanced inter-process communication in the logic, it might take some time to get the reply, but it would be terrible to hog every right click and make the user wait for the response from my app.
So I thought I can just pu

[2014-02-26 19:53] codecat opened #28 "Can't use * class for every type of file for SharpContextMenu"
When you try to do the following:

[code]

RegAsm will fail and complain that `The specified path is invalid`. After digging through the code really quickly, not having much experience with shell extensions yet, it seems that it's trying to get the default value of `HKCL\*`, which is null in all cases, where as every other class such as `.txt` actually have a correct default value: `txtfile` for e

[2014-03-01 20:34] dwmkerr opened #29 "Support *.lnk files correctly in SharpShell"
Let's get SharpShell working well with lnk files - check the discussion here:

https://sharpshell.codeplex.com/discussions/534997

Next release ideally

[2014-03-02 23:06] dwmkerr opened #30 "SharpShellTools 2.1 is mispackaged"
Apparently the nuget package for SharpShellTools 2.1 is referencing the old version of sharpshell as a dependency, this needs to be fixed

[2014-03-03 18:03] #30 closed, assigned to nobody

[2014-03-04 22:22] #25 closed, assigned to dwmkerr

[2014-04-10 13:55] chacha21 opened #31 "Fix srm.exe DLL dependencies loading"
Hello,
I had to tune srm.exe (v 2.1) for the following scenario :
-I have an assembly A.dll (made with C#) that contains my ISharpShellServer exports
-A.dll has a dependency : B.dll (made with C++/CLI)
-A.dll and B.dll are in the same folder
-when trying to use "srm.exe install A.dll -codebase", it fails, claiming that "B.dll" cannot be found

Please note that regasm.exe A.dll /register /codebase

[2014-04-13 19:29] dwmkerr opened #32 "Add Resharper Thanks"
Need to add the resharper/jetbrains logo to the readme and thank them for the license for the next release.

[2014-04-17 15:15] dwmkerr opened #33 "x86 Bug with Preview Handler"
See:

https://sharpshell.codeplex.com/discussions/541946

[2014-04-21 19:04] dwmkerr opened #34 "Non ANSI characters broken in context menu"
Originally: https://sharpshell.codeplex.com/workitem/1399

Working with a SharpContextMenu, I selected a file with Russian characters in the path. Those characters were not marshalled correctly and appeared as question marks.

I was able to fix this by changing Shell32.DragQueryFile(), adding

[code]

[2014-04-21 19:16] dwmkerr opened #35 "Investigate FolderPath issue"
Dear Dave,
I encountered a strange behaviour which took me a while to find out: When testing with ContextMenus and the TestServer from ServerManager.exe both variables FolderPath and SelectedItemPaths work fine.
But when testing without TestServer but InstallServer and RegisterServer with ServerManager.exe instead, the variable FolderPath is always null. I had to set a variable by myself with
stri

[2014-04-27 07:55] dwmkerr opened #36 "Possbile Bug with Preview Handler"
@dwmkerr Investigate:

Hi, you can download the zip containing the project from here:

http://sanskrityantra.org/MDPreview.zip

I tried to install the preview handler on Windows 8.1 and Windows 7, but it does not work.
It works in ServerManager if I load the server, install it and register it, and then choose menu Test Server in Server Shell.
To test it, you can try to get the preview of the .md f

[2014-04-27 07:58] dwmkerr opened #37 "Potential Locking Issues with preview handler"
See this thread:

http://www.codeproject.com/Articles/563114/NET-Shell-Extensions-Shell-Thumbnail-Handlers?msg=4807929#xx4807929xx

@dwmkerr investigate

[2014-05-07 10:00] dwmkerr opened #38 "Support Thumbnail Handlers for Files as well as Streams"
See the comment chain at:

http://www.codeproject.com/Articles/563114/NET-Shell-Extensions-Shell-Thumbnail-Handlers?msg=4814158#xx4814158xx

Involves implementing a separate base class with the `IInitializeFromFile` interface.

[2014-06-03 14:04] gair opened #39 "CreateMenu is not always called."
Is it possible to force CreateMenu to be called after every CanShowMenu call? I need to customize the context menu for each file selected but CreateMenu is only being called after the first file selected.

[2014-06-23 16:28] MadMaxidrom opened #40 "Shell extension context menu failed to registry for current user under HKCU"
There is impossible to registry context menu handler by srm.exe if you don't have admin privilegies.

[2014-07-15 23:52] jjxtra opened #41 "SelectedItemPaths always has 1 item in it"
No matter how many items I highlight, SelectedItemPaths always has one item in it, seemingly chosen at random

[2014-07-17 14:37] jculverwell opened #42 "Restart windows required"
I am using the code below to create a SharpDropHandler and have built a custom installer per your article.  After I build and install the code below it appears I need to restart windows 8.1 for any updates in the code to be reflected.  Same issue with the test tool.  Anyone got any ideas?

using SharpShell.SharpDropHandler;
using System;
using System.IO;
using System.Windows.Forms;
using System.Li

[2014-07-30 08:39] burgua opened #43 "Logs in EventLog"
Hi!

First of all thanks for this great library!

And now to business =)
Is it possible to hide logs in EventLog? It looks like, that message in EventLog are generated for every "CanShowOverlay" call.

I have built my extension (OverlayIcon) in Release Mode and installed it using srm.exe.
I'm using SharpShell 2.1.

I have also tried to used next command, but, it seems to me, it's not related to my

[2014-08-12 12:40] furesoft opened #44 "Doesnt work"
it only works on test, but when im installing server doesnt work

[2014-08-29 09:14] taras-sasai opened #45 "Context Menu: Doesn't work for shortcuts"
Hello!

It seems that it doesn't work completely for shortcuts, it works perfectly with files and directories, but not with shortcuts.
It adds new items to context menu well, but when I click on some new added item it doesn't invoke command that should be performed.
I've made small investigation and noticed one thing (I hope, it will help you a little bit) :
when I click on new added item in the c

[2014-09-02 13:44] diegostamigni opened #46 "AssociationType.AllFiles + AssociationType.Directory"
`AssociationType.AllFiles` and `AssociationType.Directory` is no longer working since version 2.0.0 (ref. sha a880f7855724307a09b16e396d5ba27524c6b05f)

I'm trying to display a context menu on file (`AssociationType.AllFiles`) and folders ( `AssociationType.Directory`).

[2014-09-07 20:46] dwmkerr opened #47 "Investigate Context Menus for Shortcuts"
See:

http://www.codeproject.com/Articles/512956/NET-Shell-Extensions-Shell-Context-Menus?msg=4891458#xx4891458xx

[2014-09-07 20:47] #47 closed, assigned to nobody

[2014-09-18 01:29] e1e8 opened #48 "NuGet Tools Package 2.1.0 contains 2.0.0 SharpShell.dll"
As per above. Used this link: https://www.nuget.org/packages/SharpShellTools/2.1.0
Causes Server Manager to not open.
How I fixed it: Deleted 2.0.0 .dll and copied 2.1.0 .dll from another location.

[2014-09-29 07:48] dwmkerr opened #49 "Potential Exception for Property Sheets"
See the thread at:

http://www.codeproject.com/Articles/573392/NET-Shell-Extensions-Shell-Property-Sheets?msg=4908807#xx4908807xx

In a nutshell it seems that we need to try and wrap the `IShellPropSheetExt.AddPages` loop in an exception handler. For diagnostic purposes we should log the exceptions.

[2014-10-01 03:49] dwmkerr opened #50 "Incorrect Function Signature"
See: http://www.codeproject.com/Articles/533948/NET-Shell-Extensions-Shell-Preview-Handlers?msg=4913111#xx4913111xx

In the sources I downloaded from GitHub IPreviewHandler.SetRect takes a RECT but it should be a ref RECT. The result was nonsense rectangles on a resize which prevented the preview handler from being redrawn.

Otherwise great code. Many thanks.

[2014-10-14 06:49] dwmkerr opened #51 "Remove Flickering in the Shell Preview Handlers"
Shawn Rubie has posted:

http://www.codeproject.com/Articles/533948/NET-Shell-Extensions-Shell-Preview-Handlers?msg=4915042#xx4915042xx

This includes a fix to reduce flickering.

[2014-10-14 06:53] dwmkerr opened #52 "Shell Preview Handler Flickering"
Shawn Rubie has discovered some potential issues with the icon preview handler. Original post:

http://www.codeproject.com/Articles/533948/NET-Shell-Extensions-Shell-Preview-Handlers?msg=4922298#xx4922298xx

Hi again,

When I got the preview control working, I had severe flickering issues when the explorer window (and inside it, the preview control) was being resized. Your base control uses WS_EX_

[2014-10-21 03:59] dwmkerr opened #53 "Revisit Logging in SharpShell"
Logging seems to have some problems. Event log issues may be leading to exceptions:

http://www.codeproject.com/Articles/512956/NET-Shell-Extensions-Shell-Context-Menus?msg=4842689#xx4842689xx

Suggestion: Dedicated registry keys to specify how SharpShell servers should log (e.g. to file/event log etc). More support in the tools for enabling and configuring the event log.

[2014-11-11 04:43] dwmkerr opened #54 "Context Menu: Windows XP Issue"
See http://www.codeproject.com/Messages/4937663/Execution-on-WinXp-fails-despite-proper-registrati.aspx

Basically we are using an API not available in Windows XP.

Original Message:

Great job, thank you very much for this powerful .DLL!

I'm able to get my .dll installed and registered, so far no problems occured on Win7and Win8. Additionally, I even got it installed and registered on WinXp succ

[2014-11-17 21:10] gpetrou opened #56 "PreviewHandler in Windows 8.1"
Hello,
we tried to use the SharpPreviewHandler  from the library.
It seems to be working fine on Windows 7 and 8 (great work by the way!) but fails on 8.1
On Windows Event log and for Windows 7 we can see the following calls:

[code]

On Windows 8.0 we see

[code]

On windows 8.1 we can only see

[code]

Any ideas on what might be wrong and how we can help fix this?

[2014-11-19 14:22] dwmkerr opened #57 "Handle Express Editions"
See http://www.codeproject.com/Articles/3144/SharpGL-a-C-OpenGL-class-library?msg=4946280#xx4946280xx

[2014-11-21 03:38] dwmkerr opened #58 "Support x86 Preview Handlers on x64"
See: http://msdn.microsoft.com/en-us/library/windows/desktop/cc144144%28v=vs.85%29.aspx

The AppID value gives a reference to the AppID of the application associated with the file name extension (stored under HKEY_CLASSES_ROOT\APPID. The value used here—{6d2b5079-2f0b-48dd-ab7f-97cec514d30b}—is the ID of the Prevhost.exe surrogate host. 32-bit preview handlers should use AppID {534A1E02-D58F-44f0-

[2014-11-21 05:35] dwmkerr opened #59 "Overhaul SharpShell Diagnostics"
We should:
1. Do no logging by default.
2. Enable logging via a registry key.
3. Support Event Log logging.
4. Support File System logging.
5. Expose logging to consumers.

Default is off, i.e. fast. Registry based so that production code can be analysed. File system for event log issues which seem to be present.

[2014-11-21 08:27] dwmkerr opened #60 "Server Registration Manager Issues"
1. Fully document SRM.
2. Bring in better class for handling flags.
3. Allow SRM to show config.
4. Allow SRM to set config.
5. Make sure documentation is up-to-date.
6. Make sure build updates the SRM embedded assembly.

[2014-11-22 08:12] #58 closed, assigned to nobody

[2014-11-22 08:16] #51 closed, assigned to nobody

[2014-11-22 08:20] #50 closed, assigned to nobody

[2014-11-22 08:26] #52 closed, assigned to nobody

[2014-11-22 08:28] #43 closed, assigned to dwmkerr

[2014-11-23 03:20] #53 closed, assigned to nobody

[2014-11-23 03:21] #36 closed, assigned to nobody

[2014-11-23 07:22] #33 closed, assigned to nobody

[2014-11-23 07:27] #44 closed, assigned to nobody

[2014-11-23 07:28] #42 closed, assigned to dwmkerr

[2014-11-23 15:21] #59 closed, assigned to nobody

[2014-11-24 03:22] #57 closed, assigned to dwmkerr

[2014-11-24 03:33] dwmkerr opened #61 "Preview Handler Fails Regression Test"
It seems when installed with the srm, the preview handler does not work correctly. This indicates a problem with srm. This must be resolved to run the regression tests to release 2.2

[2014-11-27 15:46] dwmkerr opened #62 "Support Multiple File Selection in Server Manager"
Adds more testing opportunities. Original request:

http://www.codeproject.com/Articles/512956/NET-Shell-Extensions-Shell-Context-Menus?msg=4949506#xx4949506xx

[2014-11-29 13:26] dwmkerr opened #63 "OpenGLControl.cs OnApplyTemplate"
See thread at:

https://sharpgl.codeplex.com/discussions/439223

[2014-11-29 16:14] #61 closed, assigned to nobody

[2014-11-29 17:09] #56 closed, assigned to nobody

[2014-11-29 17:11] #37 closed, assigned to dwmkerr

[2014-11-29 17:17] #60 closed, assigned to nobody

[2014-11-30 15:32] #48 closed, assigned to nobody

[2014-12-08 15:14] hmemcpy opened #64 "Extending the copy/move dialog?"
I wonder if it's possible to somehow hook/extend the Windows copy dialog? I am interested specifically in changing the "Folder in Use" dialog to possibly add my own action

![](http://i.imgur.com/Ow59c9r.png)

Any API for that in general?

[2014-12-14 10:02] dwmkerr opened #65 "Drop Handler: Support Drag and Drop Context Menu"
It would be good to be able to support the Drag and Drop handler with a context menu, as described at:

http://msdn.microsoft.com/en-us/library/windows/desktop/cc144171(v=vs.85).aspx

(Search for Creating Drag-and-Drop Handlers)

See original request at:

https://sharpshell.codeplex.com/discussions/574179#post1329247

[2014-12-14 10:12] dwmkerr opened #66 "SharpShell: File Paths may be incorrect in the registry"
Paludour has noticed that there is a problem with file paths in SharpShell servers. It seems in some cases `file://` URIs cause problems. It would be good to be able to support traditional file paths and also to make sure that file URIs are correctly escaped, as documented at:

http://blogs.msdn.com/b/ie/archive/2006/12/06/file-uris-in-windows.aspx

We should look into the explicit and correct pat

[2014-12-20 07:03] MadMaxidrom opened #67 "Drop handler: Drop file in the directory"
Hi,
I can't handle explorer drop event when I drop file not on the another file but in the empty place. When I drop file on another file that works correct.
My code is:

[code]

[2015-01-05 19:10] abhinavananddba opened #68 "ContextMenu: Adding menu on right click inside a folder"
I have created a context menu that targets directories , but it shows only when i right click a directory and not inside it  anywhere else.

[2015-01-08 06:35] nicolas-raoul opened #69 "Broken link in README.md"
Hello,

Not important, but I just became curious and noticed that:
The link under "REAL Shuffle Player 2.0" seems to need an update, it currently redirects to a 404 error page.

And Happy New Year! :-)
Nicolas

[2015-01-12 17:23] dwmkerr commented on #69
Thanks @nicolas-raoul, I've fixed it! Happy new year to you too!

[2015-01-12 17:23] #69 closed

[2015-01-13 11:31] dwmkerr opened #70 "ContextMenu: XP Issue when registering server"
See details at:

https://sharpshell.codeplex.com/workitem/1651

[2015-01-16 12:23] AngeloG opened #71 "Context menu extension doesn't seem to work reliably"
So, this will be a writeup of things I've tried, things that have worked in the past, and things that don't work as of now. Hoping for some help!

First of all, the source code of my Context Menu extension is available here: https://github.com/NimbleTools/Clipupload/tree/master/ClipUploadShellExtension

A while ago, this extension worked perfectly on my development machine, but not on any of my ot

[2015-01-20 00:01] AngeloG commented on #71
**Update**: My test extension seems to sometimes work in those Open File Dialogs, but not always. (eg. it works in Firefox's file dialog, but not in Notepad's file dialog...?)

[2015-01-20 00:41] AngeloG commented on #71
So I did some more research, and after some trying I managed to find the fool-proof solution.

The assembly must be set to "Any CPU" for the 64 bit to work in the first place, and it **must** be registered with RegAsm.

The following code installs any extension just fine:

      Process.Start(new ProcessStartInfo() {
        FileName = System.Runtime.InteropServices.RuntimeEnvironment.GetRuntimeDi

[2015-01-20 00:41] #71 closed

[2015-01-20 07:42] dwmkerr commented on #71
Thanks for updating the issue with your findings. This suggests there is a problem with the srm. In theory, the srm should be doing the same as regasm (first registering the assembly's com servers) then running specific shell extension registration. However I have found:

http://msdn.microsoft.com/en-us/library/system.runtime.interopservices.registrationservices.registerassembly(v=vs.90).aspx

Whi

[2015-01-20 07:43] dwmkerr opened #72 "srm: Use RegistrationServices"
Avoid manual server registration code where possible with:

http://msdn.microsoft.com/en-us/library/system.runtime.interopservices.registrationservices.registerassembly(v=vs.90).aspx

Which should be a more robust and reliable way to register COM servers in assemblies. See also #71.

[2015-01-23 09:11] AngeloG commented on #72
I also noticed that calling `srm uninstall test.dll` causes srm to error out with an uncaught exception.

[2015-01-28 16:17] spustlik commented on #49
In my case, I was able to reproduce similar problem on 64bits (Windows 8.1). Cause of problem is that ServerManager (for some reason) is running in 32bits mode, but NativeBridge is loading x86/64 dll by Environment.Is64bitOperatingSystem flag.
After googling, it seems to be solution to test System.IntPtr.Size == 8 as 64 bit process.
See pull request #73.

[2015-01-29 04:00] dwmkerr commented on #49
Hi @spustlik great work, I'll take a look over the PR when I finish work today

[2015-01-29 04:03] dwmkerr opened #74 "Integrate Build Process"
Probably appveyor, plus an auto deploy?

[2015-01-29 11:44] Traubenfuchs commented on #45
I just wanted to comment that this problem still persists in V2.2: The new entry is visible in the contextmenu when right clicking a shortcut, but the Click event is not executed... My workaround to interacting with shortcuts is adding something to the send to menu.

[2015-01-30 08:53] dwmkerr commented on #45
Thank @Traubenfuchs I'll look into this

[2015-02-02 07:36] dwmkerr opened #75 "Consider deploying SRM as a Nuget package"
Might make it easier for users to grab the right version...

[2015-02-15 18:59] umutozel opened #76 "Can't use PreviewHandler for Directory"
Thanks for this great project.

AssociationType.Directory does not work for PreviewHandlers,
I tried with a few dummy project and then tried with your sample (IconPreviewHandler) by changing the AssociationType from .ico ClassOfExtension to Directory, it did not work, when I rollback to original code it works with .ico files.

Thanks again for your efforts.

[2015-02-16 05:12] dwmkerr commented on #76
Thanks for letting me know @umutozel , I'll see if I can fix this for the next release

[2015-02-17 07:21] umutozel commented on #76
Thank you, I can't wait!

[2015-02-18 08:58] nicolas-raoul opened #77 "Context menu does not show up on Windows 7 with Symantec antivirus"
My software (let's call it "MySo") is a small window that appears after clicking the "MySo" item in Windows Explorer's file context menu.
It is implemented with Sharpshell, and works fine almost everywhere, EXCEPT with in a particular company (all computers of that company). This company uses Symantec antivirus, could this be the cause?

This company's computers are fully-updated Windows 7 PCs wit

[2015-02-25 20:04] xmichaelx opened #78 "Files not released by SharpThumbnailHandler"
I generate thumbnails following way:

[code]

Yet when thumbnails are generated for a folder and all of them are generated I still can't delete them because another process is still using them. Turned out that this process is COM Surrogate.After killing it I can delete files.

It turns out that it must keep references to a few last files because after I entered a second folder in which there was a

[2015-02-26 11:04] dwmkerr commented on #78
Sounds like a problem in the internals of SharpShell, I'll look into it ASAP

[2015-02-27 09:07] dwmkerr commented on #77
Hi @nicolas-raoul this could indeed be antivirus related. Have you seen anything unusual in the event log? You may need to look into the antivirus settings for the company and see if the policy can be updated, it may need to exclude the assembly from certain checks. Normally there should be an antivirus log which will detail whether it is blocking somethign

[2015-02-27 09:13] nicolas-raoul commented on #77
Do you mean Windows' event log (which I see mentioned as http://windows.microsoft.com/en-us/windows/open-event-viewer#1TC=windows-7)? Or do you mean the event log of the event log?

I will investigate this, thanks a lot! I will report my findings :-)

[2015-02-27 09:22] dwmkerr commented on #77
Hi @nicolas-raoul yeah the Windows Event Log will typically contain warning messages if unusual things are going on in the shell and so, definitely worth a quick check (in the 'Application' section normally)

[2015-02-28 15:16] honestabelink commented on #78
I was using SharpShell and ran into the same issue as @xmichaelx.
@dwmkerr I don't think SharpShell is disposing of the COM IStream correctly...

MS's implementation of a ISteam wrapper
https://msdn.microsoft.com/en-us/library/jj200585%28v=vs.85%29.aspx

        {
            if (m_stream != null)
            {
                Marshal.ReleaseComObject(m_stream);
                m_stream = null;

[2015-02-28 17:36] dwmkerr commented on #78
Thanks for updating the issue @honestabelink, I'll update and release shortly :+1:

[2015-03-02 13:36] xmichaelx commented on #78
When do you plan next release? :)

[2015-03-08 13:54] Countryen opened #79 "SharpNamespaceExtension = InfoBar/StatusBar possible?"
Hello,

I'm currently trying to get the size of every directory shown in the "InfoBar" (I don't know the correct name - Windows 7 Explorer the bottom bar (if activated!))
https://msdn.microsoft.com/en-us/library/windows/desktop/cc144095%28v=vs.85%29.aspx#unknown_65306
( I guess it's called "StatusBar" )

So I read a bit and thought it would be achievable by creating a NamespaceExtension (or rather

[2015-03-08 16:47] Countryen commented on #79
Hey again,

I made progress:
![github](https://cloud.githubusercontent.com/assets/11256873/6546577/f4ba0a32-c5b8-11e4-941e-790b747f5aa3.PNG)

So it really works, thats nice.

Now, I want the information shown at 1 at position 2 (in the "StatusBar")
Any Idea?

 I will try the different `VirtualFolder`s next.

Solution so far:
Added Attributes as following:
[code]
Then I had to manually add a Regist

[2015-03-13 15:59] mestefy commented on #45
Hi there. After fiddling with the code it seems that the problem lies with SelectedItemPaths from ShellExtInitServer. When selecting multiple files, including a shortcut (.lnk file) and right clicking the shortcut file, SelectedItemPaths will contain ONLY the path referenced by the shortcut (e.g if you have a Foo.lnk on desktop and will reference c:\program files\Foo\Foo.exe the path retrieved wil

[2015-03-22 15:00] allencharp opened #80 "How to store the data in sharpshell"
Hi

Is there any elegant way to make the data persistent in sharpshell ?

i.e. how to keep the data in regedit ... ?

[2015-03-23 09:02] dwmkerr commented on #80
Hi,

It depends what data you want to make persistent. Basically you have a few
options- the registry, the file system or something more specialised such
as a database.

This is not a sharpshell specific thing so you will be able to find many
examples on msdn.

Cheers,

Dave

On Sunday, March 22, 2015, Liu Zhidong <notifications@github.com> wrote:

[2015-03-23 09:08] #80 closed

[2015-03-24 01:33] allencharp commented on #80
Hi,

Thanks for your answer :+1:

I have closed the issue

[2015-03-24 09:18] dwmkerr commented on #80
No probs, good luck!

[2015-03-25 22:00] umutozel commented on #76
I realized if I register and install server for both 32 and 64 bit, everything works perfectly.
Just wanted to let you know.

[2015-03-31 10:25] dwmkerr commented on #76
Thanks @umutozel, the [Troubleshooting SharpShell Servers](https://sharpshell.codeplex.com/wikipage?title=Troubleshooting%20SharpShell%20Servers) guide has been updated!

[2015-03-31 10:25] #76 closed

[2015-04-01 11:53] mestefy opened #81 "SharpShellServer: Register/Unregister problems"
On 64-bit OS-es, 32-bit applications cannot view correctly OverlayIconIdentifiers in OpenFileDialogs or SaveFileDialogs.
The solution should be to register the shell server with both the 32-bit RegAsm and 64-bit RegAsm. However this will result in an incorrect behavior, because the Register/Unregister methods from the shell server take in account the the OS architecture and not the process type th

[2015-04-02 13:35] xmichaelx commented on #78
@honestabelink  Where did you put `Marshal.ReleaseComObject(m_stream);`? Inside overriden `Bitmap GetThumbnailImage(uint width)` method or did you put it somewhere inside SharpShell internals? SharpThumbnailHandler or InitializeWithStreamServer  possibly?

[2015-04-02 15:33] honestabelink commented on #78
@xmichaelx,

In the end I chose just to implement everything myself, ( I only needed basic thumbnailing ).

Here's a paste-bin for you.
http://pastebin.com/Vr3k0Hw2

Should be all you need as long as you know how to set up registering it and all.

If you'd like to continue to use SharpShell... ( i didn't test this, but this should work )

https://github.com/dwmkerr/sharpshell/blob/b709f111d53903ee

[2015-04-02 17:32] xmichaelx commented on #78
@honestabelink, big thanks. I'm going to fork SharpShell for now and add your changes and use that until this bug is fixed in here.

[2015-04-03 16:32] nicolas-raoul commented on #77
Sorry for the delay!
Indeed, the event log contains information that I am not sure how to interpret, but that seems relevant:

[code]

Any idea how to solve that problem? Maybe Symantec is somehow protecting the registry? Or maybe it has nothing to do with Symantec and there is a Windows setting that is incompatible with SharpShell?

[2015-04-15 18:01] Krovavii opened #82 "SharpShell Namespace crashes"
Hello!
I need create an virtual folder. I found SharpShell and start learn it.
But there are 2 problems.
First. When i install any sample projects, like RegistryNamespaceExtension, it's crashed at SHCreateShellFolderView call in DefaultNamespaceFolderView.cs in CreateShellView method. VS catched unhandled AccessViolationException exception.
This problem is exists on Windows 7 X86 and X64. I used V

[2015-04-15 19:00] dwmkerr commented on #82
Hi @Kovavii sorry about this but the namespace extensions are still work in progress which is why they are not working for you. An access violation exception when dealing with interop of this nature will almost always be a marshalling issue (either a data structure is incorrect or a function signature, or there are problems with x86/x64 mode). This are complex issues to resolve which is why the na

[2015-05-22 14:22] sergey-tihon commented on #68
When do you plan to release `v2.3`?

[2015-06-19 05:46] kkguo opened #83 "if the file type is not existing, the registration will be failed."
I'm creating a icon handler for a new file type, which is not existing yet. the registration will be fail due to the  registry key is not there.
and also it's not possible if I want to add a new class name for existing file type.
I'm writing code to have multiple association attribute including file type and class name at same time, so we could change the original class or create a new class.

And

[2015-06-26 11:11] tolgaevcimen commented on #45
Are there any improvements or workarounds found for this issue? Or are you guys planning for a solution on this problem?

[2015-06-28 00:46] kkguo opened #84 "How to create multiple handler in one assembly?"
I would like to use one dll to handle multiple handler, such as IconHandler, InfoTip, but due to the multi inherent limitation in c#, looks not that easy. I need to copy all the other handler code into my class. Is there any easier way to do it? or tell me why I shouldn't do it in one dll.

[2015-06-29 06:33] Countryen commented on #84
What do you mean by copying all the other handler code into your class?

AFAIK you sure can add more than one handler-class into 1 dll. Just add extra classes. You can even write your custom Registration script.

Or what exactly do you want?
Could you provide an example?

[2015-06-29 14:12] kkguo commented on #84
I was implementing different handler in same class, what I did is my class inherits one handler and multiple Interfaces, and I copied the interface implementation from your handler classes, like:
[code]
but you are saying I should implemented different classes. I will try this.
BTW, should I assign different GUID to different classes?
Somehow I'm explicitly declaring Guid attribute  on the class a

[2015-06-29 14:34] kkguo commented on #84
Yes, you are right, I shouldn't implement everything into one class, instead, I should create classes for Handler, QueryInfo, ContextMenu respectively, with different GUID
and I got one dll contains all the handlers. the register and custom register function works well.
Thank you!

[2015-06-29 20:18] #84 closed

[2015-07-03 02:53] kkguo opened #85 "extension doesn't work in fileopen dialog window"
My extension working well in explorer, but in the file-open dialog, neither the icon handler nor context menu handler works. I checked the log, looks like the extension is not even loaded.
![openfiledialog_issue](https://cloud.githubusercontent.com/assets/485503/8491791/2d4d4bd4-210d-11e5-82bc-35667b8c4eef.png)

[2015-07-07 19:50] dwmkerr commented on #85
Hi @kkguo is this for any file open dialog? Or just one from a certain program? They can be created with various options, some of which may possibly interfere with the shell extensions...

[2015-07-07 20:54] dwmkerr commented on #45
All,

A full reproduction of the issue is:

1. Checkout branch `d/ContextMenusForShortcuts`.
2. Build in debug mode and run.
3. Register the 'DebugContextMenu' extension from the samples.
4. Open the explorer window from the Server Manager.
5. Navigate to the `sharpshell\Tests\TestData\ContextMenus\Shortcuts` folder.
6. Select both files.
7. Right click on the first file (not a shortcut) and see e

[2015-07-07 22:41] dwmkerr commented on #45
Hi All,

b6a0440 fixes the first issue (the exception) which gets us somewhere. However there is a separate issue which is more complex. Select two files, one a shortcut and one a normal file. Right click on the normal file and everything works as expected. Right click on the shortcut and you will only get the shortcut target in the selected item paths. This is the issue mentioned above.

However,

[2015-07-08 04:29] kkguo commented on #85
No matter from what program, I cannot see shell extension in file open dialog window, I can see some extension, but I guess they are native win32. But I recently realized it maybe only happen in my machine,  my user didn't report issue like this. I'm using win7 64bit enterprise. I'm trying to dig more, I will close if I can find a clue, or I cannot..

[2015-07-22 15:16] SimplexAuctor commented on #67
Having the same issue I think.  I cannot use a folder as the drop target (either by dragging over a folder or the blank space).  Dragging over files displays the "link" annotation and show the correct events firing in the debugger, but not folders.  I have tried the following annotations:
[COMServerAssociation(AssociationType.Class, @"Directory\Background")]
[COMServerAssociation(AssociationType.A

[2015-07-28 19:17] SimplexAuctor commented on #7
Not sure if this is the best place to post this, but I would like to add a comment on one of the namespace extension issues.

In DefaultNamespaceFolderView.cs the call to Shell32.SHCreateShellFolderView is marked as failing.  This is true, but in my case it works the first time after explorer starts.  It fails every time after that.  The columns I define do not show up either way.

This makes me t

[2015-08-15 07:48] aguedob opened #87 "CreatePages function not called in SharpPropertySheet example for Windows 2012r2"
I´ve done several tests and seems that CreatePages function is never called when the server is registered in Windows 2012R2. I´m sure that the server is properly registered, because CanShowSheet function is called, but even it returns true, CreatePages is never called.

I´ve tried using the example for Property sheets in the main branch and also recompiled sharpshell.dll, but no success.

UPDATE:

[2015-08-17 00:11] DanielBrownAU commented on #87
Im also having problems on Windows Server 2012 R2 with Property sheets, Tho I have done limited testing, I can reproduce it fine. Will pas son more detail when I have it, but just wanted to second this issue on Windows Server 2012 R2

[2015-08-18 06:49] aguedob commented on #87
I've realised that when I recompile sharpshell, the project for NativeBridgeLibrary was not recompiled because I didn't have C++ tools installed in my VS. After installing and recompiling this project it works fine on x64, so it seems that the main branch is ok.

[2015-08-19 02:27] DanielBrownAU opened #88 "Many Property Sheets"
I have created two Property Sheets.

When a single one is registered, there is no problem and everything works as expected.

When both are registered. The ListView on Sheet A throws a null reference error when trying to add an item for the first time. I have attached the debugger and the listview is created and its Items collection is also initialized. Note: works fine when the 2nd sheet is not re

[2015-08-20 04:27] jtanx opened #89 "How to use SharpDeskBand"
I've been having some trouble getting the desk band to work (Windows 10 64-bit), and was wondering if I'm doing anything wrong. I tried compiling the sample desk band and it registers fine via the server manager.

Initially, it didn't show up in the list of desk bands, so I had a look in the registry. I manually added the 'Implemented Categories' key, which made it appear in the list of available

[2015-09-04 11:49] sagaru opened #90 "Registering a dll built on 64 bit machine doesn't seem to work on 32 bit machines"
Hello Dave,

Thanks alot for the awesome library, I built a project involving ContextMenu and Overlay Handlers. My development machine is 64 bit system. I built with release Mode(_Solution Config_) and Any CPU(_Solution Platform_) settings.

I am able to register the dll on other 64 bit machines and its working fine. If I try to register the same dll on 32 bit system It doesn't get register.

I'm

[2015-09-04 15:45] Countryen commented on #90
You could try using the configuration (Platform) for x86 instead of Any CPU.

[2015-09-04 22:02] sagaru commented on #90
@Countryen Ya that would create another dll for 32 bit machines which I am trying to avoid here.

[2015-09-05 17:23] kkguo commented on #90
I have compiled as any platform in my project without problem, I'm using regasm to register. Please check the source at apkshellext

-----原始邮件-----
发件人: "sagar UDAY KUMAR" <notifications@github.com>
发送时间: ‎2015/‎9/‎4 18:02
收件人: "dwmkerr/sharpshell" <sharpshell@noreply.github.com>
主题: Re: [sharpshell] Registering a dll built on 64 bit machine doesn'tseem to work on 32 bit machines (#90)

@Countryen

[2015-09-05 17:48] Countryen commented on #90
@sagaru Why do you want to avoid that? You want it to run on 32bit so it would be best to compile for 32bit.
It's at least worth a try.

[2015-09-06 16:57] sagaru commented on #90
@Countryen The idea is just to have only one dll compatible for all machines. (dll compiled on 32bit machine does work on other 32bit machines)

@kkguo Thanks for comment and for giving reference to your project, I'll check and get back to you. meanwhile have you even tried with dotnet TargetFrameworkVersion as v4.0 sometime?

[2015-09-14 07:52] nicolas-raoul commented on #90
From my experience, you can not mix 32 and 64.
I always distribute both 32bit and 64bit versions of my program, explaining which one to install. If there is any easier way I would be glad to hear about it though :-)

[2015-09-14 08:02] nicolas-raoul opened #92 "Server Manager: ArgumentOutOfRangeException at GetKeyForServerType"
I just pulled the latest source code on my 32bit machine, rebuilt all SharpShell, and started following the [overlay tutorial](http://www.codeproject.com/Articles/545781/NET-Shell-Extensions-Shell-Icon-Overlay-Handlers). Towards the end, the tutorial says:

PROBLEM: Using [downloaded Server Manager 2.2](https://github.com/dwmkerr/sharpshell/releases/tag/v2.2), `Install Server (x86)` runs smoothly,

[2015-09-14 16:34] kkguo commented on #90
@nicolas-raoul , for .net dll, yes, you could compile the dll as "any cpu", and it will be loaded both 32bits and 64bits according to loading environment.

[2015-09-18 03:04] nicolas-raoul commented on #92
The following code has no case for when serverType is `SharpShell.ServerType.ShellIconOverlayHandler`:
[code]

[2015-09-19 12:27] dwmkerr commented on #49
Resolved with a40e66b.

[2015-09-19 12:27] #49 closed

[2015-09-30 11:40] fvandepitte opened #93 "Could it be possible to create a Prefix option for IconOverlayhandlers"
Windows does not support a lot of IconOverlayhandlers (It think 15).
Dropbox and Onderive both start their handlers with spaces to be on the top leaving none for other users.

It would be handy to create your own prefix for the registry item.
![screenshot-1](https://cloud.githubusercontent.com/assets/5073559/10191932/d3bed058-6778-11e5-8980-077ed48fd913.png)

[2015-10-07 14:49] sagaru commented on #39
@gair I wanted to the exact same thing, after a little struggle I figured out a way to do it, I just added an example and made a pull request, I have written an article to explaining this. (links below)

Article:
http://www.codeproject.com/Articles/1035998/NET-Shell-Extensions-Adding-submenus-to-Shell-Con

Pull request:
https://github.com/dwmkerr/sharpshell/pull/94

[2015-10-07 23:05] sagaru commented on #27
I found a small workaround, with which we can make each menu items implement a logic to display the menu/ submenu items. Each time once we select a file/folder CanShowMenu method will be called, we can indirectly invoke CreateMenu method via this method. We can dynamically load the menu and submenu items i.e, we can show each menu/submenu items based on its own logic.

I just added an example and

[2015-10-12 10:56] FrogsInSpace opened #95 "PropertySheets don't register for specific extensions/extension classes: always register for all files"
I can't get propertsheets to register for a specific extension or class of extensions only:
 CanShowSheet() always gets triggered for ALL filetypes i open the file properties for (using RMB menu in explorer).

This was true for all versions i tested, and i even pulled the latest github source and rebuild everything: still the same. Even the FileTimesPropertySheet example does'nt register for a spe

[2015-10-14 09:27] Almis90 opened #96 "Overlay icons appearing only in shell debugger"
I followed all the steps but the overlay icons not appearing, only if I using Shell Debugger. Can someone tell me what I miss?

https://drive.google.com/file/d/0B8lAfI0XqQq7VXBHcjBIeGU2eWs/view?usp=sharing

[2015-11-14 02:16] KeithLRobertson opened #97 "International characters marshal incorrectly"
SharpShell.Interop.Shell32.DragQueryFile() should marshal lpszFile as LPTStr, i.e. signature should be
DragQueryFile(IntPtr hDrop, uint iFile, [Out, MarshalAs(UnmanagedType.LPTStr)] StringBuilder lpszFile, uint cch);
per https://msdn.microsoft.com/en-us/library/windows/desktop/bb776408%28v=vs.85%29.aspx

It was a long time ago, but I believe I discovered this when paths containing Russian characte

[2015-11-17 07:57] nicolas-raoul commented on #96
I downloaded your solution, replaced the content of your `CanShowOverlay` method with just `return true;`, compiled in my Windows 7 32bit/Visual C# 2010, loaded the resulting `TestSharpIconOverlayHandler.dll` in SharpShell Server Manager 2.2.0.0, clicked `Install server (x86)` then `Register server (x86)`, then started a new Windows Explorer window.
Result: The overlay shows up on every file.
Coul

[2015-11-23 22:55] peder commented on #89
I, too, could use a quick tutorial on using the `SharpDeskBand` class. It's non-obvious how to, for instance, create a DeskBand that sits in the taskbar.

[2015-12-09 21:22] otociulis commented on #82
Hi, I think I solved this in #98, would you mind double checking it?

[2015-12-14 02:36] curiousdannii opened #100 "Return null from GetThumbnailImage causes a GDI+ error"
I'm just getting started using SharpShell 2.2.0 and am trying to test a thumbnail handler in the Server Manager. (I haven't tried testing it in the real shell yet.)

If I return null from the handler I get this error:

[code]

And then a long list of assemblies.

My cut down code:

[code]

[2015-12-21 22:57] burgua commented on #93
+1 to this

[2016-01-20 18:54] ahmedtolba1984 opened #101 "How to change SharpShell Icon Overlay handler name to contain space in registry to take priority over Dropbox and other programs?"
Hi All , @nicolas-raoul , @dwmkerr , @hmemcpy , @overengineered
I want to change Sharpshell Icon over handler name so, my handlers will take precedence over other handlers. I noted that Dropbox and Google Drive use space in their handler names so, they take precedence over my sharpshell handlers but i can't add space to my sharpshell handler names as c# compiler doesn't allow space in class names;

[2016-01-20 19:12] ahmedtolba1984 commented on #93
@fvandepitte , @burgua  Have you found a solution for this issue? I am also facing the same issue

[2016-01-20 19:14] burgua commented on #93
@ahmedtolba1984 we have made custom exe for this purposes, that renames entry in regedit.

[2016-01-20 19:51] fvandepitte commented on #93
@ahmedtolba1984 Same here. We made a custom regesitration tool.

[2016-01-21 11:02] ahmedtolba1984 commented on #93
@fvandepitte  Could you clarify how you do this with example? How you create a custom registeration tool with sharpshell extensions?

[2016-01-21 11:04] ahmedtolba1984 commented on #93
@burgua  @fvandepitte You could post the sample code that do this trick as i am necessary want this function?

[2016-01-21 12:07] fvandepitte commented on #93
Here you go @ahmedtolba1984

        /// <summary>
        /// The custom registration function.
        /// </summary>
        /// <param name="serverType">Type of the server.</param>
        /// <param name="registrationType">Type of the registration.</param>
        [CustomRegisterFunction]
        internal static void CustomRegisterFunction(Type serverType, RegistrationType registrationType)

[2016-01-21 19:05] ahmedtolba1984 commented on #93
Hi @fvandepitte
Thanks for your help; I will try and give you my feedback

[2016-01-22 13:44] andersforsgren opened #102 "Preview handler error in Windows 8.1"
AbcPreviewHandler fails to work under Windows 8.1/x64.
Other samples, such as a thumbnail provider works fine.

The SharpShell log says

    Message: Abc Preview Handler: Instantiating preview handler.

And nothing more, so no other method with logging is called in SharpPreviewHandler.cs When the preview handler should be invoked, the preview pane in explorer shows ""This file can't be previewed b

[2016-01-26 09:05] andersforsgren commented on #102
After debugging it turns out it was a registration issue of some kind, coupled with a permission issue with logging (for some reason prevhost could not write to a logfile in \Temp after the registration). This can be closed.

[2016-01-26 09:05] #102 closed

[2016-01-26 14:15] ahmedtolba1984 commented on #93
Hi @fvandepitte
Thanks it works fine

[2016-02-19 05:11] nicolas-raoul opened #103 "CompositionContractMismatchException at ServerRegistrationManager.Application.InstallServer"
I created an icon overlay project by following the exact steps at http://www.codeproject.com/Articles/545781/NET-Shell-Extensions-Shell-Icon-Overlay-Handlers then I unzipped srm from https://github.com/dwmkerr/sharpshell/releases/tag/v2.2

Unfortunately, when I run `srm.exe theextension.dll -codebase` I get:

[code]

Windows 8.1 Enterprise

[2016-02-22 13:42] ahmedtolba1984 opened #104 "Is possible for FileSystemWatcher to watch for Folder/File Opened?"
Hi @nicolas-raoul  @hmemcpy  @dwmkerr  @overengineered
I want the FileSystemWatcher to watch Folder/File opened. Is this possible?

[2016-02-22 15:24] ahmedtolba1984 commented on #104
Any help?

[2016-02-23 03:18] nicolas-raoul commented on #104
This has nothing to do with SharpShell, right?
Please close and ask on StackOverflow instead. Cheers!

[2016-02-23 09:18] ahmedtolba1984 commented on #104
@nicolas-raoul
Sorry, I was intended to ask this question regarding CMIS Sync Repository

[2016-02-24 00:27] addegofly commented on #78
@honestabelink, I tried to add the Dispose method and recompiled the sharpshell, the file will not be held by sharpshell any more. However, the thumbnail can not be correctly displayed any more. The weird thing is that if I use the tool server manager (provided by dwmkerr), the thumbnail could be displayed correctly...

@dwmkerr Will you solve this issue soon? Thanks.

[2016-03-15 17:36] abhinavananddba commented on #68
Hi ,
Any news on when to expect the issue fixed?

[2016-03-26 10:53] hmemcpy opened #105 "Unable to install 32-bit only shell extension"
Hello,

I ran into an unfortunate situation, where one of the assemblies I depend on is x86, meaning that my own shell extension has to be x86 itself.
Unfortunately, it looks like both srm and the GUI are unable to register it properly - it doesn't show in Windows Explorer.

First, I had to compile the ServerManager in x86 for it to load my dll in the first place. It works fine in the test shell,

[2016-03-26 17:12] hmemcpy commented on #105
Upon further reading on the subject, I now realize opening 32-bit shell extensions in 64-bit Windows Explorer is impossible :(
Oh well, I'll try to think of a solution that don't require me to take a dependency on a x86 DLL...

[2016-03-26 17:12] #105 closed

[2016-03-27 16:33] furesoft opened #107 "IconHandler dont work"
hi,

i have written an IconHandler. it works fine in the Server Manager, but when i register with srm.exe it will not work in explorer.

[2016-03-30 13:13] andreagiraldin opened #108 "Wrong dependency into embedded SharpShellNativeBridge64"
Hi,

I've found a bug in Release version of your library.
The SharpShellNativeBridge64.dll embedded in SharpSehll project is the Debug version and it depends from MSVCR120D.dll.
Of course we cannot deploy in our installers debug version of C Runtime library.
Maybe something went wrong during the build toolchain.

I've an additional request for you (just an idea).
In Release version of SharpShellNa

[2016-04-02 17:05] Dramacydal commented on #107
do you mean SharpThumbnailHandler ?
for me too

[2016-04-02 18:01] Dramacydal opened #109 "Thumbnail handler has no effect in windows explorer"
There is effect in server manager though

![snap00044](https://cloud.githubusercontent.com/assets/3624156/14228168/14330b34-f916-11e5-9984-148d4d3645d0.png)

[2016-04-07 09:20] dheerajkbhat commented on #41
@dwmkerr

Hi i am still facing the same issue i tried selecting multiple files but always the selecteditems path returns 1 file I am using the latest version from nuget

Attach my code below kindly help me out

 `private void act_ex(int code)
        {
            String p = @"C:\Temp\";

            int c = 0;

                     foreach (var filePath in SelectedItemPaths)
                   {

[2016-04-12 16:41] falahati commented on #45
Hey, thanks for the framework,
This fix is still not in the nuget package, is it?

[2016-04-13 11:16] burgua opened #111 "Restart explorer issue > not every explorer process is killed/restarted"
Hi Dave!

Btw, nice library ;)

Ihave some issue with RestartExplorer() in ExplorerManager. RestartExplorer  doesn't restart explorer, if few instances of explorer process are opened.

https://github.com/dwmkerr/sharpshell/commit/e3f63695a242acd563f84749b486e8d25bed8ef3#commitcomment-17083261
Rewriting this to loop helped us.

Otherwise, restarting explorer after killing can be disabled by user wi

[2016-04-15 11:01] oguimbal commented on #93
@fvandepitte  You've saved my day :)

[2016-04-18 14:10] Rishabh-V opened #112 "Support Shell Namespace Extensions"
Was wondering if its possible to write a shell namespace extension to create a virtual folder (Fetch data from SQL Server and display files) using SharpShell ? If yes, is there a sample or guidance available which I can refer to? If not, do we plan to have this feature in near release?

[2016-04-19 06:46] snadahalli commented on #96
I have this exact same problem.

And I can reproduce the issue using the above mentioned code by @Almis90.

My setup:
*********************************************

Windows 10

Microsoft Visual Studio Community 2015
Version 14.0.24720.00 Update 1
Microsoft .NET Framework
Version 4.6.01038
Installed Version: Community

SharpShell: 2.2.0 installed using NuGet

After building the project, I have inst

[2016-04-19 12:08] DanielBrownAU commented on #96
I'm having the same problem. Even with the sample one on Windows 10.

It shows in the Open Dialog of Server Manager, but does not show. Likewise with a fully patched Windows Server 2012 R2 Server. I'm unable to get icon overlays functioning.

One thing I have not tiered is placing the assemblies in the gac as I've been using code base.

[2016-04-20 04:40] DanielBrownAU commented on #88
New Server. Windows Server 2012 R2, fresh install of everything, including visual studio. Still produces the exact same error.

CLicking on 1 Sheet is fine, clicking on #2 then back to #1, the sheet goes blank. OK, Cancel buttons just crash explorer.

Has anyone else experianced this problem?

[2016-04-20 04:47] DanielBrownAU commented on #88
Faulting application name: explorer.exe, version: 6.3.9600.17039, time stamp: 0x53156588
Faulting module name: unknown, version: 0.0.0.0, time stamp: 0x00000000
Exception code: 0xc0000005
Fault offset: 0x00007ffc82a16797
Faulting process id: 0x2c50
Faulting application start time: 0x01d19abbd26eee66
Faulting application path: C:\Windows\explorer.exe
Faulting module path: unknown
Report Id: 7fdf0f9

[2016-04-26 15:58] colinluke opened #113 "NativeBridge failing to initialize"
When I tried to test my property sheet it wouldn't load when I went to my file and clicked properties. I downloaded the source and was able to track it down to line 56 of NativeBridge.cs. When it tries to load the library in the Temp folder, the windows handle is zero. The file exists. Is there some special way I need to start the ServerManager? Is this some hidden Windows security feature? I have

[2016-04-26 18:27] colinluke commented on #113
I turned on File logging. This is what I got as output:

`Message: SharpShell Diagnostics Initialised. Process ServerManager.
Message: EncrypticsPropertySheet: Constructing property sheet.
Message: EncrypticsPropertySheet: Constructing property sheet.
Message: EncrypticsPropertySheet: Initializing shell extension...
Message: EncrypticsPropertySheet: Shell extension initialised.
Parent folder: <non

[2016-04-26 19:23] colinluke commented on #113
SharpShell.NativeBridge.SharpShellNativeBridge64.dll is the resource attempting be to loaded. That seems to be what's failing. It's not failing when I run my context menu server. Do I have to put my context menu and property sheet into separate assemblies?

[2016-04-27 02:23] colinluke commented on #113
I did not see [Issue #87](url). I installed SharpShell from nuget. I've tried linking to the version in the SharpShell nuget package, the SharpShell Tools nuget package and I've even tried rebuilding the SharpShell project from the source code. In every case I could not get the 64 bit native bridge resource to load. I can't seem to find a way to force the server manager app to run in 32 bit enviro

[2016-04-27 13:03] snadahalli opened #114 "Unhandled Exception while running srm.exe"
Hi,

I have created a simple icon overlay extension. When I try to install it using srm.exe I get the following error

Unhandled Exception: System.ComponentModel.Composition.CompositionContractMismatchException: Cannot cast the underlying exported value of type 'SharpShell.SharpShellServer (ContractName="SharpShell.ISharpShellServer")' to type 'SharpShell.ISharpShellServer'.
   at System.Component

[2016-05-03 15:37] TrabacchinLuigi commented on #107
same here, also the sample does not work for me once registered ...

[2016-05-03 17:42] kkguo commented on #107
Try regasm to register.
I have my project applying ShapThumbnailHandler, and it's working perfectly.
https://github.com/kkguo/apkshellext

[2016-05-04 19:03] TrabacchinLuigi commented on #107
Mine is an IconHandler, works in the test server, and don't in explorer, tried with regasm, editing registries by hand and using the install/register of the test tools

[2016-05-04 19:06] kkguo commented on #107
@TrabacchinLuigi , in my project, I also have a IconHandler there.

[2016-05-04 19:40] Dramacydal commented on #107
I've searched through project and haven't found any traces that would infallible icon handler class in explorer. It seems that code was accidently removed or lost with merges....

[2016-05-04 20:01] kkguo commented on #107
@Dramacydal , are you talking about my project? see this:
https://github.com/kkguo/apkshellext/blob/ApkShellext2/ApkShellext2/ApkIconHandler.cs
and btw, my repo default branch is not on master.

and if you are talking about Sharpshell, did you see this?
https://github.com/dwmkerr/sharpshell/blob/master/SharpShell/SharpShell/SharpIconHandler/SharpIconHandler.cs

[2016-05-06 09:45] andreagiraldin commented on #113
I already reported this issue. See #108.

[2016-05-06 09:53] andreagiraldin commented on #108
To fix the issue you need to:
- Change SharpShellNativeBridge project x64-Release configuration:
  Under "C/C++" -> "Code Generation" -> "Runtime Library" set "/MT" or "/MD"
  (if you set /MD you need also "Visual C++ Redistributable" installed on pc)
- Rebuild "SharpShellNativeBridge" project
- Replace "SharpShellNativeBridge64.dll" in "SharpShell" project under "NativeBridge" folder
- Rebuild "S

[2016-05-09 08:50] TrabacchinLuigi commented on #107
Still no luck, can't see any relevant difference between your project, except mine handle all files, but i tried also handling only dlls as the example and your project does, works in the server manager not in windows... need to find out what is going on ...

[2016-05-09 09:12] TrabacchinLuigi opened #115 "InvalidOperationException registering a dll"
[code]

got this exception registering a dll with an iconHandler class with the `[COMServerAssociation(AssociationType.AllFiles)]` attribute in windows 10, looks like the registry is missing a sub key, adding it solve the problem, but i can't make the icon handler work, so i got no idea if it's relevant ...

[2016-05-09 21:11] TrabacchinLuigi commented on #107
After some testing i think i figured out what is going on, the problem must reside in the registration, if the project initially have the attribute `[COMServerAssociation(AssociationType.AllFiles)] ` it won't work even after changing that, the only way of making it work again is changing the class GUID and the association to something that actually works ...
Also doing the inverse starting from a

[2016-05-10 10:10] TrabacchinLuigi commented on #107
I opened an issue for that #115

[2016-05-10 16:38] colinluke opened #118 "SharpIconOverlayHandler fails on register"
When clicking the Register button in the ServerManager app, if I have:
`[COMServerAssociation(AssociationType.FileExtension, ".xxx")]`
applied to a SharpIconOverlayHandler it throws an ArgumentOutOfRange exception because there's no swtich case for ServerType.ShellIconOverlayHandler. is this by design? I can't have an icon  overlay handler for a specific file extension?

[2016-05-11 07:04] markmnl commented on #101
Same issue here

[2016-05-11 07:12] markmnl opened #119 "Icon Overlay only returns one image, but multiple are needed for different sizes."
`SharpIconOverlayHandler.GetOverlayIcon();` returns a [`System.Drawing.Icon`](https://msdn.microsoft.com/en-au/library/system.drawing.icon(v=vs.110).aspx) which only contains one image at one size.

Problem is based on Windows Explorer view settings (e.g. tiles, small, medium, large, details etc.) a different sized icon should be used for the same overlay and there is no way to provide this in Sha

[2016-05-11 13:51] kkguo commented on #101
I have a changed version here:
https://github.com/kkguo/sharpshell/blob/5ccc277f6d1dd4bb04e86a30dc4015b4088fdad2/SharpShell/SharpShell/SharpIconOverlayHandler/SharpIconOverlayHandler.cs

I didn't request pull, because this is not a comprehensive solution, but it does work.

[2016-05-12 01:38] markmnl commented on #119
FWIW I have found using a 128x128 image with some padding to work well - it is scaled automatically for other resolutions.

[2016-05-12 16:50] betterclevername commented on #27
Looks like 2.2 didn't get the DropDownOpening event firing?

[2016-05-17 12:49] KeithLRobertson commented on #119
One .ico file can contain images of several sizes, and Explorer will choose the appropriate one depending on its view setting. Even passed through `Icon`, this is working. Find a good tool for creating .ico files with multiple images; I forgot what we used for that.

We embed several of these in our executable using the [InsertIcons tool](http://einaregilsson.com/add-multiple-icons-to-a-dotnet-app

[2016-05-17 13:22] KeithLRobertson commented on #118
No, Windows Explorer doesn't support that; there is no mapping in the Registry to specify which overlays apply by file extension. Instead for every displayed item, Explorer invokes your overlay handler which checks if it applies in its `CanShowOverlay()` override based on the file attributes and path. Code it to apply only to files named with certain extensions. Note: this approach is defined by E

[2016-05-18 02:08] colinluke commented on #118
Ok. Thanks for the info.

[2016-05-18 02:08] #118 closed

[2016-05-18 02:09] colinluke commented on #113
Recompiled source using Visual Studio 2013.

[2016-05-18 02:09] #113 closed

[2016-05-18 02:40] colinluke opened #121 "PreviewHandler not working in Explorer"
My PreviewHandler works perfectly in the Shell Tester but not in Explorer. When I click on it the Preview Pane says "This file cannot be previewed because of an error in the {name of my handler}." What am I doing wrong? I added log messages that show up in the log when running it in the test shell but nothing happens when I run it in Explorer. Could it be a registration issue? Do I need to change

[2016-05-18 02:47] colinluke commented on #121
Update: I tried SurrogateHostType=SurrogateHostType.PrevHost. While this is not recommended it seems to have worked on my Win7 dev machine. Am I setting myself up for future failure though?

[2016-05-18 11:46] markmnl commented on #119
While an .ico file contains multiple (I use Gimp to create mine) all the methods `System.Drawing.Icon` choose only one of those images.

I suspect Windows explorer then scales that one image it has which is why it appears to work for you.

Thus using one higher res image with padding (otherwise the whole icon is covered for smaller views) to work best, but its still not perfect.

[2016-05-19 18:25] KeithLRobertson commented on #119
Ah, yes, you're absolutely right. The reason it works for me is because I discovered this problem a long time ago and worked around it, and I have since forgotten about it.  :-)

[BaseIconOverlayHandler.cs](https://github.com/dwmkerr/sharpshell/files/273190/BaseIconOverlayHandler.cs.txt) may help you.

[2016-05-27 08:18] Atrejoe opened #122 "Error While registering component : "Cannot open the class key""
I was intrigued by this wonderfull tool and tried to create a MarkDown preview handler.

However when I tried to register the assembly, I received:

[code]

Could this be related to https://github.com/dwmkerr/sharpshell/pull/86 ?

It may be worth mentioning that I'm on Windows 10 64bit, running

[2016-06-17 15:18] Dramacydal commented on #107
it seems that developer polozhil bolt on project and even replying, although he has activity on neighbouring projects

[2016-06-17 16:16] AbdoSalem95 commented on #38
I think there's more to it than a separate base class. I've created a InitializeWithFileServer.cs which is essentially the same as InitializeWithStreamServer.cs except it implements IInitializeWithFile instead of IInitializeWithStream. They both implement SharpShellServer as is.

I used that to create a new SharpThumbnailHandlerWithFile.cs class and it does not reach beyond the constructor; that i

[2016-06-17 16:18] AbdoSalem95 commented on #109
Copy pasting the file would create a copy with the new thumbnail. There's no way to update the thumbnail otherwise unless the file is re-initialized. This could be done in some cases by editing it (ie with text files) but not always.

[2016-06-21 20:02] johnkoerner opened #123 "Replacing Menu Items in a ContextMenu"
I have a requirement where I need to remove some of the existing menu items in an IContextMenu.  To do this, I need access to the raw `hMenu` in a SharpContextMenu implementation. Is this a feature that you would accept back in the main SharpShell project?  If so, are there patterns elsewhere in the code that I should follow or any design discussions that should be had before I start implementing?

[2016-06-24 11:34] g-fusion opened #124 "PropertySheet Shell extension does not work for Windows 10"
Hello,

The examples from github (in this context PropertySheet Shell extension) doe not work for Windows 10.
The interesting part is that PropertySheet Shell extension do work for Windows 10 if I use this code (from here http://www.codeproject.com/Articles/573392/NET-Shell-Extensions-Shell-Property-Sheets) which is from 2013.
Also the Server Manager from github cannot load *.dll from code from 20

[2016-07-22 04:14] Voulz opened #125 "Feature Request : Shell Namespace Extension"
Hi Team,

Sorry, I didn't see any feature request in GitHub so I wrote in the issue.
Basically, I really like Sharpshell and I really have fun trying to integrate stuff in explorer.

To me, the missing possibility in Sharpshell right now is the Virtual Folder or the Shell Namespace Extension, mostly used right now by apps like Dropbox and OneDrive, adding a namespace in the treeview of Windows Exp

[2016-07-22 06:25] Countryen commented on #125
Hey,
I havent used the framework in a while but I am quite sure you can make a Namespace Extension with SharpShell.
It was my first testproject with sharpshell when I remember correctly.
There is an attribute for that I think.
If still needed I can look it up after work.
I am on 100% that I had such an Namespace Extension.
Greetings.
Am 22.07.2016 06:14 schrieb Voulz <notifications@github.com>:Hi

[2016-07-23 10:43] Voulz commented on #125
Hi Countryen,

Thanks for that, I really missed it out; there was even samples in the SharpShell Package. It wasn't really highlighted though.

Anyway, I am still not able to make it work - even the samples.
The Item appears in the explorer but when I try to go inside, I get an 'InvalidOperationException' stating that it "Failed to enumerate children.".
With some Logs, I was able to see that it wa

[2016-07-23 12:22] Countryen commented on #125
Hey Voulz,

I had problems, too. But for me just the registration would fail with the Exception "InvalidOperationException".

I got this:

[code]

I found out that there was following registry key:
HKEY_CURRENT_USER\Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved
But I needed following key:
**HKEY_LOCAL_MACHINE\Software\Microsoft\Windows\CurrentVersion\Shell Extensions\Approved

[2016-07-24 05:10] Voulz commented on #125
Hi Countryen,

Sadly, the problem doesn't come from here. They key is well set in my registry.
I've been digging through the SharpShell code though, and I found where the error was happening.
It actually crash after calling 'Shell32.SHCreateShellFolderView' on Line 39 of 'DefaultNamespaceFolderView.cs'. There is actually comments explaining that is not working for now:
[code]
I tried checking stuf

[2016-07-27 11:23] devel0 opened #126 "The specified path is invalid error"
I experienced error installing a component

details here https://github.com/Atrejoe/MarkdownPreview/issues/2#issuecomment-235555406

Have you any ideas about what is that ?
thanks

[2016-07-27 21:38] Countryen commented on #126
Hey devel0,

Can you provide the full exception text?
I just resolved a very similar issue with the registration and unregistration of the dll.

You need to look into (your or the default) function `CustomRegisterFunction `(Attribute: [CustomRegisterFunction]). It is called when you click "register" and you can easily "override" it to your needs (though the standard should work in every scenario).

[2016-07-28 07:26] devel0 commented on #126
Thanks for hints, meanwhile if useful, I post full exception text

[code]

[2016-07-28 16:43] Countryen commented on #126
Hey devel0,

I can reproduce the same error with my prototype now. It is your extension ".md" if you do the same registration with an extension with extension ".ico" (as in the sample) it should work.

Give that a try (just change the ".md" to ".ico" and rename your .md-file to a .ico-file).

Here is a picture why:
![image](https://cloud.githubusercontent.com/assets/11256873/17220326/13c844ae-54ef

[2016-07-28 17:22] Countryen commented on #122
Hey Atrejoe,

Can you reproduce the error with the ServerRegistrationManager or the ServerManager?
I run into the same error if I try to register it without installing it but not when using the RegAsm.exe
I remember struggling with the RegAsm.exe, though (in the past).
(Windows 10 x64, too)

Alternatively you can override the CustomRegisterFunction of your Server.
Here is the part which fails and

[2016-07-28 17:36] Countryen commented on #121
Hey coinluke,

Still got problems?
Sorry that I can't help you directly (do not have this error yet) but here are some thoughts.
- 32bit or 64bit?
- which .NET Framework?
- Did you use RegAsm.exe, SRM or the ServerManager for registration and installation of your server?
- Did you try it on another machine?
- Did you try it with another GUID?
- Does the sample preview handler (for .ico) work for y

[2016-07-28 17:48] colinluke commented on #121
I've put this project on hold for a while. But thank you for responding. I'll take your suggestions under advisement and try them out when I get back to working on the project.

[2016-07-28 19:10] Countryen commented on #115
Hey TrabacchinLuigi,

What exactly do you want to do? Assign an IconHandler to EVERY extension possible?

I doubt this will work as there is no classname for  the "*" extension (since it is technically no extension at all).

Adding "DefaultIcon" to the "HKCR\*"-key won't help either as it is the extension name not the class name (or PID).

You could instead scan the registry and just assign your I

[2016-07-28 19:58] devel0 commented on #126
Very thanks for detailed explanation, I was able to make it work.

[2016-07-28 19:58] #126 closed

[2016-07-28 20:06] Atrejoe commented on #122
Hi @Countryen,
Maybe this slipped your attention, I'm the author of the tool referred to in #126 :)
Currently I'm too swamped to get into this, I consider this to be a Sharpshell issue (ensuring class keys correctly I guess).
I would like to have this fixed t0o, as my project depend on this tool and I gues we;re not the only ones having isssues.

[2016-07-28 20:20] Countryen commented on #122
Hi @Atrejoe,

It did not ^^ I just thought it would be rude to mention it :)

Just try using the SRM.exe as it's purpose is to install the server correctly (without manually using the RegAsm-Tool).

But yes, I agree that the default registration should be improved to not just fail on such a case.

[2016-07-28 20:44] Countryen commented on #124
Hey @g-fusion,

I am developing with Windows 10 x64 and so far all my extensions work.
There are some issues to fix but most of them work.
-> Exception: Namespace Extensions (but they are not featured, yet).

So which extensions do not work under windows 10 for you?
I just made my own PropertySheetExtension (SharpPropertySheet) and they work after some work (see picture below)
![image](https://clo

[2016-07-29 00:35] DanielBrownAU commented on #124
Your log looks simular to something I was coming across with having 2 or more sheets.

They would work, but flickign between them would break the one loosing focus. More details at: https://github.com/dwmkerr/sharpshell/issues/88 but I had no luck resolviing the issue or trakcing it down (change strategy for the project)

[2016-07-29 08:43] devel0 commented on #126
Effectively to make it work I simply removed the .md entry from the HKCR,
I was tried with some combinations but I don't know the exact rule how to retrieve the classname for a file extension.
Do you know how to do that ?
thanks again.

[2016-07-31 17:59] Countryen commented on #126
Hey @devel0,

After deleting the key it did not throw an error but it does not work, does it? I mean does your preview show on .md-files now?

Sorry, no idea how to get the right class name for an extension. I googled it but found nothing.
I would guess it beeing "mdfile" but you need to create a HKCR\-key for it, too :/

[2016-07-31 18:31] devel0 commented on #126
It worked without the HKCR/.md key at all,
the md preview works too with some issue on the preview: initially I need to move the GridSplitter to activate the view cause it appears black at all, but that issue should related to the MarkdownPreview handler.

[2016-08-02 14:29] Otixa opened #127 "SharpIconOverlayHandler does not seem to work on windows10"
Hi,

I've tried implementing the SharpIconOverlayHandler but the icon overlay does not appear.
I've tried using both sample projects provided - and they don't seem to work either.
Tried on 2 machines, both with a build made in VS2012 and 2015
Any ideas would be greatly appreciated, and please let me know if there is any additional info I can provide to resolve this.

[2016-08-02 15:00] nberardi commented on #127
The version of .Net you compiled against must be on the computer. Windows 10 does work.

--
Nick Berardi
(484) 302-0125
Sent on the go from my phone.

[2016-08-02 16:04] Otixa commented on #127
I definitely have it installed.  I've tried building with 4.5, 4.5.2 and 4.6.1 with the same result.

[2016-08-03 16:23] Countryen commented on #127
Hey @Otixa,

Since you are using Win10 check out the following

Windows does not support endless IconOverlays. Often OneDrive, for instance, reserves them and blocks them for other programs. I think there are max 10 possible. Maybe your system is already full?

Greetings

[2016-08-03 17:25] nberardi commented on #127
There is a Max of 15

--
Nick Berardi
(484) 302-0125
Sent on the go from my phone.

[2016-08-04 10:01] Otixa commented on #127
@Countryen Thanks, that was indeed the case. Tortoise Git and Dropbox were registering 18 of them. I registered my overlay prefixed with 3 spaces and it works!

Thanks all for the help.

[2016-08-04 16:05] Countryen commented on #127
Hey @Otixa,

That's great! Please remember to close the issue.

Sharpshell should add this to the documentation, though.

[2016-08-04 16:57] #127 closed

[2016-08-15 13:37] benjamingr commented on #62
?

[2016-08-17 08:23] TrabacchinLuigi commented on #115
What I REALLY wanted was to draw an icon overlay on every icon, i have a db with various status for every file and when i browse them i wanted to check that db and see the status of those files to draw the icon overlay, but it looks like it is not easily achievable...

[2016-08-17 08:23] #115 closed

[2016-10-11 09:58] junfkt2 opened #129 "Deskband extension does not work for Windows 10 64-bit"
it could be register successfully, after i restart the explorer, it appear in the list of available toolbars, but when i click on the "web search", nothing happens. Any clues? Thanks!

[2016-10-11 17:32] Countryen commented on #129
Hey junfkt2,

I never used deskbands with sharpshell so no idea but I googled a bit and it seams that deskbands aren't supported since windows 7.

from the [Microsoft's Windows Dev Center](https://msdn.microsoft.com/de-de/library/windows/desktop/bb762064(v=vs.85).aspx)

Does your application work for Windows7 / Windows8 / WindowsXP / etc.?
Other than that - can you be a little more specific, provi

[2016-10-26 21:29] AmmarMhd commented on #129
I am having exactly the same issue too on Windows 10 64-bit.
Toolbars like NetSpeedMonitor are working properly
![capture2](https://cloud.githubusercontent.com/assets/4147076/19745880/7464968a-9bdc-11e6-8c3c-298c6ffaa5b5.PNG)
![capture](https://cloud.githubusercontent.com/assets/4147076/19745881/746bbce4-9bdc-11e6-9227-0e91d39ec799.PNG)

[2016-11-07 09:24] rickardp opened #130 "Impossible to install shell extension for the current user only"
If creating an application that needs to be installed as the current user (i.e. the user might not even have administrative privileges), it is not possible to register a shell extension.

I have created an implementation (https://github.com/rickardp/sharpshell/tree/per-user) where I add the "-user" flag to allow installation as the current user only (as well as other stuff we needed, such as writi

[2016-11-07 09:29] rickardp opened #131 "Unit tests seem to depend on specific system properties"
When checking out the code, doing a clean build and running the unit tests, the "CanIdentifyIdListLength" test is failing, expecting 2 instead of 4. I think this could be platform specific (I am currently running Win 10 Pro / en-US). Also, there is a suspicious test "CanBouncePidl" that expects the display name to be "Documents", which I am not sure works on other language editions of Windows.

No

[2016-11-07 09:44] rickardp commented on #130
There might also be interest in the .reg file creation, but that is more specific to our particular needs (to be able to transact registry updates during our installation phase) and does not support all features of the srm tool (as it can never actually read from the registry since it executed at build time). The way I solved both these features is to abstract registry access into an interface wit

[2016-11-07 23:24] SplittyDev commented on #100
Sorry for the late answer. I'll post it anyway, maybe it'll help someone else.
Just return a bitmap of size zero: `return new Bitmap(0, 0);`

[2016-11-14 12:04] cabbagecreek opened #132 "I get this warning when I try to use the SharpShell.ServerManager"
I get this warning when I try to use the SharpShell.ServerManager

Warning
There was a mismatch between the processor architecture of the project being built "MSIL" and the processor architecture of the reference "ServerManager,
Version=2.2.0.0,
Culture=neutral,
processorArchitecture=x86", "x86".
This mismatch may cause runtime failures. Please consider changing the targeted processor architecture

[2016-11-30 09:04] lokcyi commented on #41
Dear Sir
     At first, I were troubled in the same issue while debugging the code on the "server manager".
The SelectedItemPaths  object always return one item.
Finnaly, I registed the dll in the windows (X86 win10), everything is fine. The SelectITemPaths return the files List exactly  I selected on exploer.
    So, Maybe the bug is at "server manager" program.
That is my opinons.

[2016-12-16 14:33] TrabacchinLuigi commented on #46
Did anyone found a workaround ?
I tried to expose two classes each come visible and with a different guid, got two server, registered and installed them, seems like just the one in top of the list is working...

[2016-12-16 14:40] TrabacchinLuigi commented on #46
Sorry i found out that it was necessary to un-register and re-register the server after adding the second attribute.

[2016-12-21 10:15] leohawke opened #134 "Windows 10 not work"
I do same thing in 7 and 10
but only 7 is ok
I use this sample:
https://www.codeproject.com/articles/512956/net-shell-extensions-shell-context-menus

[2016-12-22 03:32] leohawke commented on #134
I‘m sorry for this issue
I compared the win7 and win10 registry，In Win10 The CLSID in SysWow64Node/....
Why？
 "i use 32bit regasm" [Visual Studio Developer Command....[default is x86...]]

[2017-01-05 07:59] dosh1974 opened #135 "Context Menus leaks GDI objects."
Every time a Context Menu is invoked (right clicking on a Shell Object), the number of GDI objects used by explorer.exe increases.
Eventually it fails to create more objects and the whole menu becomes black (or the explorer process terminates).

In my use case the number of objects increase by roughly 400 objects per invocation (yes we do have some complex menus).
I've noticed that if I do NOT hav

[2017-03-01 10:52] sour7230 opened #137 "how to add icon overlay when we click on context menu in c#"
Dear All,

how to add icon overlay when we click on context menu in c#.

[2017-03-01 17:15] kkguo commented on #137
Do you mean you want to display icon overlay in contextmenu icon? or you want to display overlay when you click one of the menu items?

To display icon overlay dynamically,  you need to change the overlay registry (remember to put your overlay in front of others by using a key name starting by "_"), then force a refresh on desktop.

although icon overlay is a good experience of showing information

[2017-03-01 17:38] sour7230 commented on #137
Thanks for reply
I want to click on context menu one item .then I wont add some properties sheet of file and next we read this property if this property value is true so icon display on this file.

[2017-03-01 17:45] kkguo commented on #137
if you are drawing the icon, I recommend you draw the overlay by yourself.

[2017-03-02 05:13] sour7230 commented on #137
ok, got it and try my side to done this.

how to add properties in  window metadata when we click on context menu item.how to add selected item value on  this window properties.

[2017-03-08 07:14] sour7230 commented on #137
Dear kkguo,

can you provide me some code to draw icon overlay on file on button click.it would be helpful for me.

[2017-03-11 12:56] pankajsoftpowerbiz opened #138 "How to add new menu item for selected text on right click"
Hi,

Thanks for writing such a interesting library.

We are trying to add new menu item for highlighted text on right click. If user opens a webpage and select a text and right click on it , we needs our menu item in that. But it is not limited to outlook only. We need to add it, for most of the windows app.

We really need your help to achieve this.

Thanks & Regards
Pankaj

[2017-03-16 00:07] jmaeding opened #139 "Only AssociationType.AllFiles working for files"
I could not get the Count Lines example on codeproject to work for anything but [COMServerAssociation(AssociationType.AllFiles)]
I tried both types of file recognition:
[COMServerAssociation(AssociationType.FileExtension, ".txt")]
and
[COMServerAssociation(AssociationType.ClassOfExtension, ".txt")]

with no luck. I am not doing anything out of normal with .txt files.
I am on windows 10 (64 bit) on

[2017-03-16 00:08] jmaeding commented on #139
btw, my code is:
`using System;
using System.Collections.Generic;
using System.Linq;
using System.Text;
using System.IO;
using System.Threading.Tasks;
using System.Windows.Forms;
using System.Runtime.InteropServices;
using SharpShell.Attributes;
using SharpShell.SharpContextMenu;

namespace RightClickToolsSharpShell
{
    [ComVisible(true)]
    [COMServerAssociation(AssociationType.ClassOfExtensio

[2017-03-16 00:08] #139 closed

[2017-04-07 12:59] mikeyhalla opened #140 "Windows 10 Quick Access returns both Directory and Directory/Background"
Windows 10 Quick Access returns both Directory and Directory/Background for Context Menu
I was able to resolve this issue with the following:
`
//  Don't show for Windows 10 Quick Access - Hex conversion adding returns:
            //  CMF_EXPLORE (0x00000004), CMF_CANRENAME (0x00000010), CMF_ASYNCVERBSTATE (0x00000400)
            var uFlagsReturn = 0;
            try
            {

[2017-04-12 13:13] TheColonel2688 opened #141 "Can't register Server is SRM"
I did a rebuild on my extension project while it was installed, now I'm getting a null reference exception

![image](https://cloud.githubusercontent.com/assets/8753759/24959101/ab70e44c-1f5f-11e7-8446-4cdccec81c65.png)

[2017-04-12 13:58] TheColonel2688 commented on #141
Seemed to be caused by a run time error in my dll. this can be closed or deleted

[2017-04-12 15:46] TheColonel2688 opened #142 "What's the easiest way to programmically register and unregistered my servers?"
I have two servers in teh same DLL

this is all I got so far

[code]

however Register and unregistered don't seem to exist in the Nuget Package.

[2017-04-14 18:24] kkguo commented on #142
Directly write the registry might be an option.

TheColonel2688 <notifications@github.com>于2017年4月12日周三 上午11:46写道：

[2017-04-22 22:21] rasputino commented on #129
I tried to register a Desk Band but I get the same results... nothing :(
I did something similar to this page http://www.codeproject.com/Articles/39189/Shell-Extensibility-Explorer-Desk-Band-Tray-Notifi, but for this kind of .Net projects we don't get any results, could you solve the problem? thanks

[2017-05-01 14:13] mmatrosov commented on #139
Did you find the solution?

[2017-05-01 14:30] mmatrosov commented on #46
Consider closing the issue in this case.

[2017-05-02 13:14] petsuter opened #143 "An unhandled exception occured when loading the SharpShell Server Types from the specified assembly"
Running `srm.exe install MyShellExtension.dll -codebase` fails:
[code]

[2017-05-02 13:17] petsuter commented on #143
This seems to be because `MyShellExtension.dll` was built for `x64` platform. It works when it is `Any CPU`. Does `srm.exe` only work with `Any CPU` assemblies?

[2017-05-02 14:11] mikeyhalla commented on #143
If you are compiling srm yourself for any cpu, make sure to change the prefer 32 bit in properties. If you are running 64 bit os and 32 bit preferred then it will error out.

Also you can install your server with:
StartInfo(@"C:\Windows\Microsoft.NET\Framework64\v4.0.30319\RegAsm.exe", "\"" + GetAssembly.AssemblyInformation("directory") + "\\YOUR_SERVER.dll" + "\"" + " -codebase);

ofc the framewo

[2017-05-02 17:08] petsuter commented on #143
I used the `srm.exe` from from `SharpShellTool` nuget package.

[2017-05-08 19:16] mikeyhalla commented on #139
why not just use:
`if (fileextension == '.txt')
{ // DO WHATEVER IN ALLFILES ASSOCIATION }`
I cant check for why it may not be working but as I recall in previous versions of my project it works as intended in the latest version of sharpshell

[2017-05-09 17:14] mmatrosov commented on #139
One reason is because when I register extension, which uses `AssociationType.AllFiles`, I have exception in . It tries to retrieve default icon for extension "*", but cannot find it. It seems more logical to expect some default item for extension "dll", not for extension "*". Another reason is that `AssociationType.ClassOfExtension` and `AssociationType.FileExtension` should require less client co

[2017-05-09 17:29] mikeyhalla commented on #139
if (extension != "" || extension != null)
// do whatever

[2017-05-10 12:03] petsuter opened #145 "AssociationType.ClassOfExtension but no class -> System.IO.IOException: The specified path is invalid."
From the `srm.exe` log-file:
[code]
I think this happens when using `[COMServerAssociation(AssociationType.ClassOfExtension, ".bla")]` but there is no class for `.bla`, because https://github.com/dwmkerr/sharpshell/blob/51266b1db96be0e2c5d0f027d1b3b1c9dd55fddc/SharpShell/SharpShell/ServerRegistration/ServerRegistrationManager.cs#L576 `fileTypeClass` is `null`. Should `null` maybe be skipped there

[2017-05-10 13:20] mikeyhalla commented on #145
You would need to create it yourself in the:

`protected override bool CanShowMenu()
 {
           if (subkey == null)
           {
                    // Create the sub-key that doesn't exist
           }
            return true;
}`

If that doesn't work then you would need to make an installer for it that creates the subkey before srm takes control.

[2017-05-10 15:26] petsuter commented on #145
But the problem already happens in `srm.exe install`. Isn't `CanShowMenu` only called later?

[2017-05-10 19:27] mikeyhalla commented on #145
Excuse my bluntness but your problems are not SharpShell issues. I suggest you learn more about it before continuing.

[2017-05-11 11:54] petsuter commented on #145
Thanks for the hint. I'm indeed new to this topic and it's difficult for me to be sure what is or is not related to SharpShell. When I get exceptions running a tool provided by SharpShell, I do naively assume it's a bug in that tool / SharpShell, and report it. But feel free to close the issue if it's unrelated.

[2017-05-11 13:44] mikeyhalla commented on #145
Honestly I have not had any issues at all with SharpShell minus the ones I fixed myself but that has nothing to do with what you are struggling with. The answer I provided is a solution for what you are trying to do. Ideally you should have an installer anyway.
The way I did mine was create an executable to run the commands to install the dll on double click. You can do the same but check if subke

[2017-05-19 18:49] Korporal opened #146 "VS 2017 etc"
Hi, quick question - do you happen to know (have you tried?) building a shell extension in VS 2017 or VS 2015?

Is the published Nuget package compatible with extensions created in these versions of VS?

Thx

[2017-05-19 19:04] Korporal opened #147 "How to add property page?"
I'm looking at the sample FileTimePropertyPage and in there is a PropertyPage .cs file with its subordinate resx and designer files etc.

But how was that added to the project? I'm creating a new class library project (like that shown in FileTimePropertySheet.cs) but cannot understand how you added the property page to the project.

It's been a while since I did any Windows Forms - so I may just b

[2017-05-19 19:09] Korporal commented on #147
OK I think I see, it was added as a UserControl, then I adust the base class to use your base class...

[2017-05-20 15:44] Countryen commented on #146
Hey Korporal,

Why shouldn't it work?
**I used VS 2015 CE.**

It rather depends on the version of .NET and C# you want to use but I don't think you run into any troubles going up the versions.

[2017-06-02 19:37] ecimen81 opened #148 "CountLinesExtension not working open test server working !! Windows 10"
Hello CountLinesExtension.dll not working windows 10 enterprise.. even servicemanager says

Preparing to install (OS64Bit): MyAppContextMenu
    MyAppContextMenu installed and registered.

it shows on test server in test shell but not on open test server

[2017-06-02 21:11] ecimen81 commented on #148
after digging more i found registering with serverregistrationmanager doesnt work ..
 when i try to execute on cmd with

ServerRegistrationManager.exe install CountLinesExtension.dll

doesnt work...

but if i register and install with servermanager it does work!!!

is there anything i should do after  ServerRegistrationManager.exe install CountLinesExtension.dll?

[2017-06-05 14:44] dwielosz commented on #45
Hi, I'd like to refresh this issue a little. The problem actually is in the list provided by WinApi in IShellExtInit::Initialize method. There are workaround described at [StackOverflow](https://stackoverflow.com/questions/21848694/windows-shell-extension-doesnt-give-exact-file-paths) and [other forums](http://microsoft.public.platformsdk.shell.narkive.com/yr1YoK9e/obtaining-selected-shortcut-lnk-

[2017-06-16 03:10] kubiozi commented on #146
it's not the vs2017 but there is a problem with Windows 10. I'm testing the sample code  in Windows 10 pro but no result.

[2017-07-03 07:24] Jorge2573 opened #149 "Multiuser context menu"
Hi, when I install my program with a context menu added with RegAsm it only works in the current Windows user (or the admin user who install the program). I use Framework64 or Framework in function of the architecture. It's all ok?

Thanks!

[2017-07-05 23:47] RyanTopps commented on #148
use srm.exe install CountLinesExtension.dll -codebase

[2017-07-26 04:55] Shujee opened #150 "CustomNamespaceFolderView architecture"
Trying to grasp the full picture, so bear with me.

It looks like there is no relation between CustomNamespaceFolderView and the UserControl that displays folder contents. CustomNamespaceFolderView doesn't seem to have any knowledge about the UserControl and cannot delegate folder contents to it for display. In fact, as it currently stands, CustomNamespaceFolderView.CreateShellView() doesn't at al

[2017-08-23 00:57] mikeyhalla commented on #140
Can you please verify if you are no longer maintaining this program?

[2017-08-29 19:56] wizzard0 opened #151 "Search Protocol Handler support example?"
Does this project support Protocol Handlers for Windows Search integration? (on a first glance, it doesnt)

See: https://msdn.microsoft.com/en-us/library/windows/desktop/ee872110(v=vs.85).aspx
https://msdn.microsoft.com/en-us/library/bb266529(v=vs.85).aspx

Thanks in advance!

[2017-09-01 12:24] bakingam1983 opened #152 "PreviewHost on windows 10 not work after reboot"
I have created a preview handler for a custom file.

Once created ad installed it works in ServerManager "Test Server in Test Shell", in explorer it work for a while only after a exporer restart, but it not work in ServerManager "Open Test Shell" and also in any fileDialog.

It not work also when i reboot the computer.

This handler was created first in windows 7 and in windows 7 it works like a c

[2017-09-01 12:54] bakingam1983 commented on #152
I menaged to get it work, i had to change the attribute SurrogateHostType in my PreviewHandler class implementation

from the default
`SurrogateHostType:=SurrogateHostType.DedicatedPrevhost`
to
`SurrogateHostType:=SurrogateHostType.Prevhost`

[2017-09-01 12:54] #152 closed

[2017-09-08 10:29] IJsbrandOudshoorn commented on #145
Hi @petsuter  and @mikeyhalla ,

I encountered the exact same problem with the registration of my .dll on a clean Windows where no application was yet linked to the file extension. In my case I am developing a extension for .pdf files.

On a clean Windows 10 machine without Adobe or other PDF tools. Users can perfectly open PDF files by double clicking. It will open in Edge. But, the registry has

[2017-09-08 11:29] IJsbrandOudshoorn commented on #145
This is a duplicate of #126. See discussion between @devel0 and @Countryen. #126 is closed by @devel0, but the issue was never fixed.

[2017-09-08 11:30] IJsbrandOudshoorn commented on #126
This is a duplicate of #145. The issue is not fixed yet.

[2017-09-17 21:41] rroa commented on #114
@snadahalli were you able to work this out?

[2017-09-18 01:53] 1102163785 commented on #129
Maybe we need to create a window on the handle which is provided by IOleWindow.GetWindow method, and bind your custom control onto this window.
There is the page on where i have found that

[2017-09-28 12:46] TonyValenti opened #153 "Is this project dead or alive?"
I've got a project that could really use SharpShell but it looks like there hasnt been any source updates in a long time.  Is this project actively maintained?

[2017-09-28 13:55] mikeyhalla commented on #153
I asked the same question about 6 months ago and still got no answer.

https://github.com/dwmkerr/sharpshell/issues/140

I had to compile and update the issues myself and unfortunately I don't have time to keep up with Microsoft changes to keep this source code reliably updated but you can't really expect all open source to be kept up-to-date for a life time.

Most of these project I think are jus

[2017-09-28 20:45] TonyValenti commented on #153
Do you have a fork of this project?  I'm working on a project that I think
would benefit from SharpShell and I'm sure I'm going to have to do some bug
fixes.  Would be nice if I could help revitalize the project a little bit.

On Thu, Sep 28, 2017 at 8:55 AM, Michael Hall <notifications@github.com>
wrote:

--
Tony Valenti

[2017-09-29 03:53] mikeyhalla commented on #153
Sorry, no I don't. I only use the dll for personal purposes but made the program I use the dll in publicly available via opensource here in GitHub. I had to download the source so I could fix the error mentioned above in order for my program to function correctly.

It would be great if this project would get maintenance because once it becomes obsolete then so is my program.

[2017-10-03 12:09] n1kkt commented on #129
Any progress on this one ?
I'm having same problem. Win10 x64. DeskBand sample server is installed and registered and I can see "Web Search" among available tollbars in taskbar, but when I click it nothing happens.

I also tried this project, but results are the same, I see it among toolbars but when I click on it nothing happens.
[https://github.com/navhaxs/media-control-deskband](url)

A fix wou

[2017-10-03 17:19] sandstorm121 commented on #92
How to resolve this isue ?

[2017-10-11 15:27] reevestrife commented on #148
I installed the SharpShellTools v2.2 NuGet package. The srm.exe does not seem to be included.
I can see in my output folder the following files from the package:

- Apex.WinForms.dll
- ServerManager.exe
- ServerManager.pdb
- SharpShell.dll
- SharpShell.pdb
- SharpShell.xml

but srm.exe is not among them.
Is it just me?

[2017-10-26 05:54] olivercoad opened #154 "Property sheets with specified file extension"
Property sheets don't work when specifying a particular file extension.
For example, the sample `FileTimesPropertySheet` works perfectly with all files, but not for .pdf (or anything more specific than `AssociationType.AllFiles`).
[code]
Using Windows 10, 64bit. Compiled as Any CPU. Installing/Registering with (x64) in ServerManager.
This does not seem to be related to #129. All the SharpShell dll

[2017-10-27 13:55] Qobalt commented on #154
I have the same issue. Interesting that prior to Windows 10 Fall Creators Update my property sheet worked good with `AssociationType.FileExtension`, but not worked with `AssociationType.ClassOfExtension`. Now, after my system has been updated, `AssociationType.AllFiles` is the only working option.

[2017-10-31 16:05] k1teflight commented on #152
I stumbled upon this searching for a solution for the exact same problem. Anyway, I can't figure out where exactly I have to change this - could you please give more details where I should find that line (also it is already some time ago)?

[2017-11-09 19:55] k1teflight opened #155 "Preview Handler only running in explorer while ServerManager running"
I wrote a preview handler using the lates nuget packages. When I run the server in the ServerManager, everythings seems to run smooth. However, in the actual explorer (Win10) it is only working while the ServerManager is running. After closing the ServerManager, it keeps running until I close all the explorer windows. When I start a new explorer after that, the preview handler does not show. In th

[2017-11-13 07:06] suhaib47 commented on #148
I have the same issue as @reevestrife

[2017-12-04 06:25] suhaib47 opened #156 "ContextMenu Process object must set useshellexecute to false"
I've used sharpshell to develop context menu for my windows application and WiX to build an installer. My application installs fine but however, whenever i click on a context menu item, I am unable to launch my application. I have two dialog boxes pop up.

The first only says:
C:\Program Files\ path\to\exe
System.Collections.Specialized.StringDictionaryWithComparer

And the second dialog box says:

[2017-12-05 08:11] schoesa commented on #68
Hi guys,

something happened regarding this bug. I need this functionality in my project.

BR, Sandro

[2017-12-12 09:27] smasihemami commented on #100
I'm having the exact same issue although I do not return null. Here is my code:
    [ComVisible(true)]
    [COMServerAssociation(AssociationType.FileExtension, ".mns")]
    public class MyThumbnailHandler : SharpThumbnailHandler
    {
        /// <summary>
        /// Gets the thumbnail image for the currently selected item (SelectedItemStream).
        /// </summary>
        /// <param name="widt

[2017-12-19 07:37] schoesa commented on #140
Hey Mikeyhalla, I have the same problem, where you have put your recommended lines (class).

Can you help me. I need this in my project.

Thx in advance, Sandro

[2017-12-20 16:13] smasihemami commented on #107
@kkguo For me, regasm did not work either. It registers and deregisters correctly by either regasm or srm and then it works fine within the server manager, but not in the explorer. The more strange thing is that my thumbnail handler works fine on my own pc which has visual studio installed and used to develop it. But when I try to test it on a new pc, it only works in the server manager. I've trie

[2017-12-20 16:19] smasihemami opened #157 "ThumbnailHandler"
I've been able to create a thumbnail handler and get it to work both in the server manager and the explorer on my pc. But when I take the same set of files to another pc (same operating system) it behaves differently and only works in the server manager (I've registered my server using administrator command prompt). It is worth to say that in the server manager, it only works in "Test Server in Te

[2018-01-22 11:31] Hum55 opened #158 "CountLinesExtension does not work for Windows 10 64-bit"
CountLinesExtension  does not work for Windows 10 64-bit.

[2018-01-30 08:15] Schaussi opened #159 "Preview Handler with Windows 10 x64"
Hi,
I am currently trying to create a preview handler for some custom file extensions.
While it works fine with "Test server in Test Shell" (using Server Manager), it does not show any preview in Explorer, "Open Test Shell" and "Open Shell Dialog".
No errors are logged.

Because I read that Explorer and/or the preview handler always needs x86 binaries, my questions to get it running in **Win10 x64

[2018-01-30 09:32] Schaussi commented on #159
Nevermind, it works now.
Instead of
`[COMServerAssociation(AssociationType.ClassOfExtension, ".asdf")]`
I use now
`[COMServerAssociation(AssociationType.AllFiles)]`
(for testing purposes).
Then used Server Manager again to register and install my DLL for x86 and x64 (created with "Any CPU" target).
This shows the preview.

[2018-01-30 09:32] #159 closed

[2018-02-03 18:19] gpetrou opened #160 "Preview handlers do not work correctly under Windows 10 Fall Creators Update"
When trying to use IconPreviewHandler or any other PreviewHandler under the specific Windows 10 version, the Preview Pane is just blank without any errors.
Enabling the srm log indicates that the handler works correctly as in other Windows versions.
Surprisingly if we run Windows Explorer as admin, then the Preview Handler works as expected.
@dwmkerr any ideas what might be the issue here?

[2018-02-05 04:32] dwmkerr commented on #160
I can only assume it is a permissions issue, unfortunately I’d probably
have to dive in and debug to find out more, but am flat out at work at the
moment so realistically won’t have time in the next few weeks I’m afraid

On Sun, 4 Feb 2018 at 2:19 AM, gpetrou <notifications@github.com> wrote:

[2018-02-13 07:16] gpetrou commented on #160
Thanks for the reply.
I had a deeper look at this and seems like I was wrong in my previous statement.
So, build the latest SharpShell master as usual and register the preview handler.
Open Windows Explorer, select an icon and the preview is blank.
Open another Windows Explorer, select an icon and the preview works.
Checking the return value of User32.SetParent(previewHandlerControl.Handle, previe

[2018-02-14 15:08] dwmkerr commented on #160
Hi @gpetrou thanks for letting me know! Let me know if they get back to you

[2018-02-15 11:10] beuckbj opened #161 "Preview Handler can't show on Win7 x64"
Hello,
I have a Preview handler and it works nice. In the Testshell and also when I register this with the ServerManager to the Windows Explorer.
But...
When I register the handler with ServerRegistrationManager, it don't work. The problem I discovered is on the class PreviewHandlerRegistrar.CreatePrevhostApp on the line appIdKey.SerValue(...

The code points correct to %SystemRoot%\System32\prevh

[2018-02-20 07:20] bradley-varol commented on #153
Wow, @mikeyhalla , your MenuTools extension is awesome. I will be sure to install this on all of my Windows installs. Thank you.
That said, how did you get this library to work? I've created an extension and tested it with their Server Manager, but when I go to install the server, the Server Manager crashes lol

[2018-02-21 15:46] mikeyhalla commented on #153
Thank you and I used @"C:\Windows\Microsoft.NET\Framework64\v4.0.30319\RegAsm.exe" to install it. Check out my code in the install section (kinda messy and I learned a lot since then):
https://github.com/mikeyhalla/MenuTools/blob/master/MenuToolsProcessor/Main.cs

[2018-03-06 17:06] ruturaaj opened #162 "Setup fails to delete DLLs on application uninstall."
This Lib is excellent and I could write my first Shell Menu Extension in just a few min! However, I'm facing one problem... I am using Innosetup to build the Setup file and added the "uninstall" command for srm.exe which runs just before the Uninstaller starts removing components. Everything works smooth, except one thing. Setup fails to delete the DLL files. The my Shell Server DLL and SharpShell

[2018-03-06 17:11] ruturaaj commented on #158
Make sure you compiled your DLL for 64bit or platform neutral and try Server Manager to install + register the DLL. It should work.

[2018-03-06 17:15] ruturaaj commented on #156
If I've understood correctly, I think this is related to getting the path to directory where your Context Menu DLL resides along with your main application.

If this is your own written application, I suggest you make your main application (which is called by shell menu) to write its path info to Registry and make your Shell Context Menu DLL to get the application's path information from Windows R

[2018-03-07 04:17] mikeyhalla commented on #162
In windows 10, killing explorer will restart it automatically. don't use taskkill just use process.kill in your c# code.

[2018-03-08 15:21] HavenDV commented on #129
https://github.com/dwmkerr/sharpshell/pull/163

[2018-03-08 15:21] HavenDV commented on #89
https://github.com/dwmkerr/sharpshell/pull/163

[2018-03-12 09:36] gpetrou commented on #160
Microsoft has not come back to me about this yet.
However, I had another look.
Calling Marshal.GetLastWin32Error() before the SetParent call in question gives 0 and afterwards gives 5023.
Looking at windows error codes in https://msdn.microsoft.com/en-us/library/windows/desktop/ms681387(v=vs.85).aspx this corresponds to ERROR_INVALID_STATE
Checking https://msdn.microsoft.com/en-us/library/windows/

[2018-03-15 15:41] jooootaaaa opened #164 "Context menu not showing always"
I'm using sharpshell to add my program to the context menu but it doesn't work right always. I use this code to install the generated DLL: `"RegAsm.exe" /tlb /register /codebase /nologo /s "MyDll.dll"` with any computers it works fine but sometimes it doesn't work, only work if you restart the computer after the installation.  I can't install with srm because it doesn't work,

And if I want to upd

[2018-04-01 06:45] ruturaaj commented on #162
This won't come from my application; the application's installation setup, built with tools like Innosetup or Advanced Installer etc. will attempt to delete the SharpShell DLL and the Server DLL. That is where the problem is.

I think this cannot be solved and I'm bound to attract some of User reactions on this. I hope to find a better solution, like the self deleting BAT file which will be made t

[2018-04-01 06:45] #162 closed

[2018-04-12 00:34] zylantha commented on #143
I'm having the same issue trying to install SharePointWebDavShellExtension.

`========================================
SharpShell - Server Registration Manager
========================================

An unhandled exception occured when loading the SharpShell
Server Types from the specified assembly. Is it a SharpShell
Server Assembly?

Unhandled Exception: System.NullReferenceException: Object r

[2018-04-17 22:35] ReedCopsey commented on #78
@dwmkerr Any idea if/when you plan to address this issue? Was debating whether to keep using the library, but am running into this.

[2018-04-17 22:35] gaocan1992 commented on #130
@rickardp Hi, I wonder that did you successfully register shell extension for the user without administrative privilege?

[2018-04-18 21:35] gaocan1992 opened #165 "Does srm install {some.dll} --codebase require admin privilege"
 Hello,

I want to use srm to install my server.
Does this require admin privilege

Also, I noticed that it register it in
`HKEY_CLASSES_ROOT\*\shellex\ContextMenuHandlers\{My Server}`
But I cannot find the corresponding GUID key under
`HKEY_CLASSES_ROOT\CLSID\`
According to this article "Registering Shell Extension Handlers" by Microsoft:
https://msdn.microsoft.com/en-us/library/windows/desktop/c

[2018-05-01 15:44] #78 closed

[2018-05-01 15:44] dwmkerr commented on #78
Fixed now! Released as `2.2.1.0`, already uploaded to Nuget.

[2018-05-01 15:45] dwmkerr opened #167 "Support CI Build"
Would be good to set up appveyor to at least build and run the tests. Ideally would be good to have a way to quickly tag/release.

[2018-05-01 16:56] #167 closed

[2018-05-01 20:31] ReedCopsey commented on #78
Thank you @dwmkerr ! Very much appreciated

[2018-05-02 08:53] gpetrou commented on #160
The problem persists with the new Windows April update and still no reply from Microsoft.
@dwmkerr would you like me to add a PR with one of the two possible workarounds?

[2018-05-12 18:33] #141 closed

[2018-05-13 12:01] dwmkerr commented on #160
Yes @gpetrou that'd be great!

[2018-05-13 15:00] gpetrou commented on #160
@dwmkerr I just added a PR that just uses a Form instead of a UserControl.

[2018-05-19 17:14] dwmkerr commented on #83
Resolved in version 2.3.0

[2018-05-19 17:14] #83 closed

[2018-06-02 14:09] cboutonnet opened #171 "Cannot install FileTimesPropertShhet"

[2018-06-02 14:19] cboutonnet opened #172 "Cannot install FileTimesPropertySheet correctly"
Hello,

I was able to make work the FileTimesPropertySheet extension on my developpement machine (64bits) using regasm.

So I tried to install the extension on another machine using Visual Studio 2015 Installer. I followed the instructions on the CodeProject page. I used srm.exe to register the extension as advised.

The install sequence worked and I could see the registry entries with regedit (at

[2018-06-02 14:28] #171 closed

[2018-06-03 08:54] cboutonnet commented on #172
Hello,

here is the situation as today:
- I checked that that I have followed the recommandations of the post "Troubleshooting SharpShell Servers.md" https://github.com/dwmkerr/sharpshell/blob/master/docs/Troubleshooting%20SharpShell%20Servers.md
-
- the server manager can find the COM server in the other machine (not the development machine)
- the Install procedure worked on the development machi

[2018-06-04 12:03] cboutonnet commented on #172
Hello,

problem solved.
I started again from scratch:
- downloaded the latest version of Sharpshell from Github
- set solution configuration with Release and AnyCPU everywhere (COM visible)
- regenerate Sharpshell
- install Visual C++ 2012 redistributables (x64 AND x86)
- tried manually srm on the target machine : OK
- then tried the installation package (written with Wix Toolset) 🆗

So Dave's adv

[2018-06-04 12:05] #172 closed

[2018-06-04 21:09] lutzbox opened #173 "Namespace sample doesn't work"
Hey,
i also tried the namespace sample but it seems to be not work.

1) Build the sample project
2) Start server manager
3) Load dll
4) Install and register (both x64/x86)
5) Restart explorer

I open the shell debugger, the test shell and  so on but in no one is the namespace extension visible

Best regards

Daniel

Windows 10 Pro (latest version)

[2018-06-06 07:57] lutzbox commented on #125
Will be fixed this problem in the near future? When i use the `DefaultNamespaceFolderView` a stackoverflowexception is throw up.

[2018-06-06 21:44] dwmkerr commented on #172
Thanks @cboutonnet glad it all worked out!

[2018-06-13 07:59] gpetrou commented on #160
This should be fixed with https://github.com/dwmkerr/sharpshell/pull/169

[2018-06-13 07:59] #160 closed

[2018-06-13 15:53] dwmkerr commented on #160
Thanks everyone! As @gpetrou mentioned, fixed now, use version 2.3.1

[2018-06-15 14:35] rickardp commented on #130
@gaocan1992 Yes, that was the whole point!

[2018-07-18 21:11] gaocan1992 commented on #130
@rickardp I have tried it following
https://www.codeproject.com/Articles/512956/NET-Shell-Extensions-Shell-Context-Menus
https://github.com/dwmkerr/sharpshell/wiki/srm:-Server-Registration-Manager
But it requires admin privilege. I wonder how did you bypass admin and install shell extension for current user that is not an admin.

[2018-07-18 21:56] rickardp commented on #130
@gaocan1992 I did that by using my version of sharpshell, linked to in the original issue. I added the “-user” flag. This means the official docs won’t help you much (at leas unless this issue is ever resolved).

[2018-07-19 00:30] gaocan1992 commented on #130
@rickardp I saw the branch per-user and this commit.
https://github.com/rickardp/sharpshell/commit/d3f1759750364b96d8fcb311d2b55d4eba8776fa

[2018-08-13 09:04] BoBaUla opened #176 "How to add ContextMenu entries at specific positions?"
Hello together,
is there a way to add a ToolStripeMenuItem directly above the "Properties"-entry of the Win 10 context menu (e.g. by right-clicking at the directory background)?

Best regards,
BoBa

[2018-08-14 15:41] Countryen commented on #176
Hey BoBaUla,

what's a "ToolStripeMenuItem"?

You can sort of define the position of an item manually in the registry subkey via a "Position" REG_SZ" attribute,
like so for the directory background:

[code]

This should be more or less directly above the "Properties"-entry (above the line).
Don't know if you can define the position further, haven't found a way yet.

Source:
[docs.microsoft.com](ht

[2018-08-25 02:15] oshuqair commented on #96
I'm hitting the same problem, on windows 10.
any help?

[2018-09-06 07:30] lyling commented on #125
@Countryen hi, i have another request on your implement.
can it do  this ?
when click on the foler i will check if the user is logined, or prompt a login form to the user.

[2018-09-08 16:49] ElektroStudios opened #177 "All the controls of the property page disappears, literally."
Hi, I have an strange problem. Note that I took the official filedate property sheet sample as a guideline to create my property sheet, and I reproduced this issue with a "empty" property sheet too, its not an issue about my source-code.

The thing is that the entire content of my property page disappear when I open multiple property sheets (of different files). I mean, first I select a file and I

[2018-09-09 10:34] Countryen commented on #177
Hey ElektroStudios,

I just tried this out as you described, but the problem doesn't happen for me.

VS17CE, Windows 10, x64, Sample Server (FileTimesPropertySheet), just compiled (with the NativeBridge) and registered with ServerManager.exe for both x86 and x64 (with registration).

I opened the property sheet "File Times" on 10 files and waited for about 10 minutes - they don't disappear on my m

[2018-09-09 10:51] ElektroStudios commented on #177
Hi Countryen, thanks for answer. Did you opened those sheets at same time, I mean, the 10 "File times" sheets were remained opened for around 10 minutes?, so strange then, If I do the same I end with some sheets in blank (the controls of the sheet disappear after opening one more new sheet, few seconds later).

I will try to register the shell-extension in a fresh, unmodified Windows 10 (in a virt

[2018-09-09 11:06] Countryen commented on #177
Yes exactly that, I also tried to "Touch" the files or swap between the sheets after the waiting time, but nothing changed.

[2018-09-10 12:56] ElektroStudios opened #179 "SharpShell's property sheets are not shown when running in a virtual machine."
Hi.  Related to this problem I'm having with SharpShell in my main OS: https://github.com/dwmkerr/sharpshell/issues/177

I decided to try register "FileTimesPropertySheet" shell extension in a fresh Windows 10 x64 installation (in a virtual machine) to see if it works fine and then it can help me to try discard problem causes.

The problem is that the property sheet is never shown for any kind of

[2018-09-10 12:59] ElektroStudios commented on #177
I'm sorry for being late in answering, but I'm facing a big barrier that has not allowed me to test anything yet:

https://github.com/dwmkerr/sharpshell/issues/179

[2018-09-10 16:34] Countryen commented on #177
Hey again, now at home. Did you check for the bridge?
I had a very similar issue when I tried to check for your issue #177.

**TLDR:**
I had the same issue, no Property Sheets showed, though the Server registered completely.
I then build the SharpShellNativeBridge project (updated to v141) and put that output (/bin) next to my Server-DLL-file. Then re-registered and restartet explorer.exe - now it

[2018-09-10 16:35] Countryen commented on #179
Please refer to my comment https://github.com/dwmkerr/sharpshell/issues/177#issuecomment-419977280

[2018-09-10 16:55] ElektroStudios commented on #177
First of all I want to thank you the time you had put in your debugging session and also for sharing your conclusions.

--------------------------------------

"But, for me, it's still the best option to manage your needs in Shell-Development with C#.
Do you know an alternative?"

The only reason why SharpShell is the best, its because is the only managed solution to do these things, at least as f

[2018-09-10 17:12] ElektroStudios commented on #177
I've discovered SharpShell like 3 or 4 years ago in codeproject.com, I used to develop a shell extension that adds context menu items, the library was very bugged, incapable of adding an icon to the context menu item.

Now, days ago, I wanted to use SharpShell to develop a property sheet that will give me info of interest for .NET assemblies, see:

![](https://i.imgur.com/2onfMXa.png)

However, it

[2018-09-11 09:01] Countryen commented on #177
1. I didn't find any dll, I just put these files next to my Server dll (didn't expect much to happen actually).
![image](https://user-images.githubusercontent.com/11256873/45349035-84b31300-b5b0-11e8-8e6a-6f4000678e09.png)
(how did you get dlls?)
This is the folder I copied from: `%sharpshell_repo%\trunk\SharpShell\SharpShellNativeBridge\x64\Debug`

2. I don't know why that happens, I just know it

[2018-09-11 09:59] ElektroStudios commented on #177
@Countryen thanks, I will try what you suggested in later.

Now I'm testing the most important issue for me which is the controls disappearing, and I think I found a way that you can reproduce it. I can't test it in a VM you know why, but I can reproduce it in my main OS.

Steps:
1. Copy the 'FileTimesPropertySheet' folder somewhere in the desktop for example, and open the FileTimesPropertySheet.c

[2018-09-11 10:09] DanielBrownAU commented on #177
This issue some very similar to my issue experienced with many property sheets - #88 as well as #124

[2018-09-11 10:40] Countryen commented on #177
Well

Is kind of important, will test that out first.

[2018-09-11 10:51] ElektroStudios commented on #177
I have recorded a video to demonstrate the problem and how I'm doing it:

[![IMAGE ALT TEXT HERE](http://img.youtube.com/vi/m3GzfCJZt3s/0.jpg)](http://www.youtube.com/watch?v=m3GzfCJZt3s)

[2018-09-11 11:08] Countryen commented on #177
Thanks for the video. I try to get my Server working again. Just noticed that all my attempts to register/install the server will fail, if I don't start Server Manager in Admin mode (Elevated Mode). Even though, the Server Manager says, that everything is registered and installed fine.

I noticed, that the background changes, too.

(Btw, nice desktop ;) and nice "work" music :D)

[2018-09-11 11:53] Countryen commented on #177
Hey, Did 1:1 what you did - no change in result. The Property Sheets don't vanish on my PC.
See attached gif.
![1](https://user-images.githubusercontent.com/11256873/45358457-c603ec80-b5c9-11e8-83bf-ba33e8026bbd.gif) for details. Did this around 14:20 - still showing all of the property sheets.

[2018-09-11 12:27] Countryen commented on #177
[code]

[2018-09-11 14:01] Countryen commented on #177
**First test: Installing my (working) Server on my W10 laptop**
- Copied the folder from the gif + the Server Manager.exe to my laptop
- Added SRM Logging (srm.exe config ...)
- Registered/Installed the Server via Server Manager, restarted explorer
- Result: No Property Sheet but attached logfile.
[ServerLog.txt](https://github.com/dwmkerr/sharpshell/files/2371245/ServerLog.txt)
[code]

I'll now t

[2018-09-11 16:46] Countryen commented on #177
Okay now with added logging to NativeBridge.cs I get the following on my working PC:
[code]

Interesting fact 1: The resource "SharpShell.NativeBridge.SharpShellNativeBridge64.dll" is defined by the manifest via:
`using (var resourceStream = Assembly.GetExecutingAssembly().GetManifestResourceStream(resouceName))`
But, they are not in my assembly, but in the "SharpShell.dll"
![image](https://user-i

[2018-09-11 17:37] Countryen commented on #177
No progress. Would love to debug/test further and figure it out but have to go for around a week. I will come back Monday next week.

Hope you find a solution for your vanishing problem in the meantime and post your solution here ;)

Some recommendations:
- Are the Property Sheets "unloaded" or just invisible?
Maybe you want to have a timer-control that periodically logs to a file, then you can ch

[2018-09-12 14:41] SivaprasadTamatam commented on #67
Is there any fix on Drag and Drop into folder or Drive?

[2018-09-14 17:09] SivaprasadTamatam opened #180 "Drop Handler : Droping any files or folders into Folder or Mounted Drive is not hitting drop event"
I used following Associations
 [COMServerAssociation(AssociationType.AllFiles)]
 [COMServerAssociation(AssociationType.Directory)]
 [COMServerAssociation(AssociationType.Drive)] and Droping Files or Folders is not working when I drop into empty folder or on folder or drive

Is there any fix for this issue?

[2018-09-14 18:28] SivaprasadTamatam commented on #67
@MadMaxidrom: Have you got the solution for the drop to folder?

[2018-09-15 20:32] Azurac commented on #41
That's not only your opinion. I second that. Additionaly Server Manager shows context item even where it should not appear, but it outside of it it works.

[2018-09-23 13:07] taiyangluoshan88 opened #181 "SharpIconOverlayHandler sometimes do not always show overlay icon in the file"
if now three files have custom icon in bottom left of file, but when i press F5 quickly, then i found will have one ore two file will lost the icon. Anyone who have ever encountered this issue and who can help me to fix  this issue.

[2018-09-23 14:52] hafstrom commented on #180
Not sure if it's the same, but I assume so. I want to extend the ContextMenu when draging items with right mouse button into a directory/drive.

[2018-09-23 14:55] hafstrom opened #182 "SharpDropHandler; Right Mouse Button; Context Menu"
Is this library able to add items to the context menu that pops up when using the right mouse button to drag items into a directory/drive?

The functionallity I'm looking for is pretty much the same as for example 7-zip when I drag an archive with the right mouse button and it shows various options.

[2018-09-24 12:15] taiyangluoshan88 commented on #181
![4](https://user-images.githubusercontent.com/40803895/45951562-7811ce80-c036-11e8-85f6-4a3d4fc6ba67.PNG)
Press F5 in three time, got different status.

[2018-09-25 10:59] Countryen commented on #182
I am not sure, but maybe you want to check out what the documentation says about here: https://docs.microsoft.com/de-de/windows/desktop/shell/context-menu-handlers#creating-drag-and-drop-handlers

Should be easy enough to do it yourself if ContextMenuHandlers are working fine.

Hope you find a solution, would be thankful for sharing information, too.

[2018-09-25 11:03] Countryen commented on #181
Hey taiyangluoshan88,
Is the problem reoccuring for the same files or only once per file and when you refresh 3 times it is all good? Did you try giving it some time? I never found a solution to "sucessfully" updating the icons in explorer myself (explorer seems to really hate that) but there are some workarounds out there like calling a specific method to refresh the explorer. I don't know how bu

[2018-09-25 11:13] Countryen commented on #180
Hey SivaprasadTamatam,

what exactly are you trying to do?
Do you want to click on (and drag) a file with left mouse button and drop it into a folder or mounted drive?
-> Does "into a folder" mean in the explorer background? Or directly on a folder?
And do you then expect there to be a context menu of some sort?

Or do you click on (and drag) the file with the right mouse button instead?

I think

[2018-09-25 11:41] Countryen commented on #177
Hey ElektroStudios, I am back - did you find a solution or try anything out yet?

[2018-09-25 11:53] Countryen commented on #173
Hey lutzbox,

just tested it - works for me.
(Well it technically doesn't work but the folder is shown)

1. Built the sample project (in my case: EnvironmentVariablesNamespaceExtension) from trunk
2. Started ServerManager.exe
3. Registered and Installed both x64/x86
4. Restarted Explorer

The new folder is displayed on the desktop (as a simple folder) and in the Test Shell of ServerManager.exe, im

[2018-09-25 12:06] ElektroStudios commented on #177
No, sorry, the library is to buggy, I don't have enough motivation to spent a lot of time in trial and errors testing things that will not solve the problem at the end. It should responsability of the author, not you neither me, to determine why a simple shell-extension or the default shell-extensions included in the zip, can't be installed in a fresh Windows 10 installation for some users like me

[2018-09-25 12:46] SivaprasadTamatam commented on #180
@Countryen , Thanks for the response.
[Test.zip](https://github.com/dwmkerr/sharpshell/files/2415230/Test.zip)
I am just looking for and trying to implement following video(drag and drop a file) that's it.

[2018-09-25 12:55] taiyangluoshan88 commented on #181
This issues happens on different files from different folders.
The icon should be show in some condition from my code, in the previous picture, the three fills all should be   shown the blue icon and no mater how many times i refresh should have be keep the same result(three icons).

[2018-09-25 16:29] Countryen commented on #177
@ElektroStudios Get that, and have fun / good luck finding a solution. Drop a line when you find a solution (with any other tool/library/etc.) tyvmia

[2018-09-25 16:54] SivaprasadTamatam commented on #180
@Countryen , I want capture the drop files list with its source and destination from the extension code. That's it. Thanks once again for your quick response.

[2018-09-28 10:19] Countryen commented on #180
I don't think that is possible with (simple) Shell Extensions. Do you have any example where it works that way? I think you can't act on moving/copying files.

Option A: Use a DragDropHanlder and move the file with Right Mouse Button to use the Context Menu

Option B: Use a CopyHookHandler (but afaik this is only possible for folders),
https://docs.microsoft.com/en-us/windows/desktop/shell/how-to-

[2018-09-28 11:47] SivaprasadTamatam commented on #180
@Countryen , Thanks for the options, let me try and let you the update 👍

[2018-09-29 00:56] taiyangluoshan88 commented on #181
Below is my code. This also happens with official sample project,you can have a try with ReadOnlyFileIconOverlayHandler project in offical demo, it is easy to reproduct this issue, just need to refresh 5-10 times,you can see the icon will not always show in one or two file.
My OS is win7, my VS is VS2017 professional.

D:\HaveIconFileList.txt content:

D:\Download\123\1.txt
D:\Download\123\2.txt
D

[2018-09-29 09:06] Countryen commented on #181
Hey @taiyangluoshan88,

just tested that with the **ReadOnlyFileIconOverlayHandler** Sample Project (I added some additional logging and set the priority to 50 instead of 90).

**Works fine for me - Windows 10, x64, VS2017**
![image](https://user-images.githubusercontent.com/11256873/46243774-aea16d80-c3d7-11e8-911d-cf9a99229416.png)

(I refreshed (F5) multiple times)

Be sure to check your regist

[2018-10-01 10:37] taiyangluoshan88 commented on #181
@Countryen  very kind of you response and help, it is seems that i used the old version of source code, just now i use another computer to try it with the latest version source, seems do not have any issue, now i am trying it in my computer with the latest code, i guess it will work fine, will let you know the test result later.

[2018-10-01 12:15] taiyangluoshan88 commented on #181
@Countryen  works fine now, the reason is i did not use the latest version source code.

[2018-10-01 15:04] #123 closed

[2018-10-01 16:40] Countryen commented on #181
@taiyangluoshan88 happy it works for you and maybe this helps someone in the future :)
Please make sure to close the issue now.

[2018-10-02 04:13] #181 closed

[2018-10-14 01:32] Miki101 commented on #4
A little bit of a necro-post, but take a look at this article.
https://www.sevenforums.com/tutorials/131470-context-menu-items-missing-fix-when-more-than-15-files-selected.html

[2018-10-15 12:34] dwmkerr opened #184 "Tech Story: Bump to Visual Studio 2017"
Visual Studio 2017 makes sense to be the baseline version now.

[2018-10-16 07:05] dwmkerr commented on #4
Thanks @Miki101! Some notes from my own recent investigation. When running the 'Count Lines' sample on Windows 10, the handler is shown:

![image](https://user-images.githubusercontent.com/1926984/46998286-0fad9d00-d15d-11e8-9364-ccec46c8c0d6.png)

The handler is also called successfully with the correct set of files:

![image](https://user-images.githubusercontent.com/1926984/46998318-2bb13e80-d1

[2018-10-16 07:27] #4 closed, assigned to dwmkerr

[2018-10-16 08:09] dwmkerr opened #187 "docs: Great basic table of contents"
We've got some basic docs, it'd be good to index them and make them available from the readme.

[2018-10-16 14:02] dwmkerr commented on #180
@SivaprasadTamatam I think that you need to use the following:

https://github.com/dwmkerr/sharpshell/blob/master/docs/com-server-associations.md#directory-background

i.e.

[code]

This was added to `master` just recently. Try installing SharpShell 2.4 and seeing if this works.

[2018-10-16 15:27] dwmkerr opened #189 "RFC: Logging Overhaul"
**Request for Comments**

Shell programming can be extremely fiddly. It is often very hard to diagnose why failures occur. One big improvement to this library would be to have a consistent and coherent approach to logging.

**Goals**

- We should avoid logging to anything which could cause issues (e.g. attempting to log to a location which we do not have permissions to write to).
- We should avoid

[2018-10-16 15:34] dwmkerr commented on #177
Hi @ElektroStudios @Countryen, there are some assorted bugfixes which I included in version 2.4 which I've just published, it is possible that one of them will help with the issue.

I've been unable to do any maintenance on the code for a long time, just too busy at work. I'm trying to catch up with the busiest issues now.

I apologise for the frustrations - there are indeed bugs with the library,

[2018-10-16 15:35] dwmkerr commented on #10
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:35] #10 closed

[2018-10-16 15:36] dwmkerr commented on #2
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:36] #2 closed

[2018-10-16 15:37] dwmkerr commented on #18
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:37] #18 closed

[2018-10-16 15:37] dwmkerr commented on #5
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:37] #5 closed

[2018-10-16 15:38] dwmkerr commented on #13
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:38] #13 closed

[2018-10-16 15:38] dwmkerr commented on #17
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:38] #17 closed

[2018-10-16 15:38] dwmkerr commented on #15
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:38] #15 closed

[2018-10-16 15:39] dwmkerr commented on #21
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:39] #21 closed

[2018-10-16 15:39] dwmkerr commented on #3
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:39] #3 closed

[2018-10-16 15:39] dwmkerr commented on #11
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:39] #11 closed

[2018-10-16 15:39] dwmkerr commented on #6
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:39] #6 closed

[2018-10-16 15:39] dwmkerr commented on #14
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:39] #14 closed

[2018-10-16 15:39] dwmkerr commented on #24
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:39] #24 closed

[2018-10-16 15:39] dwmkerr commented on #32
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:39] #32 closed

[2018-10-16 15:40] dwmkerr commented on #31
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:40] #31 closed

[2018-10-16 15:40] dwmkerr commented on #54
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:40] #54 closed

[2018-10-16 15:40] dwmkerr commented on #40
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:40] #40 closed

[2018-10-16 15:40] dwmkerr commented on #63
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:40] #63 closed

[2018-10-16 15:40] dwmkerr commented on #35
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:40] #35 closed

[2018-10-16 15:41] dwmkerr commented on #34
Resolved.

[2018-10-16 15:41] #34 closed

[2018-10-16 15:41] dwmkerr commented on #29
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:41] #29 closed

[2018-10-16 15:41] dwmkerr commented on #28
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:41] #28 closed

[2018-10-16 15:41] dwmkerr commented on #26
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:41] #26 closed

[2018-10-16 15:42] dwmkerr commented on #23
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:42] #23 closed

[2018-10-16 15:42] dwmkerr commented on #64
Closing stale issues to focus on ones with end-user activity.

[2018-10-16 15:42] #64 closed

[2018-10-16 15:43] dwmkerr commented on #65
Closing old issues to focus on recent issues affecting end-users.

[2018-10-16 15:45] dwmkerr commented on #182
@hafstrom Quick thought, is what you are looking for the same as the below:

https://docs.microsoft.com/en-gb/windows/desktop/shell/context-menu-handlers#creating-drag-and-drop-handlers

[2018-10-16 15:46] dwmkerr commented on #66
Closing stale issues in favour of issues which are affecting end-users.

[2018-10-16 15:46] #66 closed

[2018-10-16 15:46] dwmkerr commented on #72
Closing stale issues in favour of issues which are affecting end-users.

[2018-10-16 15:46] #72 closed

[2018-10-16 15:46] dwmkerr commented on #74
Done.

[2018-10-16 15:46] #74 closed

[2018-10-16 15:46] dwmkerr commented on #75
Closing stale issues in favour of issues which are affecting end-users.

[2018-10-16 15:46] #75 closed

[2018-10-16 15:48] dwmkerr commented on #79
Namespace extensions have been updated recently, might be worth revisiting this at some stage. Until then, I'm closing this to focus on recent issues, please re-open if needed.

[2018-10-16 15:48] #79 closed

[2018-10-16 15:48] dwmkerr commented on #81
SRM now supports a flag to force registration for a certain arch, which resolves this issue.

[2018-10-16 15:48] #81 closed

[2018-10-16 15:49] dwmkerr commented on #85
I'm closing this to focus on recent issues, please re-open if needed!

[2018-10-16 15:49] #85 closed

[2018-10-16 15:49] dwmkerr commented on #7
Namespace extensions have been updated recently, might be worth revisiting this at some stage. Until then, I'm closing this to focus on recent issues, please re-open if needed.

[2018-10-16 15:49] #7 closed

[2018-10-16 15:50] dwmkerr commented on #87
OK, closing now, thanks @aguedob

[2018-10-16 15:50] dwmkerr commented on #90
Looks like this can be closed, but please re-open if needed.

[2018-10-16 15:50] #90 closed

[2018-10-16 15:50] dwmkerr commented on #39
Looks like this can be closed, but please re-open if needed.

[2018-10-16 15:50] #39 closed

[2018-10-16 15:51] dwmkerr commented on #95
For those checking this in the future, I think using `ClassOfExtension` is needed in this case.

[2018-10-16 15:51] #95 closed

[2018-10-16 15:52] dwmkerr commented on #97
Resolved, thanks @KeithLRobertson

[2018-10-16 15:52] #97 closed

[2018-10-16 15:52] dwmkerr commented on #82
Looks like this can be closed, but please re-open if needed.

[2018-10-16 15:52] #82 closed

[2018-10-16 15:54] dwmkerr commented on #103
This is a big issue, and possibly the root of others. At the moment we can only register SharpShell servers if the SRM or SM executable is from the same build as the SharpShell lib. This is hugely fragile. Essentially, SRM and SM shouldn't care - as long as an assembly contains an implementation of the correct interface, it should just work. This one is tricky, but should be investigated in detail

[2018-10-16 15:54] dwmkerr commented on #104
Looks like this can be closed, but please re-open if needed.

[2018-10-16 15:54] #104 closed

[2018-10-16 15:54] dwmkerr commented on #111
Looks like this can be closed, but please re-open if needed.

[2018-10-16 15:54] #111 closed

[2018-10-16 15:56] dwmkerr commented on #112
I'll re-purpose this issue to be to create a working example of a Shell Namespace Extension.

[2018-10-16 15:58] dwmkerr commented on #27
Thanks @sagaru - for other readers, this is in the samples now

[2018-10-16 15:58] #27 closed

[2018-10-16 15:59] dwmkerr commented on #146
Closing this issue due to lack of activity, please re-open if needed

[2018-10-16 16:00] dwmkerr commented on #147
Yep!

[2018-10-16 16:00] #147 closed

[2018-10-16 16:01] dwmkerr commented on #138
I'm afraid it's not possible in Windows. Individual right click menus _within_ apps are controlled by the apps themselves (unless they elect to create a shell menu, and most do not). So there's no way to hook into these events.

[2018-10-16 16:01] #138 closed

[2018-10-17 12:17] #146 closed

[2018-10-17 14:00] dwmkerr opened #190 "Event Log is not functioning"
To reproduce:

1. Enable the Event Log from the SharpShell configuration.
2. Install the Count Lines Context Menu extension.
3. Restart Explorer.
4. Run the Count Lines extension.
5. The event log should contain an application log named 'SharpShell'. No such log is present. An error should have been logged to the Debug output if this failed, no error is present. It seems all event logging is silen

[2018-10-18 06:04] dwmkerr opened #193 "ServerRegistrationManager: Servers fail to register when versions do not match"
**Description**

If the `srm` tool is used to try and register a server, we get an error if the server is not referencing the same version of `SharpShell.dll` as the `srm` tool itself.

This means that developers can only use `srm` to manage servers built with a specific version, which is very brittle and confusing.

When mismatched versions are used, the following exception will be thrown by `srm

[2018-10-18 13:51] #193 closed

[2018-10-18 14:50] dwmkerr commented on #77
Closing stale issues - @nicolas-raoul please reopen if you are still facing this issue!

[2018-10-18 14:50] #77 closed

[2018-10-18 14:51] dwmkerr commented on #93
Yes @fvandepitte I will work on making sure we can push servers to the top of the list - closing this issue in favour of #117  which has the fix.

[2018-10-18 14:51] #93 closed

[2018-10-18 14:52] dwmkerr commented on #109
Closing stale issues, please check the troubleshooting guide and re-open if needed

[2018-10-18 14:52] #109 closed

[2018-10-18 14:52] dwmkerr commented on #38
Closing stale issues, please re-open if still needed!

[2018-10-18 14:52] #38 closed

[2018-10-18 14:53] dwmkerr commented on #121
Closing stale issues, please re-open if needed

[2018-10-18 14:53] #121 closed

[2018-10-18 14:53] dwmkerr commented on #122
Closing stale issues, please re-open if needed.

[2018-10-18 14:53] #122 closed

[2018-10-18 14:54] dwmkerr commented on #62
Closing stale issues, please re-open if needed.

[2018-10-18 14:54] #62 closed

[2018-10-18 14:54] dwmkerr commented on #131
Closing stale issues, please re-open if needed.

[2018-10-18 14:54] #131 closed

[2018-10-18 14:55] dwmkerr commented on #132
Closing stale issues, please re-open if neede

[2018-10-18 14:55] #132 closed

[2018-10-18 14:56] dwmkerr commented on #134
Closing stale issues, please re-open if neede

[2018-10-18 14:57] dwmkerr commented on #137
Closing stale issues, please re-open if needed

[2018-10-18 14:57] #137 closed

[2018-10-18 14:57] #46 closed

[2018-10-18 14:58] dwmkerr commented on #149
Closing stale issues, please re-open if needed

[2018-10-18 14:58] #149 closed

[2018-10-18 14:59] dwmkerr commented on #151
Not at the moment, sorry! Closing this issue, please re-open if needed

[2018-10-18 14:59] #151 closed

[2018-10-18 15:04] dwmkerr commented on #114
Yep just resolved #194

[2018-10-18 15:04] #114 closed

[2018-10-18 20:39] Atrejoe commented on #122
I have tried a recent version of the server registration manager, I compiled myself, and that worked fine!
Is it okay if I distribute a compiled version of it with my software as an installer?

[2018-10-18 22:36] dwmkerr commented on #122
Hi @Atrejoe - that's great!

Yes of course please do go ahead and compile/distribute, everything in the project is MIT licensed so no problems there. I'll be updating the build process soon to make sure that `srm` is built as a NuGet package to make this easier in the future as well. Packing the `srm` tool in an installer is probably the safest way to ensure a seamless install.

Cheers!

[2018-10-19 15:40] dwmkerr commented on #153
This project is maintained, just unfortunately intermittently. I've recently updated all of the docs on installing, and fixed some issue with the `srm` tool which should make installing easer, see:

https://github.com/dwmkerr/sharpshell/blob/master/docs/installing/installing.md

[2018-10-19 15:40] #153 closed

[2018-10-19 15:42] dwmkerr commented on #140
If you can let us know where you put this in the code @mikeyhalla that'd be great, until then I'll close this issue as I'm doing some housekeeping

[2018-10-19 15:42] #140 closed

[2018-10-19 15:43] dwmkerr commented on #165
@gaocan1992 Yes admin privileges are required, there's no way around this I'm afraid. Do let me know if you are still facing any issues with `srm`, I can re-open this issue if required.

[2018-10-19 15:43] #165 closed

[2018-10-19 15:46] dwmkerr commented on #164
Hi @jooootaaaa, more recent versions of SharpShell properly update the shell to let Windows know to refresh after an installation. For your second issue, I don't have a workaround at the moment. The safest best is to kill the `explorer.exe` process. Windows will then restart it, and your DLL will be safe to delete.

[2018-10-19 15:46] #164 closed

[2018-10-19 15:54] dwmkerr opened #197 "Support Shell Namespace Extensions"
I have got Shell Namespace Extensions working. This issue is to track any features which might be missing or need changing.

Consider Shell Namespace Extensions an 'alpha' feature for now - the API could change considerably as I iron out the remaining use cases.

- [ ] Check through existing issues to see what needs to be collected here
- [ ] Prepare a simple example (the Environment Variables exa

[2018-10-19 15:54] dwmkerr commented on #125
Hi everyone, thanks to the work from https://github.com/timsol, Shell Namespace Extensions seem to be working pretty well on Windows 10 for me.

I am just updating a couple of the samples now and putting together the documentation. This'll be more like an 'alpha' feature until I've seen more successful use cases, I'm not confident all of the bugs are ironed out.

In the meantime, I'm raising a new

[2018-10-19 15:54] #125 closed

[2018-10-19 15:55] dwmkerr commented on #156
Sounds like this is not a SharpShell issue, closing for now but please comment if it needs reopening

[2018-10-19 15:55] #156 closed

[2018-10-19 15:56] dwmkerr commented on #173
This now works, closing this issue. All Shell Namespace Extension discussions I'll move to #197

[2018-10-19 15:56] #173 closed

[2018-10-19 16:02] dwmkerr commented on #68
This is is resolved:

https://github.com/dwmkerr/sharpshell/blob/master/docs/com-server-associations.md#directory-background

[2018-10-19 16:02] dwmkerr commented on #112
Closing in favour of #197

[2018-10-19 16:02] #112 closed

[2018-10-19 16:26] dwmkerr opened #198 "Feature: Desk Band Extensions"
- [Shell Extensibility - Explorer Desk Band, Tray Notification Icon et al.](http://www.codeproject.com/Articles/39189/Shell-Extensibility-Explorer-Desk-Band-Tray-Notifi)

### DeskBand Extensions

Useful notes:

* Always include a DisplayName for a deskband extension, otherwise it won't register.
* The UserControl for deskband should specify a minimum size and maximum size - if they're
  not specif

[2018-10-19 18:40] #184 closed

[2018-10-19 19:16] dwmkerr commented on #143
This issue is now resolved with the latest `srm` tool. The latest versions have just been deployed, see:

https://github.com/dwmkerr/sharpshell/releases/tag/v2.5.3

[2018-10-19 19:16] #143 closed

[2018-10-19 20:07] dwmkerr commented on #103
Resolved with #196 and #194.

[2018-10-19 20:07] #103 closed

[2018-10-19 20:08] dwmkerr commented on #148
Resolved with #196. SRM is now included in all releases.

[2018-10-19 20:08] #148 closed

[2018-10-19 20:10] #41 closed

[2018-10-19 20:12] dwmkerr commented on #45
Closing this issue now, please re-open if needed.

[2018-10-19 20:12] #45 closed

[2018-10-19 20:12] #65 closed

[2018-10-19 20:13] dwmkerr commented on #67
Try:

[code]

[2018-10-19 20:13] #67 closed

[2018-10-19 20:14] #87 closed

[2018-10-19 20:29] #108 closed

[2018-10-19 20:47] dwmkerr opened #202 "Documentation: DeskBand Tutorial"
Need to add a guide for how to build a deskband.

[2018-10-19 20:48] dwmkerr commented on #89
It's working fine now in the latest `master`, all that is needed now is a tutorial. I've raised a separate issue for this: #202

[2018-10-19 20:48] #89 closed

[2018-10-20 19:48] dwmkerr commented on #92
@sandstorm121 @nicolas-raoul I'm just cleaning up old issues - this bug seems to be fixed, ShellIconOverlays will no longer go down that code path. The only way this could occur is if a `Association` is added on the server, which is not valid for a Shell Icon Overlay. Closing this now but re-open if still and issue (but I cannot be reproduce in the current codebase now)

[2018-10-20 19:48] #92 closed

[2018-10-20 19:54] dwmkerr commented on #96
Double check:

https://github.com/dwmkerr/sharpshell/blob/master/docs/troubleshooting.md

I think what is most likely going on is that you have dropbox or something else installed which has taken over all of the available slots.

[2018-10-20 19:54] #96 closed

[2018-10-20 20:28] dwmkerr commented on #130
@rickardp I'd be really interested in seeing a PR for this. Conceptually, how did you get it working? And did you find any MSDN docs which you followed for this, or was it trial and error?

[2018-10-20 20:28] #134 closed

[2018-10-22 06:40] rickardp commented on #130
I’ll see if a PR still makes sense. I am not sure how much changed since I created the branch.

As for docs, I just assumed whatever goes into HKCR could go into HKCU/Software/Classes, which seemed to be correct.

[2018-10-23 08:03] #198 closed

[2018-10-23 08:03] #202 closed

[2018-10-23 12:37] dwmkerr commented on #129
This is fixed with #163, all updates just released in `2.6.0`. Do re-open if needed but I think this issue is solved now.

[2018-10-23 12:37] #129 closed

[2018-10-24 06:12] deltamish opened #210 "Replicating One Drive Behavior"
Hey,

Was just wondering if I can use sharpshell to create pseudo objects with specified Size,File Type and Name to replicate view of that of a One Drive.

If you are unaware of what One Drive does. Basically it implements a shell extension to create a folder view having all items& folders you have on your One Drive cloud. Those objects are just place holder and will be downloaded when prompted or

[2018-10-24 08:12] dwmkerr commented on #210
Hi @deltamish yes indeed this can be done. What you are looking for is a 'Shell Namespace Extension', which allows you to create folder-like views which can be navigated through the shell.

Would you mind closing this ticket and instead adding your requirements to:

https://github.com/dwmkerr/sharpshell/issues/197

Which will help me keep the requirements for shell extensions in one place? There i

[2018-10-24 08:12] #210 closed

[2018-10-24 08:30] dwmkerr commented on #107
For anyone who is still facing this issue, try the following guides:

1. [Installing](https://github.com/dwmkerr/sharpshell/blob/master/docs/installing/installing.md)
2. [Logging](https://github.com/dwmkerr/sharpshell/blob/master/docs/logging/logging.md)

If you are still facing issues please grab the logs an raise a new ticket, I'm cleaning up old ones at the moment.

[2018-10-24 08:30] #107 closed

[2018-10-24 08:50] dwmkerr commented on #100
This should actually be resolved in the latest version of the code. Please do re-open if still an issue!

[2018-10-24 08:50] #100 closed

[2018-10-24 08:52] dwmkerr commented on #150
Great comments @Shujee - I've folded this into the requirements for the extensions (issue #197) and will close this issue for now, tracking it instead as part of the main feature ticket for the shell extensions.

[2018-10-24 08:52] #150 closed

[2018-10-24 09:50] deltamish commented on #197
[Requirement Request] Place Holder Objects with custom icon,name and size. To replicate behavior of Content On Demand feature of One Drive(Basically displays your one drive contents in a shell view like native Windows Folder. Downloads only when copied to Desktop or when pressed on download in Context Menu )

[2018-10-24 10:07] deltamish commented on #210
Sure, thanks

[2018-10-24 10:42] dwmkerr opened #211 "ServerRegistrationManager: Eliminate dependency on regasm"
The `ServerRegistrationManager` code in `SharpShell` should actually contain enough logic to completely cover what `regasm` does.

This means that we should be able to update the `srm` tool to not actually use `regasm` but directly write to the registry. This offers a lot more control and avoids needing to have `regasm` on the end user's machine.

To make this change, I think we will have to remov

[2018-10-24 12:14] #180 closed

[2018-10-27 08:31] ElektroStudios commented on #177
Yeah, I discovered that the call to "Target.Dispose();" is which throws System.NullReferenceException, because it is called after the contents of the page disappear, in other words.

I think that really needs a fix, a simple check to determine whether "Target" is null before attempting to dispose in "Cleanup" method. This will not solve the problem, but at least will not cause (hopefully) a Explor

[2018-10-27 12:49] Countryen commented on #154
Maybe this could be related to #126 and #145
@olivercoad can you check that you have a valid registry entry for .pdf with a default value for pdffile (or smth like that?) Or can you check if it happens with .ico, too?

[2018-10-27 12:54] Countryen commented on #88
@DanielBrownAU

As soon as it's ready I'll check it out and try it myself and report back to you.
Best would be to make it a custom github repo (not a single zip or smth.).

[2018-10-27 13:07] Countryen commented on #177
@ElektroStudios

Use the SRM tool (`srm.exe`) tool, see the wiki for full explanation here
https://github.com/dwmkerr/sharpshell/wiki/Debugging-&-Diagnostics

**Basically to activate run:**
`srm config LoggingMode File`
and then to set the path of the logfile just
`srm config LogPath "%TEMP%\SharpShell.log" `(or any other (absolute) path you'd like)

**Logging in CSharp:**
[code]
or inside a `Shar

[2018-10-27 13:18] Countryen commented on #177
@ElektroStudios
Just read your whole story and noticed that quiet fast:

You're using .NET v4.0? I never tried it with .NET v4.0 only with v4.5 - maybe there's a difference here.
I will try it with .NET v4.0 for once. Are you developing with the Client Profile or Standard v.4.0?

Would you be interested in trying to use/register my example Server (that is working for me on my PC? After I get it ru

[2018-10-27 13:55] olivercoad commented on #154
It doesn't seem related to those issues; this issue is about `FileExtension`, not `ClassOfExtension`.
From memory .pdf was just an example, it would happen with other file types. It should work with any file type even without a related classname.
Other features like preview handlers worked fine.

Of course this is from just over a year ago, so it might happen to have been fixed with a windows upda

[2018-10-27 14:20] Countryen commented on #154
@olivercoad Oh funny, I read "October 27" and not the year ;) Didn't notice it beeing the same day last year.

Will try it myself then with `FileExtension `and `ClassOfExtension`

[2018-10-27 15:34] ElektroStudios commented on #177
@Countryen

Thanks for the tip about the logging tool !!

About this:

I'm targeting .NET Framework v4.7 in my project, but what you see in that quote is correct, it is the same version that returns the property **Assembly.ImageRuntimeVersion** (eg. string **version = Assembly.GetExecutingAssembly().ImageRuntimeVersion;** ), because that is the CLR version, not the .NET framework version.

Please

[2018-10-27 21:12] Countryen opened #216 "Question: What about InfoBar extensions?"
So, as the repository is quite active maybe someone knows an answer (as I already asked this once a long time ago).

**Is it possible to create an "InfoBar" Extension? Is this just a NamespaceExtension?**
(I know that NamespaceExtensions are quite difficult and can be many different things, and that they are in "Alpha" state right now for SharpShell Server, but...)

In this bar at the bottom of th

[2018-10-28 21:50] Countryen opened #217 "RFC ServerManager - List of Improvements"
Hey there,
since I try to help out here in the forums I tend to make many prototypes.
I use the tool "Server Manager" - downloaded and installed from the releases.

Here are a few thoughts/issues I noticed with the tool.
Wanted to discuss them with you before trying to resolve them with pull requests on my own.
None of them are critical, more improvements than corrections.

I know the list is quit

[2018-10-28 22:29] Countryen opened #218 "Problems with the debug log"
Hey, I can't read the debug logging output. File logging output works well.

As stated here: https://github.com/dwmkerr/sharpshell/blob/master/docs/logging/logging.md

I have a working server with working "Log(...)" calls (see below, File Debug Output).
I configured with srm
[code]

Installation & Registration via Server Manager, everything works fine.
Problem: **DebugView doesn't display my logs

[2018-10-28 22:31] Countryen commented on #218
Also I noticed that the change (of Logging Mode) only takes affect after restarting explorer.exe (for documentation)

[2018-10-28 23:55] Countryen commented on #177
Hey there, I did some testing, with **fascinating** yet **frustrating** results.

**_I can now reproduce the problem._**
I've got 2 Servers now - a working one (PS don't disappear) and a not working one (PS disappear).

__Similarities:__
- same target framework
- same code
- differnt guid & name (obv.)
- same logic (copy paste)
- same installation/registration process

__Differences:__
The **worki

[2018-10-29 00:56] dwmkerr commented on #216
Hi @Countryen,

I've done a bit of research, and I *think* the only way to do this is by creating a Shell Namespace extension, then using the [IShellBrowser::SetStatusText](https://docs.microsoft.com/en-us/windows/desktop/api/shobjidl_core/nf-shobjidl_core-ishellbrowser-setstatustextsb) function.

The closest reference I could find is this:

https://social.msdn.microsoft.com/Forums/azure/en-US/32a

[2018-10-29 08:55] dwmkerr commented on #218
Very strange - I've just tried something similar with 2.6, using the `srm` tool to set the same logging options, and I see the log output:

![image](https://user-images.githubusercontent.com/1926984/47639072-c705d300-dba3-11e8-9755-be632449f27b.png)

Once you restarted explorer was it all OK? An explorer restart is necessary at the moment because the logging configuration is read only once, at the

[2018-10-29 09:35] ElektroStudios commented on #177
Did you used same Windows SDK version for both projects?.

Also, if helpful, maybe using a diff tool (ej. WinDiff, or UltraCompare) to compare code change additions and removals between v2.3.2.0 and v2.6 could help to find something that is causing the property sheet incorrect behavior.

Thanks for your investigation.

[2018-10-29 18:12] Countryen commented on #177
Sorry, I don't know.
I didn't reference any Windows SDK, only
- .NET Framework 4.5 and
- sharpshell v2.3.2.0 (w/ local modifications) or sharpshell v2.6 from Nuget

attached see both project files
[buggy.csproj.txt](https://github.com/dwmkerr/sharpshell/files/2526494/buggy.csproj.txt)
[working.csproj.txt](https://github.com/dwmkerr/sharpshell/files/2526495/working.csproj.txt)

I don't think you ne

[2018-10-29 18:18] Countryen commented on #216
Hi @dwmkerr,
Thanks for all the research, I didn't even know the name of the "feature", thought it was called "InfoBar".

Will once again try using Namespace Extension.
Sure, would be great to have an example in the docs 👍

[2018-10-29 19:57] Countryen commented on #177
Back again, now with **two clean example servers, see attached files below.**
Please contact me, if you don't trust a direct download then I'll create a simple repository for you here on github. Go ahead and check the SHA256 after download to verify. I also included full sources, so you can compile yourself / check the code.

__Creation Process:__
I created 2 (almost) identical server with VS2017.

[2018-10-29 20:16] Countryen commented on #177
Okay cool, all runs fine then I upload the zip and download the zip and SM says "This is not a SharpShell Server" ... have to look into that I guess

[2018-10-29 20:42] Countryen commented on #218
1. I don't use the SRM (but the Server Manager), so no I don't see SRM logging
2. No, I still see no logging output in the DebugView, even after restarting a bunch of times.

I will try it with my slow ass laptop (and srm) and report my result.
Maybe some other app catches the log before DebugView can - but I see the same logging for "VSMOUT".

I do see a lot "Lizard Mode" entries... I wonder what

[2018-10-29 21:11] Countryen commented on #218
Okay 2 things I found:

On my laptop it works, but only after I set the registry keys with the srm tool, not by hand (maybe I missed something).

"Lizard Mode" I guess is something from the Steam Controller. I do have one, but currently not connected and offline. I stopped Steam and the "Lizard Mode" messages disappeared. I now see the "Sharp Shell Diagnostics Initialised" and then some error for

[2018-10-29 21:13] ElektroStudios commented on #177
I have bad news...

![](https://i.imgur.com/sHY6wTW.png)

Same problem with the "BAD" sample.

I followed the steps, I was precise, I used the server managers included in both folders, individually to install one or install the other extension, and I restarted explorer each time after registering and unregistering.

In short, the "GOOD" sample it does not work for me.

Anyway, I've used [dnSpy](ht

[2018-10-29 21:44] Countryen commented on #177
Hey, at least they work (thanks for testing, anyways) ;)
Sad it's not the expected result - but maybe for others/dwmkerr it will be.

Will try/test the native bridge (and probably other stuff) real soon.

[2018-10-29 22:03] Countryen commented on #177
So now both example servers (GOOD & BAD) work for me, the sheets don't disappear.

__What I did?__
- cloned the master of the repo
- started the vs-solution
- build the whole solution once in Debug and Release
- installed all the servers for the regression tests (see "4. Tests" > "Install Servers.bat")
- re-installed/re-registered my "BAD" example (without new compiling or changing anything!)

By

[2018-10-29 22:16] Countryen commented on #177
Okay something must be trolling me. I noticed that I actually did NOT compile/build the Native Bridge. Compilation failed saying  "you need to have Windows SDK 8.1" or smth.

Still, my (previously) BAD example now works w/o a flaw.
And I swear by beloved [Nullable Reference Types in C#](https://blogs.msdn.microsoft.com/dotnet/2017/11/15/nullable-reference-types-in-csharp/) that the BAD example did

[2018-10-29 22:42] Countryen commented on #177
Okay - this is good (kinda).
Now I can switch the BAD example from working to not working and back at will (disappearing sheets).
It works, when I don't use file debugging (DebuggingMode = 1).
It doesn't work, when I do use file debugging (DebuggingMode = 5).

Guess I didn't notice that I never changed back to logging, when I tried it with the new native bridge thingy... Tomorrow I will install SD

[2018-10-30 00:02] dwmkerr commented on #177
Hi @ElektroStudios and @Countryen I'm flat out at work for the next couple of days so it'll be a short while before I can catch up on all developments. But in the meantime, one issue I noticed which I'll throw in here (sorry if this is a bit out of context, I thought it better to share even though I don't have time today to follow all the new developments in the thread)

When you build sharpshell,

[2018-10-30 08:32] dwmkerr commented on #154
Let me know how it goes @Countryen - if we cannot reproduce at this stage it is likely already fixed with recent updates and we'll close the issue. Thanks for the extra info @olivercoad!

[2018-10-30 13:12] ElektroStudios commented on #177
By default, SharpShell solution is targeting "AnyCPU" and the "Prefer 32 Bit" is not ticked, that means it will run x64 on a x64 O.S, but I'm not sure whether by default the x64 nativebridge is embedded when SharpShell targets "AnyCPU", or the x86 nativebridge.

I wanted to test a bit more by targeting SharpShell to x64 or x86 architecture and same for the nativebridge project, but I can't compile

[2018-10-30 15:34] dwmkerr commented on #177
OK good news!

![image](https://user-images.githubusercontent.com/1926984/47729839-44b10800-dca4-11e8-993a-5464f2384651.png)

I can reproduce the failure. And I was not able to reproduce when #213 is in.

So somewhere, I think the route cause is just mis-management of the lifecycle of the sheets. As you've seen we attempt to dispose of something we're already supposed to have cleaned up. At this s

[2018-10-30 17:09] ElektroStudios commented on #177
@dwmkerr I'm very happy that you finally can reproduce the problem. At the end my patience and especially @Countryen patience and effort helped to go on the right direction, now together with your patience and effort too.

So now, for my part, the only thing I can do is wait (for a new release of SharpShell).

If need something from me, just comment here.

Thanks everyone.

[2018-10-30 20:29] Countryen commented on #154
Hey there, did some testing, interesting results...

Can't seem to get it to work with any of tested "well known" extensions
[code]

But following works.
`[COMServerAssociation(AssociationType.FileExtension, ".c0pppp")]`
Note: I never used/had extension "c0pppp" before, just typed it in to try.

![image](https://user-images.githubusercontent.com/11256873/47744409-84b2c380-dc81-11e8-86f2-5602ee8513

[2018-10-30 23:15] Countryen commented on #177
@ElektroStudios Couldn't compile the native bridge, too.
Maybe  you can right click the project (in Solution Explorer) and "re-map" the project to your installed SDK. (I had to)
![image](https://user-images.githubusercontent.com/11256873/47755766-d1a59280-dc9f-11e8-9baf-65449d6fe63d.png)

After that, now I can compile.
(Note: I don't really know what exactly happens and if that is "allowed" or not

[2018-10-31 04:06] dwmkerr commented on #217
This is excellent, thanks @Countryen. Once I've got a handle on the property sheet issues I'll look into this in detail. Until then feel free to add more thoughts as you come across them!

[2018-10-31 08:43] dwmkerr commented on #177
I've fixed another bug which can make it difficult to diagnose this issue see #221. @ElektroStudios would be keen to see if this looks like your bug. I doesn't solve the null reference exception, only a cosmetic drawing issue, so I don't think it fixes your issue, but at least removes some of the noise. Hopefully easier to continue debugging now. Likely some more small fixes will come in as I test

[2018-10-31 09:21] Countryen commented on #177
if not resolved yet, why closed?

[2018-10-31 11:28] ElektroStudios commented on #177
@dwmkerr

I downloaded SharpShell as a ZIP from GitHub with the changes you made, I opened the solution and in nativebridge project properties I changed Windows SDK version to Windows 10 as @Countryen pointed out, otherwise I can't compile it.

Then, I compiled it (default build configuration and default everything else). I used the resulting SharpShell.dll assembly to compile my extension, I regi

[2018-10-31 22:40] Countryen commented on #177
@ElektroStudios Hey that's really, really nice to hear - that your extension now works (for you anyways). I will test it as soon as possible but won't come home till Sunday. Happy Halloween.

[2018-11-01 03:30] dwmkerr opened #222 "PropertySheets: Intermittent Explorer Crashes"
This issue has been raised from #177.

**Reproduction Steps**

- Register a property sheet shell extension for a file type or class of file.
- Open a number of sheets, ideally 8-10.
- After about one minute, explorer will crash.

**Root Cause**

My hypothesis is the following:

MSDN notes that for shell property sheet extensions, we must use a parent reference count:

)

The implication is that if

[2018-11-01 03:32] dwmkerr commented on #177
@ElektroStudios @Countryen OK updates!

*Why was the issue closed?*

GitHub did it automatically because I referenced it in a PR, so it was by mistake! I've re-opened it now.

*Disappearing Controls*

Interestingly enough it seems like from your most recent comments the disappearing controls issue is actually fixed, what we are left with is the explorer crash, is that right?

*The PR*

I've actual

[2018-11-01 03:33] dwmkerr commented on #124
There's been a lot of work in the property sheets in the last few weeks, so I'm closing this in favour of #222, but please re-open if needed.

[2018-11-01 03:33] #124 closed

[2018-11-01 05:07] ElektroStudios commented on #177
I agree, too large conversations in this thread.

You are really doing a very good job in general with SharpShell. Thank you!.

[2018-11-01 05:34] ElektroStudios commented on #222
I would like to try to help to reduce your investigation time, see if maybe this is kind of helpful for you:

- [callbackOnCollectedDelegate MDA](https://docs.microsoft.com/en-us/dotnet/framework/debug-trace-profile/callbackoncollecteddelegate-mda)
- [Diagnose Errors with Managed Debugging Assistants](https://docs.microsoft.com/en-us/dotnet/framework/debug-trace-profile/diagnosing-errors-with-mana

[2018-11-01 06:08] dwmkerr commented on #177
TY!

[2018-11-01 06:08] #177 closed

[2018-11-01 06:19] dwmkerr commented on #189
Closing this issue, I've updated all logging docs and re-tested the current implementation which seems solid enough with recent updates.

[2018-11-01 06:19] #189 closed

[2018-11-02 01:12] #222 closed

[2018-11-02 20:33] ElektroStudios opened #229 "AssociationType.ClassOfExtension and AssociationType.FileExtension are not working."
Hi!.

I'm using **SharpShell** v2.6.1. The thing is that I'm developing a property sheet that shows a property page with metadata of .NET assemblies, so I want to associate it with only .exe and .dll file extensions.

I tried to specify the **AssociationType.ClassOfExtension** and **AssociationType.FileExtension** flags in the **COMServerAssociationAttribute** attribute class, like this:

[code]

[2018-11-02 23:18] Countryen commented on #229
Hey Elektro (again ;) ),

You mentioned related issues - I guess these are #154 and #126

For #154 - **AssociationType.FileExtension**
Please see my last comment. It works (for me) with custom extensions (like *.c0pppp-Files) but not wit h stuff like "pdf", "docx", "xml", "txt", "jar". Don't know why though.

But for #126 - **AssociationType.ClassOfExtension**
Please see/test my proposed workaroun

[2018-11-03 05:00] dwmkerr commented on #229
Hi both,

The root of the problem is that in _most_ cases it would be incorrect to use `FileExtension`, as extensions should be registered against classes, but if you use `ClassOfExtension` then you run the risk of the extension not being registered if there is not already a class registered.

I think the best approach here would be to update `ClassOfExtension` to simply register the class if it i

[2018-11-05 00:28] ElektroStudios opened #232 "Property Page Icon is shown "truncated""
Any idea why my icon looks like this? (the top-left grayed part):

![](https://i.imgur.com/h4y6g1C.jpg)

This is the icon file: http://www.mediafire.com/file/3wpe19bqvr99v4m/Visual+Studio.ico

It is just an icon with 16x16, 24x24, 32x32 and 48x48 layers, with PNG compression.

[2018-11-05 00:41] dwmkerr commented on #232
I checked the internals of the icon:

![image](https://user-images.githubusercontent.com/1926984/47972348-43357480-e0d6-11e8-8460-af0bbf9c28f7.png)

They are all 32 bit images and this might be the issue. Try and make sure you also have lower bitdepth versions of the images, so that you can make sure they are rendered properly in the shell. Aim for 24 bit images and 256 colour as well to be safe,

[2018-11-05 01:04] ElektroStudios commented on #232
Thanks as always @dwmkerr. Any software recommendation to do that in a "guided" way?, I mean, I know how to convert the images to 24bpp and 256 colors, but no idea how to pack all the resulting images/layers together in a ico file. I just used "Quick Any2Ico" to create an ico with those layers from a jpeg file.

[2018-11-05 01:18] dwmkerr commented on #232
I'd be googling it I'm afraid! You'll probably need an image editor like GIMP, or you could try:

http://icoconvert.com/

Just make sure the resulting icon has low colour images too (you can use the IcoPreviewHandler from the SharpShell samples to see the internals of the icon)

[2018-11-05 02:46] ElektroStudios opened #233 "Explorer crash... again."
Hi.

I'm sorry to bring bad news but the Explorer crash problem is not solved, I have found a bug that causes Explorer to crash in specific circumstances. I'm not sure whether it is the same bug or different.

Here below I'll explain how to reproduce it, or at least how I think you will be able to reproduce it, this is how my user-interface (my property page) is composed, I don't have any code run

[2018-11-05 04:36] dwmkerr commented on #233
Can you provide a copy of the logs @ElektroStudios?

[2018-11-05 05:56] ElektroStudios commented on #233
@dwmkerr

Sorry but which logs do you mean?, where are stored or how do I generate them?. The only thing I can give by the moment is what the WER event says: "EventId: 1002 Source: Application Hang". It says that Explorer closed (crashed) due a hang (that we know it was caused by something related to the shell-extension). It does not say anything about an exception occured, curious, so its a hang

[2018-11-05 06:05] dwmkerr commented on #233
Hi @ElektroStudios,

Here's the docs on how to log:

https://github.com/dwmkerr/sharpshell/blob/master/docs/logging/logging.md

If you can enable file logging, then run the operation to failure, then include the logs, that'd be great!

[2018-11-05 06:17] ElektroStudios commented on #233
Here is the log but there is nothing special.

[code]

[2018-11-05 13:48] dwmkerr commented on #179
This is closed now I think, but please re-open if needed.

[2018-11-05 13:48] #179 closed

[2018-11-05 14:14] ElektroStudios opened #234 "'SharpShell Easy Log' - How Is the correct way to contribute with this?"
Hi.

I just made a simple GUI to make file logging easier for common users like me...

![](https://i.imgur.com/1vKyCNX.png)

( DebugView is included as a resource file. )

![](https://i.imgur.com/aOHLMS1.png)

( Output is updated in "real-time". )

-------------------------------------------------

@dwmkerr

It is very simple as you can see. I just would like to ask you which is the correct way to

[2018-11-06 09:46] dwmkerr commented on #233
OK, looks tricky. When I get home I'm going to share a way to get better debugging information, will update shortly

[2018-11-06 10:34] dwmkerr commented on #234
Looks awesome! I'm adding links to it now!

[2018-11-06 10:39] #234 closed

[2018-11-09 22:34] ElektroStudios commented on #233
Any news to this problem?.

I discovered that the problem will only occur when you put a ListView inside a TabControl. Note that the hang / Explorer crash will NOT be produced if the TabControl is empty (I mean, if there is no control added to the control collection of their tab pages), so to reproduce this you need to add a ListView inside a TabControl.

I don't know if it affects other controls

[2018-11-10 02:18] dwmkerr commented on #233
Great, thanks for the detailed notes! I'll be on this shortly, I'm just trying to close the registration issues. I think that for the registration issues I have finished the tests which demonstrate the failure:

https://github.com/dwmkerr/sharpshell/pull/240/files#diff-2b093ddbaab14cd3a857fabd7130bac6R95

Although interestingly I cannot actually get the error to manifest on my machine. When I've g

[2018-11-10 13:40] dwmkerr commented on #233
Thanks @ElektroStudios - there's a fix ready to test at #240 now

[2018-11-11 03:36] ElektroStudios commented on #233
Confirmed that the fix for the registration issue is working (at least in my O.S., I insist). Thank you for the fix.

Now the difficult part remains: "intermittent" Explorer hang/crash!

I really hope if you can manifest (and fix) the problem on the operating systems on which you are doing your tests.

Cheers!

[2018-11-11 03:38] ElektroStudios commented on #229
This seem fixed. Thanks again!.

[2018-11-11 03:38] #229 closed

[2018-11-11 03:41] ElektroStudios commented on #232
@dwmkerr

The proper size for the icon should be 16x16, or 24x24?. It is not a good idea to add more layers with different sizes inside the ico file, I'm right?. Just I'm trying to do the things in the correct way.

[2018-11-11 11:43] dwmkerr commented on #154
Fixed by #240

[2018-11-11 11:43] #154 closed

[2018-11-11 11:43] dwmkerr commented on #145
Fixed by #240

[2018-11-11 11:43] #145 closed

[2018-11-11 11:44] dwmkerr commented on #233
Thanks @ElektroStudios, this is the next issue I'll get onto 😄

[2018-11-11 11:59] dwmkerr commented on #232
Should be 16x16, use a specific icon resource for the property sheet rather than sharing it for other things (i.e. as you said, avoid multi-layer files) and you should be good!

[2018-11-11 12:08] ElektroStudios commented on #232
I ended using the next software (the GUI, not the library) to create the .ico file from the same PNG image image that I used when I had the issue reported here...

Despite the fact that I tried this before reading your recommendations: I created a multi-layer icon (of 16x16 and 24x24, 32 BPP images) and it worked fine!. Totally recommended:

- https://github.com/HerbertLausmann/HL.IconPro

Then, t

[2018-11-11 12:30] ElektroStudios opened #241 "Current icon for file extension is replaced by {default file icon} when SharpShell register the extension."
Sorry for opening a new issue, but I noticed this problem too late. Anyway before you read more, I really think this would have an easy solution from your side, don't worry...

The thing is that the fix (or improvement) #240 It has a annoying counterweight, the problem is that the file extension loses the association to the current icon.

I imagine that the problem can be reproduced by anyone, wit

[2018-11-11 13:15] dwmkerr commented on #241
OK seems like a silly bug with a quick fix, but until I get round to it I have unpublished `2.7` from Nuget to avoid too many people getting issues. Will look at this issue this week, might be a few days tho!

[2018-11-12 15:10] dwmkerr commented on #241
Hi Elektro,

I've just tried to reproduce this. Here's what I've found:

1. I try and register a property sheet extension (ResourcesPropertySheet)
for associations *.exe and *.dll
2. In the first case, the FileClassManager sees that `HKCR\.exe exists`
3. It reads the default value, finding `exefile`
4. `exefile` is returned as the class id

The same happens for `dll`. So I've so far not been able

[2018-11-12 17:30] Countryen opened #242 "Missing Release v2.7"
Hey all,

maybe I am blind but I can't find SharpShell v2.7
- Not under releases
- Not as Nuget Package

But ServerManager v2.7 (as well as SRM v2.7) (from last release) already uses SharpShell.dll v2.7 so I guess the Nuget is just late?

[2018-11-12 17:53] Countryen commented on #233
Hey all, I can verify/reproduce, problem happens on my system (win10x64 as always), too.
Created my Server using precompiled SharpShell v2.7.0 with a form as stated here:
https://github.com/dwmkerr/sharpshell/issues/233#issuecomment-437516334

[2018-11-12 19:10] Countryen commented on #233
Well after reproducing it I digged a bit and maybe found something.

`PropertyPageProxy` is using the Method `WindowProc` to communicate between the shell and the UI.
So, I inspected the executing calls to this method and made note of the sent `uMessage`'s.
-> Using Debug > Attach to Process > explorer.exe

I noticed that the `uMessage` that hits the `WindowProc `when leaving the Property Sheet wi

[2018-11-12 20:14] ElektroStudios commented on #233
Hi. Thanks for comment @Countryen. I've downloaded source-code of SharpShell 2.7.0 I added the next case in the `WindowProc` of `PropertyPageProxy` class

[code]
and I used the resulting SharpShell.dll with this change applied to compile my shell-extension, but the problem persists, same problem as in the GIF image that I shared, a hang occurs on the property sheet window, and finally a Explorer c

[2018-11-12 21:16] Countryen commented on #233
@ElektroStudios You could list which uMessage's are sent when the crash occurs - maybe it's different for you. I will try with a different Control inside the TabControl (like in your GIF).

[2018-11-12 21:29] Countryen commented on #217
## Notes on:
**No simple "Remove/Unload Server" option?
SM blocks loaded Server's VS projects from recompiling
"Tools > Clear most recently used servers" doesn't refresh the list of servers immediately
Issues when renaming/removing the Server while the program is open**

Apparently MEF is used and loads the Assemblies. MEF can not unload Assemblies dynamically so this will always be a problem. A s

[2018-11-12 21:32] Countryen commented on #233
Okay just added a `ListView `and it still works (and crashes without my modification).
Does it only happen when the Control is inside a TabControl? Or with other "Boxes", too?

[2018-11-13 01:23] ElektroStudios commented on #233
Before listing uMessages, here is my full VS solution using the SharpShell.dll with the WM_Activation case applied:

- http://www.mediafire.com/file/pp8tq5x8zt83ny5/NET+Assembly+Info+ShellEx.zip

( the shell-extension to be registered is the "AssemblyInfo.dll" file inside the "bin\Release" folder. )

maybe could you please check whether it is working for you without any hang/crash?.

[2018-11-13 02:54] dwmkerr commented on #233
This is looking awesome guys, I think we are very close. I will jump in on this one too, just slammed today tomorrow so might be a little behind. I'm trying in the meantime to see if I can find official docs which reference whether certain winproc messages *must* be handled to safely implement the prop sheet

[2018-11-13 17:43] Countryen commented on #217
@dwmkerr thanks for your insight. I agree that using LazyLoading / Reflection should be prefered and would resolve multiple issues. But as it's a bigger thing I will open a new issue and "remove" them from this list of issues.

[2018-11-13 18:22] Countryen commented on #233
@ElektroStudios Downloaded your solution and built it with my SharpShell v2.7 WITH my modification for `WM_ACTIVATE` and it runs perfectly fine. Without the `Target.Focus()` call it crashes/hangs as expected.

This is my log output when using **Target.Focus()** on leaving the property sheet after focusing the TabControl:
[code]

And this is it w/o the **Target.Focus()** call:
[code]

For some reas

[2018-11-13 19:11] ElektroStudios commented on #233
@Countryen

( please next time if you can share the code rather than a picture, to be able copy it as is. )

Ok so I have used this, which is the exact code that you shared:

[code]

Ok, now listen to this weird facts that I discovered:

- If the "Log" calls are added like in the code above, the property sheet works perfect, it does not hang.

- If the "Log" calls are removed, it hangs (and explor

[2018-11-13 19:23] Countryen commented on #241
Hey there, using v 2.7 from SharpShell@master/trunk I tried to reproduce.
Using
[code]

Following changes:

**HKCR/Word.RTF.8**                   > /shellex/ContextMenuHandlers/Prototype16Server/@ = {GUID} OK
**HKCR/dllfile**                   > /shellex/ContextMenuHandlers/Prototype16Server/@ = {GUID} OK
**HKCR/.dll/@ = dllfile** (note: no change here)
**HKCR/.rtf/@ = Word.RTF.8** (note: no chang

[2018-11-13 19:34] ElektroStudios commented on #241
@Countryen I really appreciate your interest and everything in your comment, but, the thing is that, regardless of which key was created by accident/earlier SharpShell versions or whatever reason, the relevant thing is that I had a specific icon associated for .dll files (as I explained above, in the HKCR\\.dll key), and, after using the servermanager.exe with the fix #240 applied to register my s

[2018-11-13 19:36] Countryen commented on #233
@ElektroStudios You don't think I tested that^^?
I was sure that the logging does not infere - because for me it doesnt.
I can remove all the logging (just did) and it still works with your Server / Property Sheet.

As soon as I remove `Target.Focus()` it crashes

(But next time I'll include the snippet for extra clarity.)

I agree that my "solution" is rather magically and the actual problem is p

[2018-11-13 19:49] ElektroStudios commented on #233
Oh, then... sorry, this give my without words. The problem is already very strange and weird for me to see that when I add the calls to "Log" method the hang never (NEVER) occurs, but when I remove them, the hang occurs as always following the same steps of the GIF image above.

--------------------------------

It's very tedious to test this thing. Now I will test a couple of builds doing changes

[2018-11-13 20:39] Countryen commented on #233
@ElektroStudios Windows SDK v10.0.17134.0

[2018-11-13 20:42] Countryen commented on #241
Could not reproduce this with version 2.7.0 (which includes #240)
No HKCR/dll.1

Could not reproduce this either.

I can - however - reproduce it like that:
- Chose any non existing file extension -  I'll use .c0ppp
- Create a SharpShell Server using ClassOfExtension ".c0ppp"
- Create a HKCR/.c0ppp Key
- Important. Don't set HKCR/.c0ppp/@ !
- Set HKCR/.c0ppp/DefaultIcon/@="C:\Icon.ico" (and store

[2018-11-13 20:44] ElektroStudios commented on #233
This is fixing my problem:

[code]

...instead of returning zero as the Microsoft docs says. It is working for me, the Window is being activated, and no hang will occur anymore.

I also put an eye on WM_MOUSEACTIVATE message. I need to test this with other controls as suggested by @Countryen

[2018-11-13 21:14] Countryen commented on #233
Same for me.

Also I looked at others examples, they don't return IntPtr, but (I guess) boolean or other
`BOOL CGitPropertyPage::PageProc (HWND /*hwnd*/, UINT uMessage, WPARAM wParam, LPARAM lParam)`
https://github.com/TortoiseGit/TortoiseGit/blob/master/src/TortoiseShell/GITPropertyPage.cpp

Researching I found that some Windows.Forms Controls also react to WndProc
https://docs.microsoft.com/en-u

[2018-11-13 22:20] Countryen commented on #233
Okay, I now tested various different Controls.
Result: Only if I nest a Control inside a **TabControl** it crashes.
GroupBoxes, FlowLayoutPanel, Panel, etc. all fine with nested controls - just the TabControl is bad for me.
Even multi-nesting works fine. I am curious what your result will be.

(Tested w/o any modifcation to the PropertyPageProxy)

So I guess we can focus on the actual TabControl a

[2018-11-15 19:18] BenQuigley commented on #68
I'm not able to get this feature working on Windows 10 with our application, even though the extension built successfully, and srm.exe installed it successfully (with `srm.exe install OurExtension.dll -codebase`). The Directory association works fine (the item appears in the right-click menu), but the Directory Background association does not (the menu item does not appear).

Is this all that we s

[2018-11-15 19:29] BenQuigley commented on #68
Our application uses 2.2, but in my testing I used 2.6.1 because I wanted this feature and it didn't work with 2.2.

[2018-11-15 19:31] Countryen commented on #68
Okay I am using 2.7.0 - but I will test it with 2.6.1 now.
I think it's a bit new feature, maybe it got better with 2.7.0

Note: 2.7.0 is the master version, Nuget-package and Release is currently missing, until another issue with registration is fixed (see other issues).

[2018-11-15 19:36] BenQuigley commented on #68
Trying 2.7.0 right now. I bet it has something to do with this line in the changelog: "If file extension classes are not present in the registry, then SharpShell will create them. If you discover *new* issues with registration, it may be worth quickly checking with the prior version, as there is small risk that new issues will occur due to these changes."

[2018-11-15 19:37] Countryen commented on #68
Don't think so, as the Background is no class and should definately not be missing on your system. But be careful, as other issues shows, this can remove your "DefaultIcon" bindings for file types.

[2018-11-15 19:38] Countryen commented on #68
Tested it with 2.6.1 and it works for me

[code]

[2018-11-15 19:40] Countryen commented on #68
Can you share whole code? I guess you are already registering with elevated mode? Tried it with an example server?

[2018-11-15 19:46] Countryen commented on #68
Can you try to manually add the extension to the registry? This is how it should look like / how it looks on my system (Win 10, x64, 64-bit)

[code]

[2018-11-15 22:02] Countryen opened #244 "[Dev] Testing - Tests fail because of language difference"
Using SharpShell master (v2.7.0), the tests don't run without failure on my system.
Reason: Language differences in following tests:
- SharpShell.Tests.PidlManagerTets.CanBouncePidl
- SharpShell.Tests.PidlManagerTets.CanGetPidlDisplayName

## Caused by following line (same in both tests)
[code]

## Error Message
[code]

## Reason
My system uses settings/locale/culture for de_DE - "Documents" is "D

[2018-11-16 14:06] BenQuigley commented on #68
I'm getting "installed and registered" output from ServerRegistrationManager.exe as well. It's just that the item is not appearing in the background right-click. 2.7.0 did not fix it unfortunately.

[2018-11-16 14:11] BenQuigley commented on #68
I'm getting "installed and registered" output from ServerRegistrationManager.exe as well. It's just that the item is not appearing in the background right-click. 2.7.0 did not fix it unfortunately.

[2018-11-16 17:19] Countryen commented on #68
@BenQuigley Can you reproduce the same with one of the official example server? Would you share your full code for further testing? For me registration works and the function works (I click right mouse button on Desktop or Folder Background and the ContextMenu-Item shows and works. So either it is something wrong with your registry (can you validate the registration manually) or with your server.

[2018-11-17 20:08] ElektroStudios commented on #233
Sorry for the delay.

Same experience here. It only crashes when adding a control inside a tabpage of a tabcontrol. I tested groupboxes, panels, flowlayoutpanel and with multi-nesting too.

In short, the results are the same for me.

[2018-11-17 20:47] ElektroStudios commented on #233
I sub-classed the default TabControl class to override the window procedure (WndProc) to try investigate  what window messages is sent exactly at the moment before the hang/crash. I have these two candidates which could be related about the hang:

WM_IME_SETCONTEXT (0x281)

WM_GETDLGCODE (0x87)

I hope this info could be helpful to debug it. I'll try too some things with this info.

[2018-11-17 21:37] ElektroStudios commented on #233
I have come to the simplest and easiest fix that does not imply to fix SharpShell source-code, however, SharpShell source-code should be fixed because we could not depend on sub-classing control classes to avoid issues like this.

The temporal solution is to set the ControlStyles.ContainerControl like in the example below:

[code]

[2018-11-17 22:54] Countryen commented on #233
Weird to me.

Yes seems like the best workaround right now.
I am glad we've got the same result for once ;)

Maybe dwmkerr knows more about the WindowProc's and how to fully fix this in the SharpShell code.
For a simple fix the `SharpPropertyPage` could probably set the style of all containing `TabControl`s by itself. Or it should deny usage of TabControls until it's fixed.

[2018-11-17 23:15] ElektroStudios commented on #233
For sure it would be easy to determine a TabControl window by its class name (**SysTabControl32**) and then apply a control style or whatever other things to do with that window, however, I think any solution should care about 3rd party controls too, that maybe could have implemented the same factors that makes a TabControl hangs a property sheet.

[2018-11-19 11:51] ElektroStudios commented on #233
Sorry but I think that the other day maybe I tested a bad (modified) sharpshell build by mistake, because now the TabControlFix class is not working for me, the property sheet hangs and then explorer crash... so the only way I see to temporally fix this is handling the WndProc to return non-zero for WM_ACTIVATE, as said before.

[2018-11-19 18:23] Countryen commented on #233
Hey @ElektroStudios did you delete your last comment about "bad testing"? I've got an e-mail but can't find the comment on here.

Anyways, I just wanted to ask something - not directly targeting the issue, maybe just for some clarification / information in general (I am curious):
-  Why does every Control handle WndProc?
- Doesn't only the "Window" (in our case the System.Windows.Forms.Form) handl

[2018-11-19 20:32] ElektroStudios commented on #233
@Countryen

Yes I deleted it because I was erroneous about what I said in that comment then it only could had bring confusion. I wrote that deleted message because I was testing my shell-extension and by mistake I set the value of ControlStyles.ContainerControl to False instead of True, I didn't noticed it, so I got a hang and then I thought the TabControlFix was not working and I published that d

[2018-11-19 21:11] Countryen commented on #233
@ElektroStudios Okay thanks for the info about the deleted post. No haven't tried it yet, will in a bit.

Thanks also for the insight on Windows Controls "Windows". A bit weird to call a "Text Box" a "Window" I guess, but it's "Windows" after all :D I wonder how WPF handles it then.

[2018-11-20 13:17] ElektroStudios opened #247 "Projects that use Sharpshell: .NET Assembly Info ShellEx"
Hi.

Not sure if this is the right place to write this... in the readme.md you say people to send you a message, I'm doing that here.

@dwmkerr If you could add this project below to the projects that use SharpShell... thank you!.

https://github.com/ElektroStudios/.NET-Assembly-Info-ShellEx

Have a nice day everybody.

[2018-11-23 13:43] canton7 commented on #162
Randomly found this through google... @ruturaaj you can call MoveFileEx MOVEFILE_DELAY_UNTIL_REBOOT to schedule the file for deletion on reboot.

[2018-11-23 14:29] dwmkerr commented on #162
Thanks for sharing @canton7!

[2018-11-23 14:42] #247 closed

[2018-11-23 14:42] dwmkerr commented on #247
Done, added!!

[2018-11-23 14:58] #244 closed

[2018-11-27 10:07] dwmkerr commented on #68
Reopening for now, @BenQuigley do you think you could enable logging and share the logs? (see https://github.com/dwmkerr/sharpshell/blob/master/docs/logging/logging.md)

[2018-11-27 10:11] dwmkerr commented on #233
Just trying to catch up here @ElektroStudios and @Countryen, can you let me know:

1. Does handling the message fix the issue (i.e. can I fix it with another handler in the SharpShell code)
2. Or is it a case that we have to make sure we change the style of tab controls (in which case I can mitigate a little with docs/FAQ, and then aim to maybe automatically check for tabs and fix them)

I am worr

[2018-11-27 10:45] ElektroStudios commented on #233
In resume, the thing is that any of both methodologies fixes the issue. I'm not sure in which way the **WM_ACTIVATE** can be related to **WS_EX_CONTROLPARENT** extended window style in the meaning that when that window style is not applied to a tab-control, it makes the property sheet hang (explorer crash) when **WM_ACTIVATE** is received. Maybe the root of the problem could be other different thi

[2018-11-27 14:16] BenQuigley commented on #68
Thanks for looking into it and the link to the logging features. I enabled logging and opened my example project...

    2018-11-27 09:10:03.073Z - explorer - OurExtension: Initializing shell extension...
    2018-11-27 09:10:03.081Z - explorer - OurExtension: Shell extension initialised.
    Parent folder: <none>
    Items:
    E:\directory

When I right-click a folder managed by our application,

[2018-11-27 15:06] BenQuigley commented on #68
Our SharpShell extension queries our application for whether the variable `SelectedItemPaths` is under its control.

I think the issue is that `SelectedItemPaths` is populated when right-clicking an item, but empty when right-clicking the DirectoryBackground.