[2018-11-27 18:20] Countryen commented on #68
But isn't that wanted/expected?
If you right-click the background, there is no selected Item (or do you select items prior to that?)

I think you should consider changing that check on `SelectedItemPaths` and include `FolderPath`.

[2018-11-27 18:36] BenQuigley commented on #68
Countryen, that fixed it. Thank you!

[2018-11-27 23:04] dwmkerr commented on #68
Excellent, thanks @Countryen and @BenQuigley, glad it's working! I'll add a note to the docs on this point 👍

[2018-11-28 02:21] dwmkerr commented on #233
Thanks @ElektroStudios - I've raised #249, if it looks sane to you let me know and I'll merge and release!

[2018-11-28 02:47] #68 closed

[2018-11-28 06:45] ElektroStudios commented on #233
@dwmkerr yes, it looks "sane". As far as @Countryen and I have experienced, that is the only required modification in the SharpShell source-code to fix the issue.

Thanks for your support.

[2018-11-28 07:18] #233 closed

[2018-11-28 20:15] Countryen opened #252 "RFC: Managed Shell Extensions with .NET Core & Side-by-Side Execution via manifests"
**Version of SharpShell used:** 2.7
**Related type(s) of SharpShell-Server:** Any

This is more a discussion about documentation / in general than an issue.

After there is (some) advice to not use Managed In-Process COM Server Shell Extensions (like our SharpShell Servers) as noted in the docs https://github.com/dwmkerr/sharpshell/blob/master/docs/managed-shell-extensions.md

Maybe we can/should

[2018-11-29 12:52] dwmkerr commented on #252
Great comments @Countryen. By preference, isolated CLR loading would be safer. .NET core would also be better it seems (it was not available when I started, but I've been thinking of it recently). I've got a few issues to close in some other repos then I'll look into this - it might make an excellent key feature for a v3 of SharpShell 😄

[2018-12-02 02:13] djonk opened #253 "Context Menu not working folder folders pinned in Windows 10 Quick access?"
Thanks a lot for creating and maintaining this great library.

I've some troubles showing a Context Menu in Windows 10 when the folder is accessed through the Quick access tab in Explorer. Navigating to the same folder through the normal C:\ file structure works great.

Any idea how to have a Context Menu show up when the user navigates to the folder through Quick access?

Thanks,
Djon

[2018-12-02 12:05] Countryen commented on #253
Hey Djon,

could you be a little more specific which "Quick Access (Tab)" you mean?
Maybe share a screenshot where you click?

Also which COMServerAssociation do you use?
Maybe `[COMServerAssociation(AssociationType.AllFiles)]` ?

[2018-12-02 12:18] Countryen commented on #253
I think I know which one you mean - "Frequently Used Folders" (& "Recently Used Files").

Try `[COMServerAssociation(AssociationType.AllFilesAndFolder)]`

[2018-12-04 09:36] nicolas-raoul opened #254 "Update deployment documentation"
**Version of SharpShell used:** 2.7.1

The README links to https://www.codeproject.com/Articles/653780/NET-Shell-Extensions-Deploying-SharpShell-Servers. Unfortunately, that document does not seem to be up-to-date, it does not mention Nuget and still talks instructing the installer to run `srm.exe`, instead of `ServerRegistrationManager.exe` which I believe is the new preferred name.

The document

[2018-12-04 13:24] #254 closed, assigned to nobody

[2018-12-11 08:51] RayKoopa opened #256 "SharpThumbnailHandler uses white hinting for alpha transparency"
**Version of SharpShell used:** 2.7.1

**Related type(s) of SharpShell-Server:** SharpThumbnailHandler

I'm implementing a very simple SVG thumbnail handler (with the help of https://github.com/vvvv/SVG). While the SVG renderer is correctly drawing alpha transparency, thumbnails returned through `SharpThumbnailHandler` seem to use white hinting to draw alpha transparent pixels.

Please have a look

[2018-12-16 12:07] dwmkerr commented on #256
Got it - thanks for sharing the repro steps, will look into it soon!

[2018-12-16 12:09] dwmkerr commented on #253
Looks like this one was misconfiguration. Thanks for your help @Countryen and please @djonk let me know if there's still issues and we can re-open. Cheers!

[2018-12-16 12:09] #253 closed

[2018-12-16 14:07] Countryen commented on #256
Testing this with Windows x64 last update and:
[code]

I am able to reproduce it using the example `SharpThumbnailHandler` with your replacement of `GetThumbnailImage`. But it's not at all that bad for me (at least not with my sample SVG files).

My result:
![image](https://user-images.githubusercontent.com/11256873/50054513-f1efba80-0142-11e9-8dad-acfe94eb9e66.png)

Note: It's only really noticab

[2018-12-18 07:36] PetBel opened #257 "Icon Overlay bug in SharpShell?"
Version of SharpShell used: 2.7.1

Related type(s) of SharpShell-Server: Icon Overlay

When I Install my Icon Overlay Handler with ServerManager I get the following Error:

![grafik](https://user-images.githubusercontent.com/45961444/50138183-04cad200-029e-11e9-8054-334474ccf3f1.png)

and the log shows this:

[SharpShellLog.txt](https://github.com/dwmkerr/sharpshell/files/2689313/SharpShellLog.txt

[2018-12-20 09:22] dwmkerr commented on #257
Definitely looks like a bug. I’ll check into it- thanks for sharing all of the details!!

[2019-01-01 14:41] FormatD opened #258 "NameSpaceExtension Cannot show subfolder in folderview"
**Version of SharpShell used:** 2.x.y
2.7.1.0
**Related type(s) of SharpShell-Server:** Any
DefaultNamespaceFolderView
OS：Win10 1803 17134.472

Thanks for your great job.

When i run the sample namespace
reproduct steps:
1.install sample **RegistryNamespaceExtension**
2.select any folder under Registry,such as:HKEY_LOCAL_MACHINE
3.i expect the folderview will show the items in HKEY_LOCAL_MACHINE
b

[2019-01-01 15:16] Countryen commented on #258
+1
I can reproduce this on my PC as well.

Also I get an error message when I click on anything below the first generation of children in the tree saying "Wrong Parameter".

Don't think so as issue #125 didn't fix anything really.

**Visual:**
![image](https://user-images.githubusercontent.com/11256873/50573996-f244b280-0dde-11e9-8802-7d4fcd785780.png)

[2019-01-03 17:10] falahati commented on #211
This was a real problem for me in the last week after updating to the latest version (from x.6 to x.7) practically made my installer useless as well as my backup code.

Now I had my fair share of problems with the SharpShell registration in the past. Had some problem with **srm.exe** in the last update and then decided to switch to **ServerRegistrationManager.exe**. With the new update, now even *

[2019-01-18 21:04] dwmkerr commented on #258
Thanks for the info on this issue, I'll take a look into it shortly!

[2019-01-27 10:56] windowsdeveloperwannabe opened #261 "Getting current IShellView from SharpDropHandler"
Hello,
I am changing filenames with SharpDropHandler. But Explorer does not sort the files until I refresh with F5, so it is hard for the user to notice the change.

Is there any way to get a handle of the current `IShellView` in `SharpDropHandler::Drop`? I would like to call this method [IShellView::Refresh](https://docs.microsoft.com/en-us/windows/desktop/api/shobjidl_core/nf-shobjidl_core-ishel

[2019-01-28 09:29] TFTomSun opened #262 "ContextMenu click not working"
**Version of SharpShell used: 2.7.1

**Related type(s) of SharpShell-Server: SharpContextMenu

I created a context menu. The menu item shows up, but when I click on it nothing happens. What could be the root cause?

My OS is Windows 10 Enterprise 10.0.15063 Build 15063

[code]

[2019-01-28 17:38] Countryen commented on #262
Hey Thomas,

I can't see the problem right now but maybe it's connected to your reference to `Siemens.MindSphere.Net.Extensions.ExplicitExtensions`.

Q: How did you install/register?

The Shell / COM will instantiate your Server and maybe there is a problem with that reference.
(Can't find it, version conflict, not strongly named, etc.)

You can try [logging](https://github.com/dwmkerr/sharpshell/

[2019-01-28 18:07] TFTomSun commented on #262
ok, i got a bit closer by restructuring the code. The following exception happens:

[2019-01-30 13:40] windowsdeveloperwannabe commented on #261
Looks like you need to copy-paste reimplement `SharpDropHandler` with some additional interfaces.

I also had to fork the entire project because `SharpShell.Attributes.ServerTypeAttribute` class needed by the handler is marked `internal` so I had to change it to be `public`. 😩 The project is very easy to develop and build though so can't complain. 👍

[2019-01-30 13:58] dwmkerr commented on #261
@windowsdeveloperwannabe mind if I re-open? I'd like to fix this in the mainline! Or if you can share a PR that'd be great :) PS glad you found the project easy to build, I've tried to make it as straightforward as possible to allow people to get it running locally!

[2019-02-02 10:03] taiyangluoshan88 opened #263 "SharpIconOverlayHandler is unable to refresh file icon from without an icon status."
Version of SharpShell used: 2.7.1.0
OS: win7 64bit.
I am facing an issue that some files do not have an icon before, after some condition triggered make them should have an icon. but i have to click 'F5' or right click mouse to see the icon. I want to know if this great library have an approch or method to trigger the refresh action in code, because we can not tell our user to click 'F5' to refres

[2019-02-03 22:20] BekirOruc opened #264 "about sharpShell ReadOnlyFileIconOverlayHandler"
**Version of SharpShell used:** 2.7.1.0

**Related type(s) of SharpShell-Server:** ReadOnlyFileIconOverlayHandler

Hello,

I used sharpshell and I wrote C# code your sample "ReadOnlyFileIconOverlayHandler".
But I can not run this code. I run Server Manager and I choosed class library dll ,
I can see the followings

Server Name Type CLSID
Invalid Invalid 0000000-000000-00...

.net framework is 4.6.

[2019-02-04 15:19] Countryen commented on #264
Hey BOruc,
looks to me like the version of your "ServerManager" and the version of your Server is not the same.

Server Manager can only (!) manage Libraries (that you wrote) that use exactly the same version of SharpShell.dll

You are using the NuGet-Package of SharpShell in your project (?), maybe you can share the content of your *.csproj-file for further assistance?

* Please check that it's t

[2019-02-04 15:24] Countryen commented on #263
Hey taiyangluoshan88,

Have a look at issue #261, looks like it's answered there and kind of the same problem.

Alternatively, (or until fixed by the developer(s) of SharpShell) maybe you can try sending [F5] from C# - it isn't a "best practice" solution, but could do for now.

[2019-02-04 16:04] BekirOruc commented on #264
Hi dwmkerr,

First of all , thank you for paying attention.

You were rigth, 

My Server Manager is old version,

I download sharpshell  project from github.

But I cant not build it.
  
I get this error.

I havent got this folder "C:\Users\xxx\Downloads\SharpShell\sharpshell-master\SharpShell\artifacts\build\SharpShellNativeBridge\*.*"

4 Şubat 2019, 07:19 saatinde, Countryen <notifications@githu

[2019-02-04 16:21] Countryen commented on #264
Just delete the post/pre-build events from the projects and you can build it.

From the settings of a project select "build events" and then delete the the pre and post scripts.
Then you should be able to build the project(s).
These scripts are necessary for the release of a new version / building the whole solution.

I'd recommend using the prebuilt one, though(https://github.com/dwmkerr/sharpshe

[2019-02-05 22:41] BekirOruc commented on #264
Hi,

First of all ,Thank you for paying attention again,

I used  the prebuilt one, though(https://github.com/dwmkerr/sharpshell/releases/tag/v2.7.1).

and server manager was run. I took good result.

I developed new program.

New program is succesed in server manger tool.

But I want to see the result in windows explorer I got the following error.

I add new code. 
I registered dsofile.dll and I

[2019-02-06 01:58] taiyangluoshan88 commented on #261
@windowsdeveloperwannabe
hi, did you implement the refresh function? if yes? could you please share your approch.

[2019-02-07 14:55] githubcatw opened #266 "Blank DLL on build"
**Version of SharpShell used:** 2.7.1

**Related type(s) of SharpShell-Server:** Any

Hello.
I want to create an extension that installs an application to a connected phone.
But, after building, my DLL ends up blank.

It's ~4MB, but contains nothing. Here is it in [DLL Export Viewer](https://www.nirsoft.net/utils/dll_export_viewer.html).
![image](https://user-images.githubusercontent.com/17374742/

[2019-02-07 15:47] Countryen commented on #266
Hey Narek,

You are using v2.7.3? IMO latest official version is v2.7.1 - please check.

I don't know much about this "DLL Export Viewer" but I guess it only shows exported functions.
I don't think SharpShell-Server (or rather your DLL's Server) uses these by default.
What exactly do you want to see here?

What does Server Manager say on your main PC?
Please note that Server Manager can only insta

[2019-02-07 15:52] Countryen commented on #264
Hey BOruc,

please try to use the "code-formatting" feature in the future. It's easier to follow along this way.
Also you are writing

But there is no error-text? Maybe there should be a an image or something?
Please check that, because I don't see the problem.

But before you do that...
Please consider opening a **new issue** if the original issue is fixed, which I think it is because you wrote:

[2019-02-08 12:57] DarkCreekWay opened #267 "Shift Key Support for ContextMenu"
Hello Dave,

i'm Looking for a way, how I can render the context menu items based on the state of the shift key pressed.

This would add the possibility to render a context menu for standard users with a reduced number of entries, and a extended menu for expert users which mimics the behaviour of Windows Explorer.

Keep up the good work,

Cheers, DCW

[2019-02-08 13:05] DarkCreekWay opened #268 "Support for Windows Explorer Ribbon"
Hi Dave,

your collection of extensions is outstanding. In order to provide end users a consistent "Windows Explorer" like experience, an extension for the Windows Explorer Ribbon would be highly appreciated.

Keep up your great work!

Best regards, DCW

[2019-02-08 22:02] Countryen commented on #267
Hey DarkCreekWay,

I was curious how to do it so I tried something.
It looks like this works.

[code]

Just try it out. I added it beneath the normal adding of menu items inside `CreateMenu` (like in the example).

I also tried using menu.Opening or itemX.DropDownOpening but they don't seem to work.

[2019-02-08 22:25] DarkCreekWay commented on #267
Hello Countryen,

I tried your code-snippet , and it works like a charm.
Thank you for figuring this out !

Probably a good candidate for the Code examples or the dev docs.

[2019-02-09 17:31] githubcatw commented on #266
I use the NuGet version of SharpShell and yes, it's version 2.7.1.
I installed Server Manager from NuGet and it's v2.7.1 too.
Here are all the packages I have:
![DotNetZip, ServerRegistrationManager, SharpShellTools and SharpShell](https://user-images.githubusercontent.com/17374742/52523975-f521a580-2cb0-11e9-9aae-7dc8df5d8130.png)
And [CountLinesExtension](https://www.codeproject.com/Articles/512

[2019-02-10 12:27] Countryen commented on #266
- If the example works, can you then share your Code (at least of the Server-class)?
- What should happen?
- How do you install? (which command/buttons?)

Also to clarify:
ServerRegistrationManager is something different than the Server Manager.

Please try to use neither the package "ServerRegistrationManager" nor "SharpShellTools" if they are not needed in your project. Just use "SharpShell" and

[2019-02-10 20:37] githubcatw commented on #266
**If the example works, can you then share your Code (at least of the Server-class)?**
[Here is the code](https://pastebin.com/6Z4x3JPm) (I modified the CountLinesExtension example)
`AdbStub` is a .NET ADB manager that I wrote.

**What should happen?**
It should show an "Install to Device" option when left-clicking an APK file.

**How do you install? (which command/buttons?)**
I open the server fr

[2019-02-10 20:41] githubcatw commented on #266
I tried the same with the Server Manager that I installed from the GitHub page, but it shows an error.
![image](https://user-images.githubusercontent.com/17374742/52539276-a3068000-2d95-11e9-9f05-d1af2f32de64.png)
The Server Manager version is 2.7.1.0.
[code]

[2019-02-18 08:04] dwmkerr commented on #268
Good suggestion! I'll take a look into this :)

[2019-02-18 09:05] dwmkerr commented on #267
Agreed, will add a note to the docs :)

[2019-02-18 19:01] DarkCreekWay opened #269 "SharpShellTools versioning"
Hi all,

I just ran into a subtle issue related to the SharpShellTools.

I started a new project and added the NuGet packages in the following order:

1. SharpShell (2.7.1)
2. SharpShellTools (2.2.1)

As i realized, that the SharpShellTools added a lot of references to my solution, which I did not need, so I removed all references except the reference to SharpShell itself.

This downgraded the ver

[2019-02-22 07:42] dwmkerr commented on #269
Excellent idea, I'll look into this

[2019-02-22 14:05] taiyangluoshan88 commented on #261
did this issue fixed?

[2019-02-22 14:06] taiyangluoshan88 commented on #261
hello,
is this issue fixed or have any other workaround?

[2019-03-03 09:44] windowsdeveloperwannabe commented on #261
@taiyangluoshan88
Hello,
I'm afraid `IShellView::Refresh` is a way too expensive of an operation for your problem. When I got it working it took a subsecond to refresh the Explorer view. Somehow `Refresh` is totally different from a simple `F5` in your explorer, so I couldn't use it for my problem either.

I'm currently trying out more shell extension interfaces in regular C++ (just got finished w

[2019-03-03 10:53] taiyangluoshan88 commented on #261
got it, thanks for your replay and hopeful you can find the approach to solve this issue.

[2019-03-04 03:21] dwmkerr commented on #261
I can look at this, but it might be a week or so, I'd be happy for any proposed PRs to expose the interface though!

[2019-03-14 07:20] Tichau opened #271 "SharpShellTools nuget package has not been updated recently"
Hello,

I just updated SharpShell from v2.2.0 to v 2.7.1 and SharpShellTools from v2.2.0 to 2.2.1.

My project can't be registered with the srm.exe found in SharpShellTools or tested in the ServerManager since the SharpShellTools package is using an old version of SharpShell (v2.2.1).

Error:
`The file '****.dll' is not a SharpShell Server`

Is it possible to update the SharpShellTools nuget packa

[2019-03-14 22:48] Countryen commented on #271
Hey there Tichau,

See #269.
The main developer (@dwmkerr) already looks into this, maybe you want to check there for updates on this topic.
But it's good to see others with the same "issue" ;)

[2019-03-15 09:38] Tichau commented on #271
Great!
Sorry for the duplicates, I close this issue and look for #269 .

[2019-03-15 09:38] #271 closed

[2019-03-15 11:56] githubcatw commented on #266
ping

[2019-03-15 19:01] DevLn opened #272 "Context Menu: explorer navigation pane issues"
I have some issues with context menu opening from explorer **navigation pane**:

[2019-03-15 19:19] DarkCreekWay commented on #130
I hope, this makes it into the code base

[2019-03-15 19:22] DarkCreekWay commented on #135
Did the changes made it into master ?

[2019-03-15 20:07] Countryen commented on #272
Hey DevLn,

Maybe you could try using one static ContextMenuStrip or some sort of Singleton (workaround) to only have the menu exist once.

The other problem is odd...
Maybe because of the Separator? I never tried these....
I think positioning items in a foreign list is always problematical, maybe use a SubCollection to have more control.

Will try it myself tomorrow.

[2019-03-15 20:24] Countryen commented on #266
Hey githubcatw,

sad to see that no one else responded yet, I don't really know what the problem could be.
Maybe you wanna send me your compiled DLL so I can check it myself?

If the example really works, maybe try adding your additional code step by step until it breaks?
Maybe it is because of the special class you are using?
-> Do you compile the example yourself or do you use precompiled ones?

[2019-03-15 20:25] DevLn commented on #272
There is a solution for the duplicate menus:
I can check `uFlags` param passed to `QueryContextMenu` method, but to do this the base class `SharpContextMenu` should be modified so derived class can have access to the param.
I see three options for that:
- Make `QueryContextMenu` method `protected` so derived class can override it.
- Pass is as param to `CanShowMenu` and `CreateMenu` methods.
- Add

[2019-03-15 20:36] DarkCreekWay commented on #266
I had some issues at the beginning with SharpShell too.

One pitfall I faced, are referenced assemblies not signed.
Is your AdbStub located in a seperate assembly ?
If so, is it signed ?

As @Countryen already pointed out, you can mess up your project by adding all nuget packages to the Project. Refer to issue #269 for some details

Best, DCW

[2019-03-15 20:40] Countryen commented on #272
Hey DevLn,

that sounds like a solution, but isn't the actual problem that `CreateMenu` is called twice?
It should only be called once for 1 right click, so I am curious why that happens.
AFAIK using multiple `COMServerAssociation` shouldn't force it to do it multiple times.
If so, maybe that should be changed first.

But giving some more information/access to the underlying system would be nice,

[2019-03-15 20:59] DevLn commented on #272
It seems that the problem is not in the multiple `COMServerAssociation`. If I put `AllFilesAndFolders`, `Folder` for example it's not called twice.
The strange things here are
- It's called for `DirectoryBackground` for the navigation item (not only for the background)
- It's called separately for `DirectoryBackground` and `Directory`
- The order problem is only for `Directory`, `Folder`, ... , bu

[2019-03-15 21:10] gaocan1992 commented on #130
Like to see this in the codebase too.
If this works, we can create shell extension without admin privilege

[2019-03-16 15:02] DevLn commented on #272
This seems to be a Windows feature/bug. I've tested with static menu created through the registry and the result was the same.

[code]

But this one was not reproduced:

If there is the same menu for `Directory` only one menu is created.

[code]

[2019-03-16 15:14] Countryen commented on #272
Hey DevLn,

Just to be clear, this is the navigation pane you are talking about?
![image](https://user-images.githubusercontent.com/11256873/54477254-7a472f80-4806-11e9-8a60-89b2144ea3ef.png)

Will try it myself.

[2019-03-16 15:24] DevLn commented on #272
Yes, that's it.

[2019-03-16 15:26] Countryen commented on #272
Does it happen in this one too (I don't know the name, maybe the "jump list context menu")?
![image](https://user-images.githubusercontent.com/11256873/54477443-1faed300-4808-11e9-8471-4b60741a9195.png)

(please try with and without holding SHIFT while right clicking on a folder).

Just curious ;)

[2019-03-16 16:02] DevLn commented on #272
1. On the jumplist context menu:
- It's shown only with SHIFT key pressed (as expected)
- I can't see ordering problem, but I have no empty folders there (and I don't know how to add new one)
- It's not shown for `DirectoryBackground`
- The only `uFlags` set is `CMF_EXTENDEDVERBS`

2. Within Explorer the SHIFT key only changes `uFlags` setting the `CMF_EXTENDEDVERBS` flag (expected)
Everything els

[2019-03-16 20:09] Countryen commented on #272
Okay did some testing:
All you said is the same for me, however
- The ordering problem is different for "Folder" (vs. Directory)
- The ordering problem is even more differnt when clicking on "Desktop under 'This PC'" vs. "Desktop under 'Quick Access'"

When the first one is a windows problem, I suggest using 2 workarounds:
- Use 1 Server for the DirectoryBackground and another Server for the Direc

[2019-03-17 21:57] DarkCreekWay commented on #262
Can this issue not be closed ?

[2019-03-17 21:58] TFTomSun commented on #262
yes

[2019-03-17 22:01] Countryen commented on #262
@DarkCreekWay only @dwmkerr and the OP can close it.
dwmkerr seems to purge the repository only so often.

@TFTomSun would you please close it yourself?

[2019-03-17 22:02] #262 closed

[2019-03-18 12:48] dwmkerr commented on #271
Thanks @Tichau!

[2019-03-19 06:38] DevLn commented on #272
OK, after deep look at `SharpContextMenu`/`NativeContextMenuWrapper` code and debugging I finally found the problem. :) (with ordering)
`QueryContextMenu`/`BuildNativeContextMenu` methods are not correctly implemented: they ignore `indexMenu` param passed to `QueryContextMenu`, and always insert the menu at position **_0_**.
As it's described [here](https://docs.microsoft.com/en-us/windows/desktop

[2019-03-20 12:18] githubcatw commented on #266
@DarkCreekWay, AdbStub is not in a separate assembly. It is a C# script in the same folder.
@Countryen, here is the dll: https://drive.google.com/file/d/1Q4bJwRidPI_q7svX2lCTndolfonoaC_S/view?usp=sharing, and the checksum (MD5) is 207D6B9932ECB2C744A2B0D5C6EC7EF4.n
I'll try creating a new project and only installing SharpShell (no Tools or Server Registration Manager).

[2019-03-20 15:19] githubcatw commented on #266
I created a new project and installed SharpShell only. The compiled server installs and behaves correctly.

[2019-03-20 15:19] #266 closed

[2019-03-20 17:05] Countryen commented on #266
Just for reference, if someone has familiar problems, some information that could help:

I checked the DLL and it was in fact built with a reference on
`SharpShell, Version=2.2.1.0, Culture=neutral, PublicKeyToken=f14dc899472fe6fb`

You can check that for yourself if ever in doubt again with [ILSpy ](https://github.com/icsharpcode/ILSpy#ilspy-------)(or any other IL/C#/.NET decompiler).

![image](

[2019-03-25 06:31] dwmkerr commented on #130
I'd be happy to get it in, just slammed with work - I'd be happy to take a PR but if I need to cherry pick from @rickardp's fork it might be a bit more complex.

[2019-03-25 08:03] dwmkerr commented on #272
This is excellent @DevLn - I will make a branch with the fixes, once I've done that would you be OK to test it quickly and verify that it works? If so, I can then merge to master (or if needs be, I can create some test cases for this, just takes more time).

[2019-03-25 08:10] dwmkerr commented on #262
Thanks @TFTomSun - as @Countryen mentioned my opportunities to work on the codebase are intermittent, depending on my workload!

[2019-03-25 08:10] dwmkerr commented on #272
Sorry @DevLn I see the PR now, checking now.

[2019-04-04 14:25] windowsdeveloperwannabe commented on #261
Got some time to continue looking into this. Actually `IShellView::Refresh` is not at all expensive at least when called from a regular C++ shell extension. Not sure what it means, maybe I had really bad COM marshaling in C# or something. :thinking:

It does change scroll position though, so in that sense it's somewhat annoying. Maybe there's still some other way to reload icons.

[2019-04-05 02:24] dwmkerr opened #274 "Complete the 'Environment Variables' Shell Namespace Extension"
The 'Environment Variables' shell namespace extension is probably the closest namespace extension to being 'complete', but there is still some work to do. Suggestion actions:

- [ ] Decent Icon for environment variables. Just makes it more appealing in the screenshots/docs.
- [ ] Standard view for environment variables. Currently the folder looks very strange.
- [ ] Copy for env vars - i.e. how to

[2019-04-05 02:27] dwmkerr opened #275 "build: Standardise Test Process"
We have the `test.ps1` script which runs all tests from a local machine. To improve parity/testability between local and remote builds, we should run `test.ps1` from the appveyor build.

[2019-04-05 02:28] dwmkerr commented on #252
Adding to this issue, I would like to have a think about how SharpShell now fits in with .NET Standard...

[2019-04-05 13:52] razvar opened #276 "SharpIconHandler - .NET FileOpenDialog calls my IconsHandler just once per app session"
Hi,

First of all I want to say thanks a lot for all of your work! this is a really great tool for handling Windows Shell Extension in .NET.

I'm using SharpIconHandler to set/change a file icon dynamically based on the file content. I'm refreshing explorer whenever needed (when file changed and needs a different icon) with:
SHChangeNotify(HChangeNotifyEventID.SHCNE_ASSOCCHANGED, HChangeNotifyFlag

[2019-04-06 18:00] HsuanTu opened #277 "Shell Context Menus"
**Version of SharpShell used:** 2.7.1

using this function, but click shortcut file will be repeat items ?

![2019-04-07_015627](https://user-images.githubusercontent.com/49348051/55673276-7b84ed00-58d8-11e9-85e6-4e3664e21ee9.jpg)

Thanks.

[2019-04-07 00:50] Countryen commented on #277
Hey HsuanTu,

please have a look at #272.
I think it might be a similar problem with the `[COMServerAssociation]`.

Also, make sure there is no "old version" of your COM-Server still registered.
Can you deregister/deinstall your COM-Server and all of the items is gone?

Does it only happen for shortcut files?
How do you create the items?

[2019-04-07 06:05] HsuanTu commented on #277
thanks Countryen to reply

I refer steps with GitHub and CodeProject, to implement the Sharp ContextMenu func.

my project code:
1. add refer SharpShell assembly with nuget (ver 2.7.1)
![2019-04-07_132613](https://user-images.githubusercontent.com/49348051/55679203-00542300-593a-11e9-9d5f-487ee8e82fdf.jpg)
2. change COMVisible attribute in AssemblyInfo.cs
![2019-04-07_131817](https://user-images.g

[2019-04-07 06:15] HsuanTu commented on #277
---> use SharpShell ver2.7.1 (latest version).

--->Yes, i can deregister/deinstall via Server Manager Tool. or use regasm tool to remove, confirm context menu items is gone, too.

--->Yes. only shortcut file.

--->above comment.

thank you.

[2019-04-07 13:22] Countryen commented on #277
Probably because of `[COMServerAssociation(AssociationType.DirectoryBackground)]`

From #272:

Also from #272, the named workaround:

So you can try to
* a: Use a static MenuStrip
* or b: set the Name Property of each ToolStripItem.

[2019-04-07 14:23] HsuanTu commented on #277
thanks Countryen to reply.

i try solution 'B' -> set Name property of each Item.
it is will not repeat items on desktop background.

thank you.

[2019-04-07 14:23] #277 closed

[2019-04-07 14:25] Countryen commented on #277
Great to know it worked.
Docs still need to be updated, I guess @dwmkerr.

@HsuanTu can you please change the name of the issue?
Something like: "Shell Context Menus - items shown multiple times" or something, for future reference?

Have a nice Sunday

[2019-04-07 14:56] Countryen commented on #276
Hey razvar,

**Some guesses/suggestions:**

maybe have a look at #252.
Would it be an option to load your .NET Runtime for your COM-Server every time anew with isolated side-by-side CLR loading (own AppDomain etc.)?
Then maybe it is called each time.

Otherwise, have a look at the implementation of the FileOpenDialog and maybe use a different one / create your own one?

Also can you please list wh

[2019-04-08 06:21] razvar commented on #276
Hey,

Thanks a lot for your support and for the suggestions. Only workaround that may work is to handle FileOpen/Save dialogs via direct API/Pinvoke to GetOpenFileName I guess (I'll try that a bit later).

Your steps to reproduce are correct. I've tried re-initializing the FileOpenDialog/dispose it, but not luck, same happens.

I'm attaching my C# POC in order to reproduce this:
[sharpshell-iconha

[2019-04-08 06:38] TechInterMezzo commented on #252
@Countryen Could you explain how .NET Core would solve the problem of the .NET Framework regarding shell extensions? Is side by side execution of .NET Core working better? I would like to learn more about it.

[2019-04-08 08:19] razvar commented on #276
I've ended up using SharpIconOverlayHandler instead of SharpIconHandler as a workaround, since I was getting mixed results and not working as it should via pinvoke/GetOpenFileName either. SharpIconOverlayHandler is called instead each time in the FileOpenDialog (no matter if the file has changed or not or dialog showed previously), changing the file icon state as I needed.

Thanks.

[2019-04-08 12:12] MPasadu opened #278 "Are there limits in using more external libraries? E.g. make a call to a db via a seperate .dll to get the info for CanShowOverlay?"
Hey,

I was experimenting with SharpShell and I tried to make a DB call through a external library (neo4jdriver.dll - graph db driver library) inside `CanShowOverlay`.

How does it work in general when you want to use external dlls / more nuget packages inside the implementation of `SharpIconOverlayHandler`? Can you just add them to the project and that's it?

[2019-04-08 12:35] dwmkerr commented on #278
Hi @MPasadu this should work absolutely fine. However, for any external libraries, when you release to the target machine you should make sure that those libraries are installed into the Global Assembly Cache. The basic Windows Installer project you can use from Visual Studio lets you do this easily.

One thing - for an assembly to be added to the GAC, it must have a *strong name*, i.e. it must be

[2019-04-08 12:39] dwmkerr commented on #276
OK understood - thanks for the update! Is it OK for me to close the issue?

[2019-04-08 12:42] dwmkerr opened #279 "docs: update for shell context menus"
Update docs to refer to the notes in #277.

[2019-04-08 12:42] dwmkerr commented on #277
Thanks! I'll update the docs, raised a new issue for that.

[2019-04-08 13:35] razvar commented on #276
Sure thing, you can close it.

Thanks.

[2019-04-08 14:03] MPasadu commented on #278
@dwmkerr
Thank you I will give it a try! I'll report back (probably at the end of the week).

Do you advise to install all the dependency libraries into the GAC? Or would it be better to make the `SharpIconOverlayHandler` call another program(.exe) which has all the libraries and will just do whatever has to be done and returns true/false?

[2019-04-09 19:36] Countryen commented on #279
Originally refers to issue #272
Also refers to PR #273

From #272:

Documenting a way to handle the "doubled context menu items" issue:
- Set property `Name` of each `ToolStripItem`.

IMO, should be Best Practice to always set a `Name`, too.
`

[2019-04-09 20:19] Countryen commented on #276
Still needs to be closed ;)
@razvar good to know you found a solution to your problem.

Just a side note on using `SharpIconOverlayHandler` in general:
Windows is limited (15) on how much `IconOverlayHandler` per file are allowed, always prefers the top most (ordered a-z) in the registry and only uses 1 in each case. I've had major issues because some app (I think it was OneDrive) just added 10 ha

[2019-04-09 20:21] Countryen commented on #252
@TechInterMezzo I am no guru at all but here my explanation:
.NET Core basically is built for side-by-side execution. You can either use SCD (Self-Containing Deployment) or FDD (Framework-Dependend Deployment). With SCD all the user needs to run your app is the folder of your app - no prerequisites (like installing .NET Framework version xyz) - it contains the complete .NET Core "Framework" (stupi

[2019-04-10 04:19] razvar commented on #276
Thanks a lot **Countryen** for the heads up, didn't know about that limit, adding it to my notes just in case I need to explain/debug when this will happen, since the other way with `SharpIconHandler` is not consistent for me (FileOpen dialogs are not refreshing/calling the icon handlers as Explorer does by the looks of it).

Looking in to `HKLM\Software\Microsoft\Windows\CurrentVersion\Explorer\S

[2019-04-10 09:10] gmalagutti opened #280 "The menu does not appear"
**Version of SharpShell used:** 2.x.y

**Related type(s) of SharpShell-Server:** Any

...
the dll is compiled as .NET 4 any cpu on VS2010, tested using 'Test Server in Test Shell' and it works fine, but in Windows Explorer and Shell Debugger it never appears as a menu entry. Testing on Windows 10 x64. Using latest build downloaded today.
![manager](https://user-images.githubusercontent.com/147850/

[2019-04-10 09:14] dwmkerr commented on #280
Hi @gmalagutti check out the troubleshooting guide here:

https://github.com/dwmkerr/sharpshell/blob/master/docs/troubleshooting.md

In particular this guide:

https://github.com/dwmkerr/sharpshell/blob/master/docs/installing/installing.md

Most likely the server is not installing properly, follow the section on 'getting installation logs' and see if you can attach to the issue, which should help

[2019-04-10 09:21] dwmkerr commented on #276
Thanks everyone! @Countryen the limit to the number of overlay handlers is mentioned in the `troubleshooting.md` guide, so I think that should cover it! But I've updated the doc to say that the shell handles generally no more than ten.

[2019-04-10 09:21] #276 closed

[2019-04-10 09:45] gmalagutti commented on #280
My fault, it was not com visible. Thank you for time and care

[2019-04-10 09:57] gmalagutti commented on #280
Sorry, not over yet. It seems tricky: in the Shell Debugger the menu item is there and in Windows Explorer it is not. To keep it simple no class of extension and CanShowMenu returns always true

[2019-04-10 13:39] dwmkerr commented on #278
Cool, let me know how it goes! It'd say the options are:

1. Install in the GAC, clean and simple, but maybe a little harder for installer
2. Run an exe. Also simple-ish, but you need to know how you will work out the path to the executable, and also running a process on Windows can be a _little_ slow so it is possible that the time involved in startup/shutdown of the process might slow the shell

[2019-04-14 17:34] MatriQ opened #281 "how to use overlay icon and context menu on win7"
Version of SharpShell used: 2.7.1

I want to make  overlay icon and context menu  from my application on , it shoud be successed except used NativeBridge. but there is some problem about security when it access registry on windows 7，it's throw a exception typeof System.Security.SecurityException.so,how should I do?

[2019-04-16 20:32] Countryen commented on #281
Hey MatriQ,

sorry if that sounds a bit harsh but I can't really understand what you are trying to accomplish so I tried to put it into simple steps, please correct me If I didn't understand a point:

1. You want to make 2 servers in 1 dll: 1x `SharpIconOverlayHandler `and 1x `SharpContextMenu`.
2. This part, I don't understand, please clarify: "It should be successed except used NativeBridge"
3.

[2019-04-16 20:37] Countryen commented on #280
Hey @gmalagutti
In the picture of you OP it says "Specified Associations: None" - maybe you didn't specify any and that's why it's not showing up? I guess you are building a SharpContextMenu? Then you should specify, when to show it (any file, a special extension (like .txt), folders, background, etc.)

[2019-04-17 15:29] MatriQ commented on #281
Countryen,

I'm sorry, my words were vague.It's about install and register the server, and it was successed when I rebuild ServerRegistrationManager。

the really problem is I can't manage service use ServerManager on win7,whatever rebuild or run in administrator mode，it's no power to access the registry.

[2019-04-17 17:18] Countryen commented on #281
Hey MatriQ,

-> Do you mean the user doesn't have access to the registry, at all?
Then you can't install your server without installing as a different user.
You need access to the registry (which an admin user should always have).

Can you try with an elevated user / admin user?

Also, can you please try one of the examples first?
If one (or all) of the examples worked, it would be a problem of yo

[2019-04-17 18:39] MatriQ commented on #281
Hey Countryen,
I opened the ServerManager.exe with an administrator account. and there is the error message
`System.Security.SecurityException: 不允许所请求的注册表访问权。
   在 Microsoft.Win32.RegistryKey.InternalOpenSubKey(String name, RegistryKeyPermissionCheck permissionCheck, Int32 rights)
   在 SharpShell.ServerRegistration.ServerRegistrationManager.IsExtensionApproved(Guid serverClsid, RegistrationType re

[2019-04-17 18:42] Countryen commented on #281
Hey MatriQ,

can you please translate "不允许所请求的注册表访问权。 在 " for me?
This should be the actual message, but please translate to English.

But from the looks of it:
If the method "IsExtensionApproved" is called, that would mean you already added one extension - can you give some information about the class?
Maybe the attributes of the class?
(COMServerAssociation etc.)

[2019-04-17 19:13] MatriQ commented on #281
sorry ,
"不允许所请求的注册表访问权" means "requested registry access is not allowed".
I tested any samples of SharpShell,there were throw that exception all on win7.

[2019-04-17 19:29] Countryen commented on #281
Okay, but that would mean, that your user can't access the registry (or that special **subkey**). Now you need to find out which subkey the ServerManager is trying to access and check its security settings, every subkey can be secured seperately and iirc some anti virus programs (or firewall programs) change some key securities.

Can you list
- what subkey it tries to access?
- you can check that

[2019-04-20 22:37] tsumiki-miniwa commented on #280
I experienced this issue.

I didn't specify any associations as well, because I wanted the menu to always show up.
I fixed my problem using [COMServerAssociation(AssociationType.AllFilesAndFolders)]

Just thought I would share.
Thank you @Countryen

[2019-04-21 14:40] mikeyhalla commented on #140
My apologies for being so late on this reply. I fixed it with my own rookie way so you may find a better way:

`Solution is to add in SharpContextMenu.cs in IContextMenu.QueryContextMenu this piece of code to filter it:

//  Don't show for Windows 10 Quick Access
//  Returns: CMF_EXPLORE (0x00000004), CMF_CANRENAME (0x00000010), CMF_ASYNCVERBSTATE (0x00000400)
if (Convert.ToInt32(uFlags) == 1044)

[2019-04-21 14:46] mikeyhalla commented on #279
I resolved this issue a while back with my own application by doing the following which can be found at:

https://github.com/dwmkerr/sharpshell/issues/140#issuecomment-485257032

Solution is to add in SharpContextMenu.cs in IContextMenu.QueryContextMenu this piece of code to filter it:

`// Don't show for Windows 10 Quick Access // Returns: CMF_EXPLORE (0x00000004), CMF_CANRENAME (0x00000010), CMF

[2019-04-23 19:17] MatriQ commented on #281
thanks, @Countryen

It's ok now. I think I copied an old file to my virtual widows7. it's  so stupid。 thanks for your help again.

[2019-04-24 00:56] Countryen commented on #281
@MatriQ ^^ happens - good to hear you resolved your issue. Then let's close this issue :)

[2019-04-24 01:19] dwmkerr commented on #281
OK thanks!

[2019-04-24 01:19] #281 closed

[2019-05-07 16:36] MatriQ opened #282 "how to change default item of ContextMenu in special folder"
usually,default item of ContextMenu is open,I want to add a item named downlaod and set it be default ContextMenu Item priority over the open.  is there some way to finish it?

[2019-05-07 18:28] Countryen commented on #282
Hey MatriQ, what do you mean by "default item"? The action on double clicking?

[2019-05-08 00:38] MatriQ commented on #282
@Countryen  yes,it's that mean.
like this  the default item is "open"
![image](https://user-images.githubusercontent.com/1320925/57341330-931bf380-716c-11e9-9399-b65c77fb7bcc.png)

[2019-05-12 23:36] Countryen commented on #282
Okay. After googling, I've found this https://stackoverflow.com/questions/37074403/windows-explorer-shell-extension-for-double-click which might help here. Basically it's saying that you need a ContextMenuItem, a special registry key and to change the default verb.

I am not sure if and how SharpShell is able to do this but will look into it.

**But maybe there is an easier approach:**
When you do

[2019-05-13 10:24] jhofinger opened #283 "AssociationType.FileExtension deprecated, but AssociationType.ClassOfExtension not working"
**Version of SharpShell used:** 2.7.1

**Related type(s) of SharpShell-Server:** SharpThumbnailHandler

Thanks a lot for this helpful library in advance!

I just made a very simple thumbnail handler for a custom file type, using `AssociationType.FileExtension`. It worked fine until I registered the program as default application for this file type. Afterwards, only the application icon was shown.

[2019-05-15 23:21] Countryen commented on #283
Hey jhofinger,

Great to hear you're liking SharpShell so far.
I'd like to try help / clear this issue.

Quick question: What OS do you use? Windows 10?
I tried to reproduce it by
- creating a new SharpThumbnailHandler that just returns 1 static bitmap file
- registered `AssociationType.ClassOfExtension` for ".c0p" (works, shows new img)
- changed the default program for ".c0p"
- no problem - stil

[2019-05-16 14:18] jhofinger commented on #283
Hey Countryen,
Thanks for your response.
OS: Windows 10 Build 17763

The issue can be reproduced on my system as following:
 * Write a SharpThumbnailHandler for a custom file extension using `ClassOfExtension`
 * Install and Register the handler using the Server Manager -> Thumbnails are shown
 * Register the file extension. Doesn't matter if set using Visual Studio Setup Project or using Right cl

[2019-05-19 16:12] antti202 opened #284 "Deskband transparency issue"
**Version of SharpShell used:** 2.7.1
...
How to get transparency working?
I set BackColor: Transparent but it isn't working.

[2019-05-19 18:01] DoCode commented on #252
Any news here? .NET Core would be the perfect solution for this project and with the latest announcements (.NET 5, .NET Core COM) it would perfectly fit in.

[2019-05-23 19:48] Countryen commented on #252
@DoCode Just read the information about .NET 5 - pretty exciting news. No news from me, though.

Why do you think .NET Core (or .NET 5) would be better for SharpShell than .NET Framework? Any insights/pros? Maybe we could start on a quick prototype-project with the new .NET Core 3 (with COM Support).

I hope with .NET 5 coming, .NET Standard will vanish - so we don't need to do much here.

[2019-05-30 20:52] Countryen commented on #284
Hey there,

sorry no one answered yet.
I'm gonna try to help you.

What do you want to make transparent?
Any details? Maybe a picture?
What color does it show when you set it to transparent?
What OS do you use Windows 10?

[2019-05-30 21:01] Countryen commented on #283
Hey there, sorry that I didn't update yet - did try it and now I can reproduce it.
**New files** are not displayed correctly.
But I don't have a solution.

I guess you should use the `FileExtension `then.
The Obsolete-marking should be checked.

It's obsolete because of discussions in issue #229
I think the devs need to change the logic so that it's not "obsolete" to use for SharpThumbnailHandler.

[2019-05-30 21:05] Countryen commented on #282
Hey @MatriQ

is this still open / unsolved?
Could you try out my "easier approach" yet?
Did you find a solution? Feel free to share your solution :)

[2019-05-30 21:08] Countryen commented on #280
Hey @gmalagutti

do you still need help with this or did you find a solution?
Did you try out a different `COMServerAssociation` or check yours?
Feel free to share your soltion and/or close this issue :)

[2019-06-18 17:50] pelletier197 commented on #148
I found the solution to the first problem.

For me, it was caused by the fact that the extension class was not public

[2019-06-25 03:35] dwmkerr commented on #148
Got it, thanks for the update!

[2019-06-27 14:23] woernsn commented on #280
Hi @Countryen,
I have the same problem with my project. I am not sure if I am using a library that cannot be used with COM.
The only special thing is System.IO, System.Linq and Windows.Forms.Form (with which I created a Form with simple RichTextBox.

It's working fine with "Test Server in Test Shell" of the Server Manager. Anywhere else it is simply not showing.
I'm using not file endings but [COM

[2019-06-27 20:02] Countryen commented on #280
Hey @woernsn
Please first make sure to use the most recent version of SharpShell: [v2.7.1](https://github.com/dwmkerr/sharpshell/releases/tag/v2.7.1).

What commands to you use to register/install exactly?
Can you try using the Server Manager instead?
Does it show the "Specified Associationtype"?

I'd also recommend first to download one of the sample projects and try to get them working and regis

[2019-06-29 12:15] JereckNET commented on #269
I should have read this before ! Took me all morning to understand why I could not load my extension in the Server Manager (2.2.1) while using only the SharpShell (2.7.1) nuget.

Downgrading the SharpShell nuget to 2.2.1 resolved the problem.

[2019-06-29 18:12] Countryen commented on #269
Hey @JereckNET,
glad it works for you but don't you think downgrading from 2.7 to 2.2 is a bad idea?
Between 2.2 and 2.7 there have been many fixes and changes, keeping up to date is recommended.
There also is a Server Manager for 2.7.1, it's just the nuget for the "tools" that is deprecated.

I recommend using "SharpShell" nuget v2.7.1, dump the nuget for the "SharpShellTools", and install Server

[2019-06-30 07:56] dwmkerr commented on #269
I actually started on a PR to bring the tools Nuget package back:

https://github.com/dwmkerr/sharpshell/pull/285

But I'm not convinced it makes sense. What's the use case you need to install the tools for @JereckNET? I'm thinking that for people who _just_ need the tools, not the code or libs, Chocolately might be better...

[2019-06-30 12:13] JereckNET commented on #269
TBH, I downloaded the NuGet package, went to the "packages" folder, copied the content in another folder, and removed the package.
I then modified the Visual Studio project's properties to start the Server Manager when debugging.

I have since followed @Countryen's advice.

I agree that the nuget's existence for the tools is misleading.

[2019-06-30 12:52] dwmkerr commented on #269
Yeah same - I think I am going to actually remove the packages, they just cause confusion.

[2019-06-30 12:54] dwmkerr commented on #269
The package is unlisted now; for anyone who has it installed, it will not break, but it will no longer show up in search results. Closing this issue for now!

[2019-06-30 12:54] #269 closed

[2019-06-30 13:02] dwmkerr opened #286 "build: support semantic release"
I'd like to see if there is something similar to [semantic-release](https://github.com/semantic-release/semantic-release) for .NET. This would mean:

1. All commits follow a standardised convention...
2. ...commit messages imply whether a change is major, minor or patch
3. ...Git version tags and `SharedAssemblyInfo.cs` should be always in sync and managed via tooling, rather than by hand

[2019-06-30 14:52] woernsn commented on #280
Hi @Countryen!

Sorry for the typo - I am at 2.7.1. ;)

First I tried to install via the Server Manager - this shows the server as successfully installed and registered. Afther it didn't seem to work I tried the manual deploy methods from https://github.com/dwmkerr/sharpshell/blob/master/docs/installing/installing.md. I tried both - regasm and srm.

_Directory_ is shown correctly in the Server Man

[2019-06-30 15:28] Countryen commented on #280
Okay, let's first concentrate on getting the sample project working -  CountLinesExtension.
I just tested it completely from a fresh start (Win10 x64 VS2019).
Maybe you wan't to reproduce my steps and see if it works for you, otherwise, feel free to post pictures what exactly is different (especially inside the registry/SM)

**Here's what I do:**
1. Download/Clone the project master
2. Open the `C

[2019-06-30 15:45] Countryen commented on #286
Sounds great 👍 I think reading the docs that it's language-independend.

**For step 3:** It's probably not that hard to include a little script/command that just set's the version number in the file via regex or smth like that. I know that SVN had something like $RevisionNumber: 1.0.0: to use in the file and got updated on each push.

A flow like that?
1. Contributer changes code
2. Contributer  c

[2019-06-30 16:29] woernsn commented on #280
Thanks for the detailed step-by-step how-to.
This is what I have tried doing before - I didn't know about the registry handling though.
My behavior is the expected one like shown in your screenshot. Everything is in the registry, where it should be.

But:
![image](https://user-images.githubusercontent.com/6933385/60399468-f3c01f00-9b64-11e9-92ef-8df277b18454.png)

[2019-06-30 18:02] Countryen commented on #280
Mhm that's very odd then. Can you share pictures of your registry entries + Server Manager? Maybe there is a small difference. You could also try using shexview to see, if it's listed and what the state is.
It's a little tool from nirsoft: https://www.nirsoft.net/utils/shexview.html, helps a lot when trying to figure out problems with shell extensions.

[2019-07-01 07:15] woernsn commented on #280
Registry values:
![image](https://user-images.githubusercontent.com/6933385/60417126-e136fb80-9bdf-11e9-8ce0-97af05fbc61a.png)

![image](https://user-images.githubusercontent.com/6933385/60417180-0d527c80-9be0-11e9-86f1-289f3f663136.png)

![image](https://user-images.githubusercontent.com/6933385/60417079-c5335a00-9bdf-11e9-870f-940b5107d600.png)

Server Manager:
![image](https://user-images.githu

[2019-07-01 22:05] Countryen commented on #280
Okay did a lot testing and troubleshooting.
I think I've found a solution.

The path is weird, but even weirder, for me ShexView shows that my DLL is in the GAC:
![image](https://user-images.githubusercontent.com/11256873/60458496-0b6bd600-9c3f-11e9-91b7-6fbe46a57353.png)

I searched the GAC
- C:\Windows\assembly
- C:\Windows\Microsoft.NET\assembly
- gacutil -l

but the DLL is nowhere to be found.

[2019-07-02 08:11] woernsn commented on #280
Thanks for all your support @Countryen!
What I did now:

1. Check with `gacutil -u "CountLinesExtension` -> Nothing was found.
2. Unregister with `regasm /u` (from the Framework64 directory).
3. Rebuilding the dll with a new GUID.
4. Registering with `regasm`.
The result in ShellExView is that the new GUID is shown but the file is still missing.
![image](https://user-images.githubusercontent.com/6

[2019-07-02 21:25] Countryen commented on #280
Okay a few other things to try:
1. Make sure there is no firewall/anti-virus-system blocking anything, they tend to not like Shell-Extensions.
2. Make sure that the context menu for "*.txt" is actually related to `Computer\HKEY_CLASSES_ROOT\txtfile` by creating a new entry manually (shell) like in the picture below:
![image](https://user-images.githubusercontent.com/11256873/60546032-c74f0300-9d1c

[2019-07-02 21:28] Countryen commented on #280
Oh actually before that, also try registering with gacutil.
1. deregister and deinstall completely
2. install in GAC with: gacutil -i "D:\Path\To\CountLinesExtension.dll"
3. It should then be listed with gacutil -l or inside the GAC_MSIL folder of  C:\Windows\Microsoft.NET
4. Register with regasm /codebase or with the Server Manager (Install & Register)
5. Check the registry entry, it should now s

[2019-07-04 21:46] Countryen opened #289 "**Cleanup**"
- [ ] Reviewing/Closing/Commenting/Doing all open Pull-Requests (they shouldn't stay up for long)
- [ ] Closing old issues, if they seem unsolved, marking them or making a collection of them.
- [ ] Cleanup of all old Flags, Labels, Milestones and Branches
- [ ] Tagging of all issues

:question:Proposal for tags:
-

[2019-07-04 21:46] Countryen commented on #289
This was unintended!

[2019-07-04 21:46] #289 closed

[2019-07-07 02:07] MatriQ commented on #282
I find the way, I need to disable nativecontextmenu

[2019-07-07 02:07] #282 closed

[2019-07-18 08:36] woernsn commented on #280
Hi @Countryen ,

sorry for the delayed answer - quite busy at the moment at work.
After trying registering with gacutil, I am getting the correct path in ShexView:
`C:\WINDOWS\system32\C:/WINDOWS/Microsoft.Net/assembly/GAC_MSIL/CountLinesExtension/v4.0_1.0.0.0__3abfeebd1a832fed/CountLinesExtension.dll`
Note the "C:\WINDOWS\system32\" prefix again.

The explorer does still not show the context menu

[2019-07-18 16:41] Countryen commented on #280
Hi @woernsn, no problem, It's a tedious problem and as long as you don't demand answer asap I won't complain.

Yes, it still shows "C:\WINDOWS\system32\..." which is totally weird to me.
I will try to reproduce that, if I can.

Feel free to try out my (other) 10 steps above in the meantime.
I tried to list them in order of work needed (easy -> hard).

Also be sure to check out the note with the "M

[2019-07-24 16:50] MatriQ commented on #258
Hi @dwmkerr
Will this issure be fixed in the near future?
I can't open subfolder when I run every sample of NamespaceExtension,and  no error logs.
My project need NamespaceExtension feture, I hope for your help.Thanks

[2019-07-29 03:26] yafacex commented on #280
I experienced similar problems.CountLinesExtension works fine,but AdvancedContextMenuExtension fails.Any Ideas?

[2019-07-29 04:34] yafacex commented on #280
I comment ToolStripMenuItem's Image.It works.However,I met another problem.When I uninstall the com using ServerManager and recompile AdvancedContextMenuExtension again.The .dll file can not be deleted.I have restart my computer.Althogh I restarted my pc,change some code,install it again,the result seems no change!It seems not really delete that com and if I want my change take effect,I have to re

[2019-07-29 06:18] yafacex commented on #280
I found why it can't take effect.The .dll file is stored a copy at file:///E:/MyGits/sharpshell/SharpShell/Samples/ContextMenu/AdvancedContextMenuExtension/bin/Release/AdvancedContextMenuExtension.DLL . After I delte it  and install server again.The change take effect.I think maybe in your uninstall logic, should remove this file and clear the associated register file item(HKEY_LOCAL_MACHINE\SOFTW

[2019-08-06 13:23] Aoi-hosizora commented on #284
I also have this problem.
Here is my code (win10 1803):
[code]
![image](https://user-images.githubusercontent.com/31433480/62543328-53aa9380-b890-11e9-884e-fd417fe4c76e.png)

[2019-08-06 16:09] Aoi-hosizora commented on #284
@antti202 I just have seen that if I set the UserControl's background to black and set the UseBackgroundColour BandOptions  to false, it will work well!

![image](https://user-images.githubusercontent.com/31433480/62556137-dcccc500-b8a6-11e9-9a49-5c6ffd89a7ee.png)

But there is another problem. I use StartIsBack which is used to change the windows taskbar theme, and the transparent will have a wro

[2019-08-12 15:30] Aoi-hosizora opened #292 "Get Administrator authority"
**Version of SharpShell used:** 2.7.1

**Related type(s) of SharpShell-Server:** SharpPropertyPage

How could I get the windows administrator authority when handling some files' property?
That is how to write the function `getAdmin()`
Here is my code:
[code]
[code]

[2019-08-12 15:35] Aoi-hosizora opened #293 "SharpPropertyPage enable apply button"
**Version of SharpShell used:** 2.7.1

**Related type(s) of SharpShell-Server:** SharpPropertyPage

How could I enable the `apply` button in property dialog when using `SharpPropertyPage` server?

Here is some part of my code:
[code]
![image](https://user-images.githubusercontent.com/31433480/62877425-98836e00-bd59-11e9-8a10-a5231e0394df.png)

[2019-08-22 09:31] dwmkerr commented on #286
Yep I think that would be perfect!

[2019-08-26 13:54] voltaek commented on #269
@dwmkerr As you've removed the Tools Nuget package, would you consider creating a ServerManager Nuget package for consistency with what gets built and attached to each release here on GitHub?

Currently I have the SharpShell and ServerRegistrationManager Nuget packages in my project, but then to test with the ServerManager I have to separately download the ServerManager ZIP from the releases here

[2019-08-28 16:01] RichardSharpe opened #294 "The PropertySheetExtension documentation does not come up"
This is on the GitGub website.

When I click the Documentation for the property sheet extensions, I get a 404:

https://github.com/dwmkerr/sharpshell/blob/master/docs/extensions/propertysheetextension/propertysheetextensions.md

[2019-08-28 20:36] Countryen commented on #294
Hey @RichardSharpe, thanks for noticing and sharing. Please tell me where you found that link so I can correct it.

https://github.com/dwmkerr/sharpshell/blob/master/docs/extensions/propertysheetextension/propertysheetextension.md

The link above should work (just the **s** at the end is wrong).

[2019-08-28 20:38] RichardSharpe commented on #294
On Wed, Aug 28, 2019 at 1:37 PM Pascal Ried <notifications@github.com>
wrote:

It's in the main .md on the GitHub page.

--
Regards,
Richard Sharpe
(何以解憂？唯有杜康。--曹操)(传说杜康是酒的发明者)

[2019-08-28 20:40] RichardSharpe commented on #294
On Wed, Aug 28, 2019 at 1:37 PM Pascal Ried <notifications@github.com> wrote:

Another question.

I am trying to follow the instructions, and I have Visual Studio 2019
Community Edition installed, but it cannot find System.Windows.Forms
to add a reference.

Where do I get that thing from?

--
Regards,
Richard Sharpe
(何以解憂？唯有杜康。--曹操)(传说杜康是酒的发明者)

[2019-08-28 20:55] Countryen commented on #294
1. Documentation was updated and redirects now to the correct page, thanks again.
2. Please try to keep each issue separated. Just start another issue so others can find the answer easier, if they have similar issues/questions.
3. Anyways, you should be able to add a reference to System.Windows.Forms from the "Add Reference..."  dialog. Like in this image:
![image](https://user-images.githubuserco

[2019-08-28 21:16] Countryen commented on #293
Hey @Aoi-hosizora, I hope to understand the question correctly, I guess the right most button is the "Apply"-Button? Sorry, I don't understand that language.

I just tested it, should be done by calling `SetPageDataChanged` inside of your `SharpPropertyPage` (it's a protected Method), see inside SharpPropertyPage.cs:
[code]

After calling this with `changed=true` (I tested it with a button click e

[2019-08-28 21:19] RichardSharpe commented on #294
On Wed, Aug 28, 2019 at 1:55 PM Pascal Ried <notifications@github.com>
wrote:

Ahhh, that helps. Thanks.

--
Regards,
Richard Sharpe
(何以解憂？唯有杜康。--曹操)(传说杜康是酒的发明者)

[2019-08-28 21:29] Countryen commented on #292
Hey @Aoi-hosizora,
Sadly, I don't have an answer.
I don't think this issue is specific to SharpShell, though.

All I know is, you could try using a manifest file, but I don't know if manifest files are used for DLL-Servers at all.

AFAIK, you can only "start" programs (EXE, etc.) as Admin, not DLL-Servers.
I think the best way to do it, is using another program, starting this program from your Pro

[2019-08-28 21:30] Countryen commented on #294
Closing this issue as the initial problem was fixed.
Feel free to open another issue for other questions, if they are more "general questions", please just name your issue like "questions or help needed" or something.
Feel also free to reopen, if not resolved completely.

[2019-08-28 21:30] #294 closed

[2019-08-28 22:57] Countryen commented on #269
Hey @voltaek just a quick heads up:
I don't think it's likely that there will be a ServerManager-Package.
Why? Because the Server Manager isn't really intended to be included in your project. Ideally you should only install it once (when you set up your development environment) and not need a new version for every new version of SharpShell. The team is currently discussing and working on improveme

[2019-08-29 00:09] voltaek commented on #269
@Countryen Thank you for the reply. Yeah, I can see what you're saying about the Server Manager not really being part of the project since it's just for testing.

To me it's more about ease of maintenance and clarity about where the compiled Server Manager files come from. When all the files are located in the packages folder and they're registered in the project as part of a Nuget package, it's c

[2019-08-29 00:46] Aoi-hosizora commented on #293
Thanks for your answer!

It works well! (You guessed right, 適用 is Apply)

I'm sorry I have not read the source code of the framework.

[2019-08-29 01:18] #293 closed

[2019-08-29 02:33] dwmkerr commented on #269
I've got no qualms about us deploying server manager or the tools as a nuget package if there's demand for it, which it seems there is. I think long term as it is more of a tool I'd imagine something like Chocolately might be useful, but we could probably do a Nuget package as well given we quickly and automatically generate them for other assets

[2019-08-29 05:21] Aoi-hosizora commented on #292
@Countryen Thanks for your suggestion!

I have tried to use the manifest file but this couldn't work well.

Well, I don't want to execute the external exe for worse performance.

( I also used SharpShell `ShellDropHandler` , but I can only start the external program to handle files because the referenced dlls don't have a strong name )

[2019-08-29 15:13] RichardSharpe opened #296 "Question: What do I need installed to add a reference"
I am using Visual Studio 19 Community Edition on Windows 10 Pro (1903).

I have installed:

DotNet Core SDKs 2.1.801, 2.2.301 and 2.2.304
DotNet Core Runtimes: 2.1.12 and 2.2.6 for three things (AspNetCore.all, AspNetCore.App and NetCore.App)
NDP 4.8 Runtime and NDP 4.8 DevKit

However, every time I bring up the Add Reference dialog box I get the message that No framework assemblies were found ...

[2019-08-29 16:54] Countryen commented on #296
You need to install .NET Framework (not Core). In the Installer of VS you can add the Windows .NET Workload (not UWP) with Windows Forms and WPF etc. Am 29.08.2019 17:13 schrieb Richard Sharpe <notifications@github.com>:I am using Visual Studio 19 Community Edition on Windows 10 Pro (1903).
I have installed:
DotNet Core SDKs 2.1.801, 2.2.301 and 2.2.304
DotNet Core Runtimes: 2.1.12 and 2.2.6 for t

[2019-08-29 22:41] Countryen commented on #292
Sadly, I don't think there is another way. But I also think that it's not intended for us to "need" admin rights inside Property Pages. Even Windows opens other programs when using admin rights (like the security settings - yet, I can't really say if it's another program or just another window or something like that).

Maybe you could try using a Service instead, for better performance?
Devkerr wr

[2019-08-29 22:50] Countryen opened #297 "Build Adding NuGet-Packages for Manager and Tools"
**Version of SharpShell used:** Any

**Related type(s) of SharpShell-Server:** Any

As previously discussed here: https://github.com/dwmkerr/sharpshell/issues/269#issuecomment-525995963

Demand for other Packages (besides SharpShell Package) rises.
Important: The Packages need to be in sync, because currently, the Tools (e.G. Server Manager) need to be built with exactly the same version as SharpS

[2019-08-29 22:59] RichardSharpe commented on #296
I have tried doing that but it seems to make no difference.

I also tried repairing VS but it also made no difference.

Where else should I look?

[2019-08-29 23:12] Countryen commented on #296
I'll try to help you :)

https://docs.microsoft.com/de-de/visualstudio/install/install-visual-studio?view=vs-2019
Here you can download Visual Studio (Installer), but I guess, you already have that one since you have  installed VS already.

Here you can choose your workloads, to get jumpstarted.
**See this picture, you should add this workload ".NET desktop development"**
![image](https://user-ima

[2019-08-29 23:24] Countryen commented on #296
Also, to be sure:
- You are using a **.NET Framework Class Library** and not a **.NET Core Class Library**?
- You can only add references via this dialog to **.NET Framework Class Libraries**.
- Can you please verify that?
- In the project's settings, you should be able to determine the target framework, which needs to be .NET Framework for SharpShell to work.

[2019-08-29 23:38] RichardSharpe commented on #296
To be honest I am not sure because I tried many different things, so I have deleted VS Community Edition and am re-installing it and selecting what you have mentioned above.

Will let you know.

[2019-08-29 23:49] RichardSharpe opened #298 "You get a 404 when clicking on the installing link in https://github.com/dwmkerr/sharpshell/blob/master/docs/extensions/propertysheetextension/propertysheetextension.md"
When I click on this link:

https://github.com/dwmkerr/sharpshell/blob/master/docs/extensions/propertysheetextension/docs/installing/installing.md

from the the following page:

https://github.com/dwmkerr/sharpshell/blob/master/docs/extensions/propertysheetextension/propertysheetextension.md

(it's down the bottom and labelled as Installing)

I get a 404.

[2019-08-29 23:53] RichardSharpe commented on #296
OK, it works now.

I think I clicked on the wrong type of project when I first created the project, and instead of clicking on Class Library (.NET Framework) I clicked on Console App (.NET Framework) but I am not sure.

Thanks for your help.

[2019-08-29 23:53] #296 closed

[2019-08-29 23:55] Countryen commented on #298
Hey @RichardSharpe, thanks for letting us know.
I noticed, that not only this one, but also other links on this site are dead (404), too.
It's a small fix, as we just need to remove the the "." at the beginning, then they work.

Here's the actual working URL:
https://github.com/dwmkerr/sharpshell/blob/master/docs/installing/installing.md

I'll see if other parts of the docs are having the same pro

[2019-08-30 00:28] Countryen commented on #278
Hey @MPasadu, was this problem resolved for you or do you still have questions?
I  would like to close this issue, if okay.

But please don't close it immediately as I first want to see, if the information here could be added to the docs, as I don't think it is in there already.

[2019-08-30 02:31] RichardSharpe commented on #298
Also on the Property Sheet Extension page:

https://github.com/dwmkerr/sharpshell/blob/master/docs/extensions/propertysheetextension/propertysheetextension.md

You see the following links under the picture of the properties dialog box:

Creating the Project
Create the DeskBand Interface
Create the DeskBand Server
Install the DeskBand Server
See Also

Of these, the middle three have the wrong names

[2019-08-30 02:59] RichardSharpe opened #300 "Question: How can I figure out why my property page extension will not load?"
I followed the instructions on the property sheet extension page at:

https://github.com/dwmkerr/sharpshell/blob/master/docs/extensions/propertysheetextension/propertysheetextension.md

In this case, I added a User Control but did nothing with it except InitializeComponent.

Here is the code I am using:

[code]

and:

[code]

then I have built and signed the collection, and then run gacutil -i MyM

[2019-08-30 03:06] Aoi-hosizora commented on #292
@Countryen Emm I just want to handle file property using `SharpPropertyPage`. Maybe it is better to write two project ( A shell service and a file handler program ) of this requirement. I don't know how others to do it best.

Thanks for your answer!

[2019-08-30 03:55] RichardSharpe commented on #300
OK, I don't know what I did, except perhaps running the SharpShell Easy Log application to setup logging, but now my extension loads ...

[2019-08-30 09:39] MPasadu commented on #278
We went with nr3. A co-worker implemented a prototype but the project is on hold for now.

[2019-08-30 22:04] Countryen commented on #298
Hey @RichardSharpe, thanks again for the help. I've made a new branch and added a pull request to work on the docs to fix these urls, see #299.

If you want to help, you can fix them yourself and commit to that same branch/pull-request.

Usually the problem is that the docs were moved and the links have not been edited.
But to fix them, usually it's just deleting the `.` at the beginning, to make

[2019-08-30 22:23] Countryen commented on #142
Hey @TheColonel2688, sorry to see this issue wasn't answered yet. I'll try to change that and (hopefully) close this issue soon. Do you still have problems registering your Servers? Did you find a solution? Feel free to share your solution here for all of us :)

[2019-08-30 22:26] Countryen commented on #155
Hey @k1teflight, sorry to see that this issue wasn't answered yet. I'd like to change that and (hopefully) close this issue soon. Does your problem/question still exist? Do you still need support with the Handler not showing without ServerManager? Never had this problem myself. Feel free to share your solution, if you found one :)

[2019-08-30 22:35] Countryen commented on #161
Hey @beuckbj, sorry that this issue wasn't answered yet. I'll try to change that and (hoepfully) close the issue soon. Thanks for letting us know about the issue. I will check if this was fixed / is still a problem myself and try to fix it then. Feel free to share any additional info, if you've got any.

We are currently discussing/planning to rework the registration and installation process, so t

[2019-08-30 22:39] Countryen commented on #176
Hey @BoBaUla, this issue is rather old but still not closed. Did you find any solution? Feel free to share it :) I still don't know any other way to specify the position directly, but I will see if I can find anything and probably add it to the docs.

[2019-08-30 22:43] Countryen commented on #182
Hey @hafstrom, this issue is rather old and you haven't come back to it after me and dwmkerr answering. Is this still a problem / open issue for you? If you found a solution, feel free to share it. I will add it to the docs, if it's new info.

[2019-08-30 22:45] Countryen commented on #190
As this is a rather old issue, this needs to be revised/checked. Probably a rather easy fix that can be added as a minor task to a bigger milestone. I will look into that shortly.

[2019-08-31 10:20] Countryen commented on #263
Hey @taiyangluoshan88, you haven't come back to this issue in a while. Is this still a problem for you? Or did one of the suggested solutions work out? Feel free to share your solution.

[2019-08-31 10:24] Countryen commented on #264
Hey @Orucb, you haven't gotten back to this issue in a while. Is this still a problem/issue for you or did you solve it? Feel free to share your solution, and then, please close the issue.

[2019-08-31 10:32] Countryen commented on #280
Hey @yafacex, thanks for the additional infos and details. I noticed that behaviour, too. Made me go nuts when I first tried to create a SharpShell extension, always needing to change the name or make another project helped. I will see, where to put it in the docs.

Hey @woernsn and @gmalagutti, you haven't come back to this issue in a while. Do you still need help / is this still an issue for you

[2019-08-31 10:43] Countryen commented on #300
Hey @RichardSharpe, I've editet your post to make the code formatting a bit better (helps reading), so you can do the same in the future :). Also, is this issue solved or do you still need help loading your extension? I can't think of any reason, why SharpShell Easy Log would do anything but maybe it was just a Windows (Cache) issue? If it works for you, please close the issue.

**Just as a side n

[2019-08-31 12:50] #292 closed

[2019-08-31 17:37] RichardSharpe commented on #300
Thanks for the feedback. I am using SRM and will look at SM.

I also found the SharpShell Easy Log too to be useful because I can add logging to see what is going on.

https://github.com/ElektroStudios/SharpShell-Easy-Log

[2019-08-31 17:38] #300 closed

[2019-08-31 17:44] RichardSharpe opened #301 "Question: What is the lifetime instances of classes derived from, eg, SharpPropertySheet?"
If I have a class derived from SharpPropertySheet and the CanShowSheet method returns true, is the instance of the class valid until the whole Properties Dialog box is destroyed, or only until another pane/sheet is selected, or some other time?

I ask so I can know if I can define and use instance variables, like an open file handle so I am not continually opening and closing files.

[2019-08-31 18:00] Countryen opened #302 "Docs: Reigstration and Installation Issues FAQ"
**Version of SharpShell used:** 2.7.x

**Related type(s) of SharpShell-Server:** Any

Since there have been quite a few questions like "Why does my Extension not show up" or "How do I install/register my extension" and others, I will try to add a FAQ related only to registration and installation issues to the docs, referencing the issues and trying to give best practices.

Some of it might be soon

[2019-08-31 18:19] Countryen commented on #301
Hey @RichardSharpe, good question. I don't have any answer. I think, best if you check it out yourself. I am sure the `SharpPropertySheet` and others have some `event`, `IDisposable` or `Destructors/Finalizers` that you can use to observe the behaviour. Maybe there is a tool that can track the lifetime of an instance outside of the application? I am not sure if debugging with Visual Studio will wo

[2019-08-31 22:01] k1teflight commented on #155
@Countryen Since the question is rather old, I can not really recap what I've done to solve it (it is solved), but I think it was some failures / misunderstanding of the necessary registry entries and how and when the ServerManager Writes/Deletes them (so I had a mixture of the "real" installation and the Debug/Dev-Version). But, just to mention, it could also be connected to other sources / nuget

[2019-08-31 22:01] #155 closed

[2019-09-01 15:26] Countryen commented on #302
Hey @dwmkerr something irritates me. You can install Servers. You can Register servers.
Installing = Putting them into GAC
Registering = Putting them into Registry (CLSID, etc.)

But now the SRM says here
https://github.com/dwmkerr/sharpshell/blob/Countryen-patch-2-docs/docs/srm/srm.md#installing--uninstalling-servers

How to "install" servers - but doesn't it register them (too)?
Is that - to me

[2019-09-01 15:27] Countryen commented on #298
Fixed https://github.com/dwmkerr/sharpshell/issues/298#issuecomment-526431561 in #299

[2019-09-01 16:35] RichardSharpe opened #303 "The documentation on Installing seems to be out of date for Windows 10"
**Version of SharpShell used:** 2.7.1.0

**Related type(s) of SharpShell-Server:** Any

The documentation at https://github.com/dwmkerr/sharpshell/blob/master/docs/installing/installing.md suggests using this command to install your extension:

[code]

However, I have found that the command is actually:

[code]

It also does not mention what you should do if your extension does not work and you ha

[2019-09-01 16:53] Countryen commented on #303
Hey @RichardSharpe, I think the `-` and `/` was just a mistake/typo (as it's really confusing if every second program uses one or the other ;))

Why the docs here don't cover more about `gacutil` might be because the gacutil is well documented by microsoft at MSDN, and here only referenced. As it's rather intended to use SRM, I don't think it was necessary to explain every bit. And, afaik, SRM has

[2019-09-01 16:57] Countryen commented on #303
Okay did check the MSDN and there it says to use `gacutil -i ...`. Also, my VS command prompt accepts `gacutil -i` .... Did it fail for you? Or how did you "find out" that it's supposed to be `/i` instead? I am using VS2019 with latest .NET installed.

[2019-09-01 18:43] RichardSharpe commented on #303
I just typed gacutil by itself and it showed me all the parameters.

It took a bit of experimentation, but the workflow I currently use is:

[code]
To unregister the old assembly

[code]
To uninstall the old assembly from the GAC.

[code]
to add it back

[code]
and it seems to work reliably.

[2019-09-01 18:43] RichardSharpe commented on #303
I am using VS2019 Community Edition.

It probably worked with -i but I didn't know how to remove the module from the cache until I looked at the help.

[2019-09-01 19:07] Countryen commented on #303
Wait, doesn't `srm uninstall dll` uninstall (from GAC), too? That would be wrong...

Also I guess you mean `/u` instead of `/i` to "uninstall the old assembly from the GAC"?
`srm install path-to-module` should add it to the GAC, if no -codebase flag is used, too.

For development I just use SM with install+register / uninstall+unregister. Works best imho.
For deployment the use of srm/gacutil/rega

[2019-09-01 19:11] RichardSharpe commented on #303
Well, I was doing srm uninstall dll and it seemed not to be removing it from the GAC because the next SRM install did not have the log messages I added/changed ... (and they were before the Marshal.SizeOf that was throwing an exception.)

With the steps (with corrections as you observed) I now reliably get modified code loaded (I change one of the master Log statements to ensure I know which versi

[2019-09-01 19:46] RichardSharpe commented on #303
I just used srm to uninstall the Extension, and then used 'gacutil -l "My Assembly Name"' and it was still installed in the cache.

[2019-09-01 21:05] Countryen commented on #303
I will check that soon. I doubt that's intentional.

[2019-09-02 06:46] woernsn commented on #280
Hi @Countryen, I gave more or less up on it.
A friend of mine created the context menu entry with the "original" C way to register the handler.
Once I get some more free time, I will come back to the problem - so that maybe others can find the solution to this problem..

[2019-09-02 14:49] RichardSharpe commented on #303
To be clear here I did use --codebase when trying to uninstall.

However, perhaps the problem is that I used gacutil to get it into the GAC so I should try without loading my extension into the GAC first.

[2019-09-02 15:01] RichardSharpe commented on #303
OK. It seems that as long as you only use SRM to install and uninstall it works.

Now to figure out why Marshal.PtrToStructure with an ANSI string would kill the explorer.

[2019-09-02 15:35] #303 closed

[2019-09-02 16:29] RichardSharpe commented on #302
How can I help?

Also, I have noticed that is you use the simpler SRM approach, while it is easier (less steps) the downside is that if you are still developing your extension and adding it to the Explorer at while doing so, the next time you build the build will fail telling you that the dll is locked by the Explorer.

Using the GAC approach seems to avoid this issue at the expense of a more comp

[2019-09-02 17:15] Countryen commented on #302
Hey @RichardSharpe, if you wanna assist/help, see this:

I want to make a simple FAQ with Numbers to reference later.
Should handle all sorts of questions/issues/problems regarding installation and registration, including Registry, GAC, COM, SRM and SM.
Format:
- **#XY - SHORTCUT - DATE**
- **Question:** How do I ...
- **Answer:** Do ...
- **References:** Issue #XYZ, https://...

How I handle the

[2019-09-02 17:20] Countryen commented on #302
Oh also, if you are interested, I am currently working on more **test coverage** for the project, see project 4 for more information about that. I would appreciate any help. Even if the code is to be changed soon, the tests now will provide crucial information about what acutally breaks. @RichardSharpe

[2019-09-02 17:21] Countryen commented on #302
Candidate for FAQ: #303 - especially the part about differences when uninstalling with srm.

[2019-09-03 18:51] RichardSharpe opened #304 "Properties Page Extension does not show for Folders ..."
**Version of SharpShell used:** 2.7.1.0

My PropertyPage extension does not display for Folders. Is there something special I have to do to get them to display for Folders?

[2019-09-03 18:58] Countryen commented on #304
You've gotta be a bit more specific than that. What COMAssociationAttribute do you use?
What folders did you test?

[2019-09-03 19:55] RichardSharpe commented on #304
Sorry, yeah. I found it. I had just copied the boilerplate association stuff from the examples.

I needed to change it to [COMServerAssociation(AssociationType.AllFilesAndFolders)] and I started getting called for folders as well as file.

[2019-09-03 19:55] #304 closed

[2019-09-11 18:03] benpolinsky opened #305 "An error occurred inside the user defined Register/Unregister functions: System.ArgumentOutOfRangeException: Specified argument was out of the range of valid values. Parameter name: serverType"
**Version of SharpShell used:** 2.7.1
**Related type(s) of SharpShell-Server:** Any/.txt

Hi and thanks for the library.

Trying to get any icon overlay to work. I've "successfully" registered one (it appears in the registry) but doesn't ever appear. This is if I leave out the `ComServerAssociation` attribute.

When I attempt to add a `ComServerAssociation` attribute, I get an error message on ins

[2019-09-11 20:05] Countryen commented on #305
Hey benpolinsky, great to hear that you like the library so far. Please see #92 for more information, but you aren't supposed to specify any `COMServerAssociationAttribute` for Sharp Icon Overlay Handlers.
They don't need an association as they are called for every file (and only files, as far as I know). See the [tutorial ](https://www.codeproject.com/Articles/545781/NET-Shell-Extensions-Shell-Ic

[2019-09-13 14:58] benpolinsky commented on #305
Ah okay thanks!

[2019-09-13 14:58] #305 closed

[2019-09-17 21:01] wbaffy opened #306 "ToolStripMenuItem.DropDownOpening event not triggered"
**Version of SharpShell used:** 2.7.1

**Related type(s) of SharpShell-Server:** Any

I am attempting to define submenu items **after** the main menu item is expanded. The main menu item is always shown, and what submenu items are shown depend on a connection to a server. I don't want to attempt the connection until the main menu item is expanded, otherwise we are doing this any time Explorer cont

[2019-10-29 07:33] vpenades opened #307 "Accessing file path with SharpThumbnailHandler"
**Version of SharpShell used:** 2.7.1

**Related type(s) of SharpShell-Server: SharpThumbnailHandler**

I want to write a custom thumbnail server for a file type, but the file references other files that are relevant to generating a proper thumbnail.

Main file
   ├─ Associated file
   ├─ Associated file
   └─ Associated file

The problem is that **SharpThumbnailHandler** only gives access to the

[2019-10-29 08:01] dwmkerr commented on #307
Hi @vpenades I'll see what can be done here!

[2019-10-30 05:50] dwmkerr opened #310 "feat: Allow Thumbnail Handlers to be Initialised with a file"
Means we need to derive a new `SharpFileThumbnailHandler` class, which is similar to `SharpThumbnailHandler` but implements `IInitializeWithFileStream` instead. We also need to note the usage of the `DisableProcessIsolation` flag as noted in [this thread](https://stackoverflow.com/questions/1733272/ithumbnailprovider-and-iinitializewithitem) to allow the handler to register.

This would resolve is

[2019-10-30 06:12] dwmkerr commented on #307
OK effort number 1 has failed 😄  - PR #309 actually successfully returns the name of the associated file from a `ComStream` if one exists, however it will not serve your purposes as you need the full path I assume.

This means that the only way to solve this problem is to create a _new_ class, something like `SharpFileThumbnailHandler`, which does not implement `IInitializeWithStream` but instead

[2019-10-30 06:19] vpenades commented on #307
Yes, that's what I would need.

Associated files are referenced by _relative_ paths, but in order to find them you need the _absolute_ path of the main file, so you can build the absolute paths to the associated files.

[2019-10-30 09:11] dwmkerr commented on #307
Bad news:

https://github.com/dwmkerr/sharpshell/pull/311

I created the `SharpFileThumbnailHandler` class and after a few hours wasted debugging realised that thumbnail handlers for files are no longer supported due to some security issues they exposed (which is why they simply do not get called now).

The last option is to try the same approach as in PR #311 but using `IInitiailizeWithItem`. I w

[2019-10-30 10:54] vpenades commented on #307
Awww, I'm sorry to hear that :(

I suspected there might be some security issue. Technically speaking, you really don't need the full path of the main file, just to be able to get another file _relative_ to the main file. But I guess it's something that should be implemented by Microsoft in the internal APIs.

I guess that accessing the full path indirectly, if possible, would be restricted in the

[2019-10-30 14:01] dwmkerr commented on #307
OK I tried with `IInitializeWithItem` as well:

#312

No joy, same issue I'm afraid! It looks like the only solution would be to embed the data you need in the file stream itself if it is a custom file that you have created, or as you suggested manually create the thumbnails.

Sorry about that! I've updated the troubleshooting docs with notes from this issue and merged the new interop types into t

[2019-11-03 11:58] dwmkerr commented on #307
Yes it's very annoying - you can't even use the property metadata store to hold things like the folder path or whatever, because with the Thumbnail Handler you have no access to any of the items, just the stream. If I find a workaround I'll let you know, sorry we weren't able to get this one done! BTW if you use SharpShell lots and find it useful, please do consider [sponsoring me](https://github.

[2019-11-03 15:15] dwmkerr commented on #252
@Countryen I've been reading through this:

https://www.amarinfotech.com/difference-between-net-core-2-0-vs-net-framework.html

I see two potential issues at the moment:

- WinForms / WPF - these are not available in .NET Core, but a number of servers will need them (property sheet extensions, deskbands, namespace extensions etc) will often use these technologies for the GUI
- Win32 hands - given

[2019-11-03 16:09] TechInterMezzo commented on #252
This is not true anymore for .NET Core 3.0.

I think, you should read this: https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0

[2019-11-04 01:51] dwmkerr commented on #252
https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-3-0

Awesome :) I'll start experimenting! I think like the plan of attach will be to eliminate regasm as there are already PRs for this, and this will be a significant enough change to bump SharpShell up to v3, in the meantime I'll create a branch to investigate .NET Core 3 support!

[2019-11-04 18:33] aybe opened #313 "Is it possible to set the position of the menu item in the context menu?"
**Version of SharpShell used:** 2.7.1

**Related type(s) of SharpShell-Server:** Directory, DirectoryBackground

As you can see below, the menu item sits at the very top of the context menu, which while nice, breaks a bit UX. Ideally, I would like it to sit below `View, Sort by, Group by, Refresh, Customize this folder..., Paste`, i.e. where all non-system menu items are.

![2019-11-04_19-30-03](h

[2019-11-04 19:53] Countryen commented on #176
I'll close this now in favor of the rather active/new duplicate #313.

[2019-11-04 19:53] #176 closed

[2019-11-04 20:11] Countryen commented on #313
Hey @aybe, good question, sadly yet there is no clear way to do this.
From the just closed duplicate issue:

Also, reading a bit more at MS docs, these resources could help you do it.
I don't think there is yet a feature that supports that, but if possible, we can add that.

- [IContextMenu](https://docs.microsoft.com/de-de/windows/win32/api/shobjidl_core/nn-shobjidl_core-icontextmenu?redirectedfr

[2019-11-04 21:56] aybe commented on #313
There you go:

#314

Needs more testing but so far works as expected!

[2019-11-04 22:23] Countryen commented on #313
Great 👍 will look into it more tomorrow as it's almost midnight here :D

Question: How do you specify "uint itemIndex" now? Or is the one from the system okay for you?
Can you show an example code/registry?

[2019-11-04 23:34] aybe commented on #313
To me, the value `IContextMenu.QueryContextMenu` gets from the system is just fine.

Not sure I understand what you mean, I did nothing more than implementing a context menu, nothing at all in registry (it just works out of the box).

I did a quick test, copy pasted a context menu many times, looks like it's working fine:

![2019-11-05_00-26-56](https://user-images.githubusercontent.com/1537591/68

[2019-11-05 18:47] Countryen commented on #313
Hey @aybe thanks for clearing that in your PR.
I want to keep this open to add it (how to position items) to the docs with a reference to [your comment (314)](https://github.com/dwmkerr/sharpshell/pull/314#issuecomment-549924990), why specifying the index manually is usually a bad idea. I will close it, after checking the docs.

[2019-11-05 19:31] aybe commented on #313
OK

Le 5 nov. 2019 19:47, Pascal Ried <notifications@github.com> a écrit :

Hey @aybe<https://github.com/aybe> thanks for clearing that in your PR.
I want to keep this open to add it (how to position items) to the docs with a reference to your comment (314)<https://github.com/dwmkerr/sharpshell/pull/314#issuecomment-549924990>, why specifying the index manually is usually a bad idea. I will close

[2019-11-05 21:05] Countryen commented on #280
Just found something that could explain the issue.

Source: https://docs.microsoft.com/de-de/windows/win32/shell/shortcut-menu-using-dynamic-verbs#about-static-and-dynamic-verbs

Maybe that's why the `C:\WINDOWS\system32\` prefix is added.

[2019-11-05 21:09] Countryen opened #315 "rfc other methods to create context menu items"
**Version of SharpShell used:** 2.x.y

**Related type(s) of SharpShell-Server:** SharpContextMenu

Hey there, this is a request for comment, requesting everyones oppinion.
Also, it is a new feature/improvement, which doesn't have a very high priority right now, just wanted to write it down as it might proof useful in the future.

I've have been reading a bit microsoft docs lately and found [this a

[2019-11-07 05:10] #313 closed

[2019-11-28 16:29] akaksohot opened #318 "PreviewHandler not works for system know file extension(.cs,.txt and so on)"
when i using PreviewHandler, i found it can not do preview for system known file extension, for example, .cs, .txt, anyone who have ever encountered this issue? or anyone who know how to fix this issue?
![11](https://user-images.githubusercontent.com/11461836/69821679-5108eb00-123f-11ea-8d2b-cd13112fd897.png)

[2019-11-28 16:33] akaksohot commented on #318
Below image is my code snip,
![2](https://user-images.githubusercontent.com/11461836/69821913-df7d6c80-123f-11ea-856a-4262db6e961d.png)

[2019-11-29 23:37] Countryen commented on #318
Hey @akaksohot. Can you first please change the issue-description according to the template for consistency (see the template when creating a new issue)? Also, depending on which version of SharpShell you are using, this could explain the issue.

Please check the registry yourself according to https://github.com/dwmkerr/sharpshell/issues/229#issuecomment-435536487.
Maybe the "Class" is missing in

[2019-12-01 02:45] akaksohot commented on #318
Hi Countryen,
Very thanks for your quick reply. SharpShell functions are very great.
My ShareShell is 2.7.2.0, window version is win10.
What i want to do is to make all files and directory have my same custom preview window using SharpPreviewHandler. So i set as below, but it does not work for some system extension which windows system have it's own preview content.
 [COMServerAssociation(Associat

[2019-12-01 03:18] akaksohot commented on #318
![Case1](https://user-images.githubusercontent.com/11461836/69908848-495a6980-142c-11ea-8a2d-f624cf30f2c7.png)
![Case2](https://user-images.githubusercontent.com/11461836/69908849-4c555a00-142c-11ea-8cb9-1cf857f26799.png)

[2019-12-01 03:19] akaksohot commented on #318
Below is the images.
![Case1](https://user-images.githubusercontent.com/11461836/69908857-73139080-142c-11ea-822a-4001041b416a.png)
![Case2](https://user-images.githubusercontent.com/11461836/69908858-76a71780-142c-11ea-981f-10e0b3de88ad.png)

[2019-12-01 03:25] akaksohot commented on #318
Below is my code.
using System.Runtime.InteropServices;
using System.Windows.Forms;
using SharpShell.Attributes;
using SharpShell.SharpPreviewHandler;

namespace AbcPreviewHandler
{
    /// <summary>
    /// The Abc Preview Handler is a preview handler that shows a simple
    /// coloured background for ABC files.
    /// </summary>
    [ComVisible(true)]

    //Case ①
    //This is work for .cs a

[2019-12-01 03:26] akaksohot commented on #318
using System.Runtime.InteropServices;
using System.Windows.Forms;
using SharpShell.Attributes;
using SharpShell.SharpPreviewHandler;

namespace AbcPreviewHandler
{
    /// <summary>
    /// The Abc Preview Handler is a preview handler that shows a simple
    /// coloured background for ABC files.
    /// </summary>
    [ComVisible(true)]

    //Case 1
    //This is work for .cs and .txt, if want t

[2019-12-01 03:26] akaksohot commented on #318
Below is my code.
----------------------------------------
using System.Runtime.InteropServices;
using System.Windows.Forms;
using SharpShell.Attributes;
using SharpShell.SharpPreviewHandler;

namespace AbcPreviewHandler
{
    /// <summary>
    /// The Abc Preview Handler is a preview handler that shows a simple
    /// coloured background for ABC files.
    /// </summary>
    [ComVisible(true)]

[2019-12-07 19:11] Countryen commented on #318
Hey @akaksohot,

so you want to override the preview for ALL file-extensions that have a certain (system) preview handler?

I don't think it's possible. You need to specify which extensions/classes your handler registers. And, I think, it's by design that a "specific extension" overrites the "All files and folder" ones, by default.

You might wanna do a reg-scan, look for any extension with this s

[2019-12-08 01:38] akaksohot commented on #318
hi Countryen,
Thanks for your response.
Confirm that if you mean i can not use the Case 2 code above to implement override all files which include system file '.cs' and '.txt' and so on. I have to user Case1 code above to add for each kind of file(inlcude have system preview content and do not have)?

[2019-12-08 14:57] Countryen commented on #318
You should be able to combine them, did you try that?

[code]

This should add your handler to * (& Directory & Folder) & .cs & .txt in HKCR.

[2019-12-08 15:19] akaksohot commented on #318
will try later.
But if have more file type have system preview content, i have to add more attribute for these files? I think this is not convenient for me.

[2019-12-08 15:19] akaksohot commented on #318
will try later.
But if have more file type have system preview content, i have to add more attribute for these files? I think this is not convenient for me.

[2019-12-08 15:22] Countryen commented on #318
Yes, you have to specify them explicitely, even then they might not work as there is no guarantee that your handler will override the others.

You can also remove the attributes and just write your own Register-/Unregister-Handler, if that is more convenient to you.

As said, I recommend searching the registry for all the extensions/types.

[2019-12-08 15:26] akaksohot commented on #318
how to search the registry, using what key word or how to search? could you please give some advise on this? Thanks in advance again for your help and response.

[2019-12-08 15:35] Countryen commented on #318
There are multiple tutorials/how-to online, here a few:
- https://dotnet-snippets.de/snippet/using-the-registry/216
- https://dotnet-snippets.de/snippet/nuetzliches-aus-der-registry/428
- https://www.infoworld.com/article/3073167/how-to-access-the-windows-registry-using-c.html

Including the MSDN / Microsoft Docs:
https://docs.microsoft.com/de-de/dotnet/api/microsoft.win32.registry?view=netframewo

[2019-12-08 15:37] akaksohot commented on #318
Will try the combin attributes above and the search registry approach that you approvided later, then will update the result here.
Thanks a lot for your help.

[2019-12-14 11:51] mikefirefly opened #319 "Issue with deskband name"
**Version of SharpShell used:** v2.7.2.0

**Related type(s) of SharpShell-Server:** Any

I have an issue with the deskband name - it does not seem to be related to what you say here:
https://github.com/dwmkerr/sharpshell/blob/master/docs/extensions/deskband/deskband.md

_The name used in this toolbar is specified by using the DisplayName attribute on the server class._

Picture speaks a thousand w

[2019-12-15 12:08] Countryen commented on #318
Hey @akaksohot have you figured out a way? I'd be happy to read your solution (maybe others, too). Also, please remember to close this issue, if the actual "problem with sharpshell" has been resolved for you :)

[2019-12-15 12:31] Countryen commented on #319
Hey @mikefirefly, haven't yet experienced with DeskBands but looked into the SRC a bit.
According to [SharpDeskBand.cs#L264](https://github.com/dwmkerr/sharpshell/blob/master/SharpShell/SharpShell/SharpDeskBand/SharpDeskBand.cs#L264), the "Title" of the item should be set to the `Text`-Property of the used `BandUI `instance, which is created in the `CreateDeskBand `function. Please try if setting

[2019-12-15 13:23] mikefirefly commented on #319
Hi @Countryen , I've done that and all it does is that it adds the title to my deskband, as you can see here: https://i.imgur.com/NOHstq0.png

What I want it to change the **NetUpDown.Meter** stuff in my taskbar context menu (ie. what is displayed between **Links** and **Desktop**, where the mouse cursor is in the screenshot). How can I do that?

[2019-12-15 13:39] mikefirefly commented on #319
OK, there is definitely something weird going on. I've tried your suggestion and set **Text=NetUpDown** in my **CreateDeskBand** method. Here's what happens:

1 - I use RegAsm to successfully register the dll.
2 - The entry in the taskbar Toolbars menu says **NetUpDown.Meter** (just like before).
3 - I successfully /unregister the dll using RegAsm.
4 - The entry in the taskbar Toolbars menu says *

[2019-12-15 16:07] akaksohot commented on #318
I have tried to combin Case 1 and Case 2 attributes, but not works, only Case 1 will works, Case 2 will not work it means case 2 do not have affect on the file preview content, no preview content for the files type except case 1(.cs,.txt).

[2019-12-15 19:59] Countryen commented on #319
Hey @mikefirefly I just tried it:
- Recreated the example server manually
- With version 2.7.1 (but only, because my SRM is this version ;) )
- Registered it (apparently, I first needed to sign my assembly)
- Using `DisplayName` works, though I've noticed
  - There are 2 `DisplayName`
  - `SharpShell.Attributes.DisplayName` (which I used)
  - and `System.ComponentModel.DisplayName`

Maybe you are

[2019-12-18 12:36] DarkCreekWay opened #320 "Remove SharpShell.xml from Nuget package"
**Version of SharpShell used:** 2.7.2.0

**Related type(s) of SharpShell-Server:** Any

Hi there,

the SharpShell.xml file of the nuget package bloats the build output dir and is not required for releases.

I would suggest to either remove it from the nuget package or, if nuget supports this somehow, exclude the file from build output

Keep up the excellent work,
Cheers, DCW

[2020-01-11 17:24] m5112638 commented on #258
The issue is still there as of 01/11/2020. The call to Shell32.SHCreateShellFolderView(ref createInfo, out view) in DefaultNamespaceFolderView.CreateShellView(...) failed with error code 0x80070057.

In addition the Registry namespace extension sample shows in Shell Debugger's left pane (see screenshot below), but not in Windows Explorer's left pane.

![image](https://user-images.githubusercontent

[2020-01-22 15:55] dwmkerr commented on #258
I've spent a _lot_ of time trying to fix the exception and really am struggling to get to the root cause. It is possible that the icon missing from the left-hand side is good clue though, it might indicate that something is not implemented properly...

[2020-03-09 02:01] Jon-Murray opened #324 "Support for VirtualFolder.None in namespace extensions"
Hi all. First off, love the library, really amazing work. I've been playing with namespace extensions and it is currently geared up to set My Computer, Desktop, etc. as junctions. However, this is not needed. According to https://docs.microsoft.com/en-us/previous-versions/windows/desktop/legacy/cc144096(v%3Dvs.85) you are able to create a folder with MyName.{GUID} and it will register the namespac

[2020-04-03 14:04] dimitar-radenkov-axway opened #325 "SharpFileThumbnailHandler do not work with other files extensions than .txt"
**Version of SharpShell used:** 2.7.1.1

**Related type(s) of SharpShell-Server:** SharpThumbnailHandler

Hi there,

Firstly thank you for the great library.
Actually I cannot create a ThumbnailHandler for any other types for example ".avi" or ".docx". I guess it's a bug.

Even I am marking the `[COMServerAssociation(AssociationType.ClassOfExtension, ".**avi**")]`
I see the logs only for txt files

[2020-04-03 14:05] #325 closed

[2020-04-03 14:06] mitko100 opened #326 "SharpFileThumbnailHandler do not work with other files extensions than .txt"
Version of SharpShell used: 2.7.1.1

Related type(s) of SharpShell-Server: SharpThumbnailHandler

Hi there,

Firstly thank you for the great library.
Actually I cannot create a ThumbnailHandler for any other types for example ".avi" or ".docx". I guess it's a bug.

Even I am marking the [COMServerAssociation(AssociationType.ClassOfExtension, ".**avi**")]
I see the logs only for txt files.

Am I do

[2020-04-04 03:35] mitko100 commented on #326
Sorry guys, I've hardcoded **.txt** file extension in one of the module. Closing this issue.

[2020-04-04 03:35] #326 closed

[2020-05-10 17:37] cpu100 opened #327 "How about Copy Hook Handlers"
Does [Copy Hook Handlers](https://docs.microsoft.com/en-us/windows/win32/shell/how-to-create-copy-hook-handlers) have any known problems? Why is it not mentioned in the readme?

[2020-05-11 02:15] dwmkerr commented on #327
There are no known problems! I just haven't got around to implementing it yet 😄

[2020-05-23 22:04] galvn opened #328 "Property 'Shorcutkeys' caused context menu to not show up"
**Version of SharpShell used:** 2.7.2

**Related type(s) of SharpShell-Server:** : ShellContextMenu

Greetings.
Followed the Count Line project tutorial with a few tweaking and successfully built a dll as .net framework 4.0 class library using VS2019 on a win7 x64 PC.
Loaded it into ServerManager 2.7.2 and have all the info shown in the right panel. Then when I put it to the test in the test shell

[2020-06-07 20:08] githubcatw opened #329 "How to get the current directory?"
**Version of SharpShell used:** 2.7.2

**Related type(s) of SharpShell-Server:** Any

I'm making an extension that moves some files in a directory. It is registered to show up when the background is right clicked. I want to get the background directory (the one the user right clicked in). How to get it?

[2020-06-09 02:28] dwmkerr commented on #329
Is this is context menu handler? Or a drop handler?

[2020-06-09 13:47] githubcatw commented on #329
It's a context menu handler.

[2020-06-10 01:52] dwmkerr commented on #329
You can get the folder it is in with the property `FolderPath`, there's a good sample here:

https://github.com/dwmkerr/sharpshell/blob/master/SharpShell/Samples/ContextMenu/CopyDirectoryLocationHandler/CopyDirectoryLocationHandler.cs#L44

[2020-06-10 01:52] #329 closed

[2020-06-10 02:55] #328 closed

[2020-06-10 02:56] dwmkerr commented on #328
Argghghghg save my from poorly written code! The issue is the `Systems.Windows.Forms` code, specifically here:

https://referencesource.microsoft.com/#System.Windows.Forms/winforms/Managed/System/WinForms/ToolStripManager.cs,869a29ff62a2cace

Basically, when you set a shortcut key via the `ShortcutKeys` property, it makes a call to [`IsValidShortcut`](https://referencesource.microsoft.com/#System.

[2020-06-11 17:16] galvn commented on #328
Got it. Thanks Dave!
Thankfully we still have backup plan, which is adding a `&` symbol before the character one wants to assign to, directly in the string of Text property.

For example:
[code]
In the context menu it will be shown as:

`SharpShell copy path (X)`

And `Keys.X` become the desired hotkey.

[2020-06-12 04:41] dwmkerr commented on #328
Great, glad it's working @galvn, I'll link the docs to this issue in case anyone else has the same challenge in the future.

[2020-06-15 20:56] honestabelink opened #330 "3rd Party Control Renders Solid Black"
Hi,

I have a control from another opensource library that I am trying to get working within `SharpPreviewHandler`

The controls renders just fine in a normal winforms app.

And interestingly, it displays just fine when displayed through a secondary form created from within the control returned from `SharpPreviewHandler.DoPreivew`  via ShowDialog.

ex.
[code]

Is there anything different about the

[2020-07-12 12:00] dwmkerr commented on #252
OK I've migrated my other large project [sharpgl](https://github.com/sharpgl) to support multiple frameworks, including .NET core and written up the experiences here:

https://dwmkerr.com/modernising-dotnet-projects/

I can now start on the same process for SharpShell - hopefully it should be fairly quick as I'll be following the guide I wrote :)

[2020-07-12 12:35] DarkCreekWay commented on #252
Great news!

I'm migrating some of my projects to .NET core too.

Having SharpShell on .NET core makes it possible for me to migrate all of them. Perfect timining 👍

[2020-07-15 08:30] MikeHibbert opened #332 "Extension not showing in server manager after successful build"
**Version of SharpShell used:** 2.4.3.0

**Related type(s) of SharpShell-Server:** SharpIconOverlayHandler

...

**Log Messages**

1>C:\Program Files (x86)\Microsoft Visual Studio\2019\Community\MSBuild\Current\Bin\Microsoft.Common.CurrentVersion.targets(2081,5): warning MSB3245: Could not resolve this reference. Could not locate the assembly "srm, Version=2.2.0.0, Culture=neutral, PublicKeyToken=

[2020-07-15 08:39] dwmkerr opened #333 "refactor: Add Editor Config and standardise"
There's mixed tabs, mixed line endings, it's a mess mate. Better add a good ol' `.editorconfig` and sort it out

[2020-09-14 16:06] Katara98 opened #334 "How to read and show properties stored in a file?"
Hi
I would like to display title and description properties(stored in my file format) in explorer:
![title](https://user-images.githubusercontent.com/33484724/93104875-116c9c00-f6b7-11ea-8689-58e3dff853a7.PNG)

As I understand it I need property handler for that. So, are there any plans to implement it? Or another way to display those properties?

I will be grateful for any help.

[2020-09-28 01:54] freeyang opened #335 "Thumbnails are not displayed when a connection program is specified."
**Version of SharpShell used:** 2.7.2

If I just run the thumbnail function, it works fine.
However, if you connect another program, the thumbnail function does not work.
The log also leaves nothing.

What settings do you need?
PNG files or pptx files can be viewed as thumbnails even if they are connected to other programs.
I ask for help.

[2020-10-07 14:18] Zhuangkh opened #336 "PropertyHandlers support"
Are there plans to add support for PropertyHandlers? It is better than the property sheet in some cases.

[2020-10-09 22:56] yatesa opened #337 "Question: Modify Details Pane"
I'm looking for a method that would allow me to click on any file or folder in explorer and based on the item selected, show additional information in the Details or Preview Pane area.
Based on [#318](https://github.com/dwmkerr/sharpshell/issues/318) it would seem like PreviewHandler would not work for me since I need it to work against all files and folders.
What I'm looking for is more extending

[2020-10-11 11:25] Countryen commented on #337
Hey Anthony,
I don't think that's possible / wanted by MS.

The shell is designed to allow customization to the 'default' behaviour, so forcing thus for all isn't really a good idea.

Why does it have to be the preview pane? Maybe a custom folder design (View) could work better? Like displaying images as thumbnails.

I think there is an example namespace extension with a custom Folder View. You co

[2020-10-19 13:20] natan-fernandes opened #338 "Generic GDI+ Error"
**Version of SharpShell used:** 2.7.2
**Related type(s) of SharpShell-Server:** Any

I'm trying to use the ThumbnailHandler and I keep getting this error when using the "Test Server in Test Shell" option. I've tried creating my own dll modifying "**.natan**" files and also tried the sample one that modifies "**.txt**" files. Is there something I'm missing?
I've also tried returning a 1px x 1px bit

[2020-10-19 16:56] natan-fernandes commented on #338
After some research I found that something was wrong at ThumbnailHandler class. I'm using Visual Studio Community 2019 and the project was made on 2017 but I don't think it would interfere in something.

#### So, that's what I managed to fix the error:
Inside **GetThumbnailImage(uint width)** method I [found at Code Project](https://www.codeproject.com/Articles/563114/NET-Shell-Extensions-Shell-Th

[2020-10-26 13:54] natan-fernandes opened #339 "Can't dispose SelectedItemStream stream"
**Version of SharpShell used:** 2.7.2

I'm trying to use the ThumbnailHandler but turns out when I use `StreamReader(SelectedItemStream)` and dipose/close it it gives me an Generic GDI+ Error.
If I do not dispose it works perfectly but it will keep the stream opened and I don't want this to happen

What can I do to fix this?

This is my code so far (I've also tried the `using` statement but it gav

[2020-10-26 14:39] natan-fernandes commented on #339
Here's what I did at **ComStream.cs** but it's not a good solution in my opinion
[code]

[2020-10-26 21:23] mwpowellhtx opened #340 "Q: Will it support folder views, column manager, etc"
Hello,

More of a question really. I am interested to do a bit of shell extension work, see if I can't cache folder views, working with column manager, save and restore folder views, that sort of thing.

I am perhaps 50% familiar with Interop from yesteryears, days gone by. How do I get my feet wet starting from, say, `IFolderView`, which I take it supports both `IFolderView` and `IFolderView2` ro

[2020-10-26 21:38] mwpowellhtx commented on #340
Chiefly one confusion for me is, how do I go from what I think is a `System.__ComObject` to an instance of `IFolderView`.

I think I should be able to, for instance, do this:

[code]

Which does return me a valid instance of _something_, in particular, a `System.__ComObject`. But how do I decide whether that instance agrees with the `SharpShell.Interop.IFolderView`.

For starters.

Thank you...

[2020-11-10 08:52] truemogician opened #341 "Unhandled exception during initialization of TestShellForm"
**Version of SharpShell used:** 2.7.2

**Exception Messages**
System.InvalidOperationException: 'Failed to enumerate children.'
Inner Exceptions:
   InvalidOperationException: Failed to initialise child.
   COMException: Class not registered (Exception from HRESULT:0x80040154 (REGDB_E_CLASSNOTREG))

No matter which specific architecture (x64 or x86) my .dll and ServerManager is built to, the same

[2020-11-25 15:18] tfipsrd opened #342 "AssociationType.ClassOfExtension is not working when selecting different format like .txt .pdf .xml, it is only working with AllFiles or with only .txt"
**Version of SharpShell used:** 2.7.2

Hello,
I'm trying to get my context menu for specific file format.

It is only working if I use this
   [COMServerAssociation(AssociationType.AllFiles)]
Or if I use this:
[COMServerAssociation(AssociationType.ClassOfExtension, ".txt")]

Whenever I select another single file format or several , it does not work.
[COMServerAssociation(AssociationType.ClassOfExt

[2020-11-27 17:04] lyne408 opened #343 "."

[2020-11-27 18:10] #343 closed

[2020-11-29 12:15] DarkCreekWay commented on #320
The SharpShell.xml file no longer gets copied to the bin folder of my referencing project.
This behavior changed, since migrating the referencing project from package.config to PackageReference mode.

[2020-11-29 12:15] #320 closed

[2020-11-29 12:32] #267 closed

[2020-11-30 08:11] lyne408 opened #345 "Where is the USER DATA of ServerManager? I get many DIALOGs after open it."

[2020-12-01 13:40] DarkCreekWay commented on #345
The ServerManager uses the regular Configuration System of .NET.

This means, you can find the user specific configuration data underneath %localappdata%\Dave_Kerr\

Underneath, you can find one or more sub-folders starting with "ServerManager"
Within these folders, you find the user.config file, which holds the user specific config.

I hope, this helps.

[2020-12-02 01:57] #345 closed

[2020-12-17 09:16] barnacleboy commented on #280
I've experienced the same issue and also thought the "C:\WINDOWS\system32" in ShexView is the key to the problem, but it is just a red herring. But: I have another .NET (non SharpShell) shell extension installed from Microsoft that does not have this prefix in the path and it is furthermore not displayed as missing...

Setting up the "Count lines" sample worked immediately for me, so I tracked dow

[2020-12-17 10:33] Countryen commented on #280
So you mean that it could be because of 64-bit / 32-bit difference? But why does that matter?

Great input though, maybe this helps others in finding their issue.

[2020-12-17 10:46] barnacleboy commented on #280
In my case my app itself has to be 32 bit because of native Win32 code in the C++/CLI mixed mode assembly, otherwise I'm getting BadFormatException on startup. All other assemblies are set now to "Any CPU", the mixed mode is Win32. Fusion Log pointed me in the right direction and told me which assembly could not be loaded. Error message was the message from BadFormatException.

[2021-01-11 19:05] DamienTehDemon opened #347 "Issue with OneDrive file, but not folders, context menu is not showing up?"
**Version of SharpShell used:** 2.7.2

**Related type(s) of SharpShell-Server:** Any

I can not seem to get a context menu to work on a onedrive file that is not downloaded yet. This works in the server manager test environment but not in the windows 10 file explorer. This works fine once the file is downloaded, and even on the folders within the one drive folder. In that case it will download the

[2021-01-26 10:26] MatthieuArnold opened #348 "Server Name, Type and CLSID remain unset"
Hi, I've got an issue when trying to test your code sample.
The compilation works, when loading the dll in your "Server Manager", the server's Name, Type and CLSID are shown as Null or invalid. (And obviously registering or installing fails)
Screen capture: https://pasteboard.co/JLpwQlg.png

I've also tried to write my own class based on the sample, but I've got the same issue:
[code]

**Version o

[2021-02-05 05:14] AddioElectronics commented on #280
After days of trouble shooting I found my issue.
If your menu calls any functions, or classes with static initializers that call functions that require elevated permissions, your menu will not show up.

[2021-02-05 07:29] hueEnergy opened #349 "The menu does not appear .Net Core"
OS: Win 10 x64

Download the code [dotnet-core-supportl](https://github.com/dwmkerr/sharpshell/tree/feat/dotnet-core-supportl).
There is no error in compiling. run the  ServerManager.exe, choose CountLinesExtension.dll, then installServerx64,registerServerx64，No exceptions were thrown，but the txt file does not appear menu.
If i select AdvancedContextMenuExtension.dll, all files have a  menu.

issu

[2021-02-06 07:07] quidity opened #350 "Exception when loaded in Chrome.exe"
**Version of SharpShell used:** 2.2.0.0

**Related type(s) of SharpShell-Server:** ?

Sharpshell when loaded in chrome.exe is raising an unhandled exception and bringing down Chrome. This manifests in /cetcompat chrome builds.

I can reproduce this when Chrome runs ShellExecute(nullptr, L"taskbarunpin", shortcut.value().c_str(), nullptr, nullptr, 0) which
is a semi-documented verb.

This buckets i

[2021-02-07 14:17] DarkCreekWay commented on #349
The branch for .NET Core support is still work in progress. Registering and installing an .NET Core extension via the SharpShell Server Manager currently does not work, as you might expect. I got the CountLinesExtension to work by using the method for installing, as described in #331

Hope, this helps.

[2021-02-07 14:21] DarkCreekWay commented on #347
This is related to the way, OneDrive On Demand Feature is implemented by Microsoft. What you see in the OneDrive folder with OnDemand option enabled, is the result of the OneDrive Shell Extension. Only, when the file is physically downloaded to the local disk, other shell handlers are invoked. So, unfortunatly, your observed behavior is by (Microsoft) design

[2021-02-07 14:23] DarkCreekWay commented on #348
Is your assembly signed ? I had similar issues, until I gave the assembly a strong name.

[2021-02-14 06:13] ShiinaManatsu commented on #307
By create a new class just a copy of SharpThumbnailHandler but replace `InitializeWithStreamServer` with `InitializeWithFileServer`, I'll be able to get a file path.

Code here
[code]

Logs here
<Details>
2021-02-14 14:07:05.424Z - explorer - SharpShell Diagnostics Initialised. Process explorer.
2021-02-14 14:07:05.427Z - explorer - PMXThumbnailHandler: Intiailising a file based server for 'C:\Use

[2021-02-19 13:52] MatthieuArnold commented on #348
Thanks @dar, it is indeed the issue.
My assembly itself is signed, but I have a reference to an unsigned API :'(

[2021-02-19 13:52] #348 closed

[2021-02-22 15:39] vpenades commented on #307
@ShiinaManatsu yes, we know about InitializeWithFileServer, but this method has been disabled in Windows Vista and later by microsoft for security reasons.

[_Intialization of IThumbnailProvider with IInitializeWithFile is not supported since Vista for security reasons. Use IIntializeWithStream instead._](https://social.msdn.microsoft.com/Forums/en-US/80617ead-f9c4-422a-a405-06fd3837f7be/problem-a

[2021-02-23 11:04] ShiinaManatsu commented on #307
It works on my Windows 10 20H2
![image](https://user-images.githubusercontent.com/20186095/108834347-0a07d200-7609-11eb-8203-55a571b003f1.png)

Althought I dont know why there is no my log :(
![image](https://user-images.githubusercontent.com/20186095/108834442-27d53700-7609-11eb-946b-31d4dee7b621.png)

My implementations here:

[code]

[2021-02-23 11:08] vpenades commented on #307
Hmmm... maybe microsoft has lifted the security ban and it is allowed again? I'll give it a try....

[2021-02-23 18:14] vpenades commented on #307
@dwmkerr @ShiinaManatsu here's a project from a guy that seems to have more insight on the issue:

https://github.com/csuft/WindowsThumbnail

From the project: "_Make sure the registry key DisableProcessIsolation value is set to one_"

So it seems that was the missing piece...  I wonder which are the other implications of setting that registry value.

[2021-02-24 12:43] ShiinaManatsu commented on #307
Nope, it actually get called, cause the image generated is correct, before I reply this issue, I used to throw exception and even show a messagebox.

[2021-02-24 15:50] vpenades commented on #307
From your own log:

![imagen](https://user-images.githubusercontent.com/5433822/109026659-4813fd00-76c0-11eb-9b0c-9a6079dbcf70.png)

It seems the thumbnail is being generated from the stream, not from the file. That's why I asked

[2021-02-27 11:12] ShiinaManatsu commented on #307
I create a stream from that path. The fileserver don't have a stream so I have to read by myself

[2021-03-08 02:27] RichardSharpe opened #351 "Seeing an unhandled exception when installing via SRM"
Built my SharpShell Property Sheet app with Visual Studio 2019. I upgraded the solution that I had started on Visual Studio 2017 and an earlier version of SharpShell.

When I use srm install as per the documentation, I get the log below.

**Version of SharpShell used:** 2.7.2

**Related type(s) of SharpShell-Server:2.7.2

SharpSellTools 2.2.0

**Log Messages**

2021-03-07 18:10:41.097Z - srm - err

[2021-03-08 10:28] DarkCreekWay commented on #351
AFAIK, the SharpShellTools 2.2.0 contains an SRM for SharpShell 2.2.0.

So your exception could relate to a version mismatch between the SRM version and the version of the SharpShell assembly you are building against. SRM version and SharpShell version needs to be the same.

[2021-03-08 14:24] RichardSharpe commented on #351
Hmmm, the only versions of SharpShellTools I could find were 2.2.0 and 2.2.1?

If you look at this page: https://github.com/dwmkerr/sharpshell#installation

It shows the version of SharpShellTools to be 2.2.0 while the versions of the other two packages is 2.7.2.

[2021-03-08 15:33] DarkCreekWay commented on #351
There is no nuget package for the SharpShellTools targeting SharpShell 2.7.2

For testing and development, I build SharpShell 2.72. from the source here on my local machine and use the resulting SRM.

If this is not an option for you, you can downgrade the referenced SharpShell NuGet back to 2.2.x.

[2021-03-08 15:47] RichardSharpe commented on #351
Strange. I built SharpShell from source at the Master branch and did not get an srm.exe that I can find ...

[2021-03-08 15:58] DarkCreekWay commented on #351
Ah okay. I never used srm.exe, so I was not aware of it. Checked my local build, and yes, it is not there.
For testing, I use the ServerRegistrationManager

Regarding the SharpShellTool NuGet, you can also check out issue #269

[2021-03-08 16:44] RichardSharpe commented on #351
Does the ServerRegistrationManage have the same functionality/commands as srm.exe?

Also, I tried building the SharpShareTools under Visual Studio 2019 and it does not build srm.exe so I am getting confused.

Should I be using Visual Studio 2017?

I will check out the issue you mentioned.

Thanks for your help.

[2021-03-08 18:03] RichardSharpe commented on #269
I seem to have gotten into a similar issue, and seem to have two versions of the SharpShell libs on my system and cannot seem to clean the mess up:

[code]

How to I get rid of all references to Version=2.2.0.0?

[2021-03-08 18:36] DarkCreekWay commented on #269
When I remember right, I cleaned the project first, then removed both packages from the project and re-added only the SharpShell NuGet and built it again.

[2021-03-08 18:53] DarkCreekWay commented on #351
What I see from the code, it provides the same functionality.

The Solution files are targeting Visual Studio 2017. You can either use VS2017 or upgrade to VS2019, depending on your setup and preferences.

[2021-03-09 01:11] RichardSharpe commented on #269
I finally stumbled my way through the issues.

[2021-03-09 01:20] DamienTehDemon commented on #347
Thankyou for informing me about this :)

[2021-03-09 01:20] #347 closed

[2021-03-09 08:57] DarkCreekWay commented on #351
Verified the ServerRegistrationManager quickly, and it provides the same set of commands. Only the name of the executable is different than noted in the docs. You can obtain the SRM as NuGet Package [here](https://www.nuget.org/packages/ServerRegistrationManager)

[2021-03-09 17:11] RichardSharpe opened #352 "Question: How do I get the handle for the Windows control that contains the properties sheet?"
**Version of SharpShell used:** 2.7.2

In order to handle monitors with different resolutions so I can place controls in the correct places I am trying to use MapDialogRect but seem to be passing it an invalid handle because it is failing.

Here is what I am doing:

[code]

I suspect the handle I need is in the parent or further up.

[2021-03-10 15:38] RichardSharpe commented on #351
Issue resolved.

[2021-03-10 15:38] #351 closed

[2021-03-15 01:33] jleveille1337 opened #353 "CreateMenu called twice and wrong submenu invoked"
**Version of SharpShell used:** 2.3.2

**Related type(s) of SharpShell-Server:**  [COMServerAssociation(AssociationType.AllFiles)]

I am using the shell context menu feature.
I build a tree of ToolStripItemMenu objects and hang them off the context menu.  Everything is visually formed correctly on the screen, however I can see that there are various problems occurring that eventually result in the

[2021-03-15 08:14] DarkCreekWay commented on #353
Do you have a chance to update the used SharpShell Package to the latest version 2.7.2 ?

[2021-03-16 00:54] jleveille1337 commented on #353
I have tested with 2.7.2 just now and the problem behavior still exists.  I got basically the same log as shown above with some time stamp decorations that appear to be a new feature in 2.7.2 or some intervening release.

So my issue stands.  Any help is very much appreciated.

[2021-03-16 11:39] DarkCreekWay commented on #353
This seems to be related to the issue #4. Some troubleshooting advise can be found in the [docs](https://github.com/dwmkerr/sharpshell/blob/master/docs/context-menu.md#troubleshooting)

[2021-03-16 13:46] jleveille1337 commented on #4
In the recent post I made as issue #353, I have cited what appears to me to be the very same problem as seguso mentioned back in Oct 2014.  When I write my code to construct a collection of submenu items, I do get the onclick event, whereas seguso indicated that he never gets the call to his event handler.  Sadly, when I get the call to my event handler it is the wrong submenu item!  My nested men

[2021-03-16 13:50] jleveille1337 commented on #353
Definitely related to issue #4, but also a little bit of a different issue.  I posted a message into issue #4 where I described that I have seen the issue where my code is called with 16 items then called a second time with the full list of 20 selected files.  Got it, and no problem for me on that point.

The fatal issue for me is that my onclick handlers for the various submenu items that I creat

[2021-03-16 13:54] DarkCreekWay commented on #353
Let us work on your issue here, as the other one is closed already.

I suggest, to eliminate the Operating System behavior as a potential source of your issue by setting the mentioned registry on your machine to a high value (eg. 100), restart explorer.exe or logoff and logon again and test afterwards.

[2021-03-16 14:36] jleveille1337 commented on #353
I appreciate and commend your conscientious response.  I will set the registry entry and test again then report back on whether it makes the issue disappear.  I think I tried this before and it didn't make a difference, but I will test again and report the results.

[2021-03-16 21:11] jleveille1337 commented on #353
I have set MultipleInvokePromptMinimum registry key to 100 files.  It did not change the behavior wherein the submenu invoke sends the event to the 10th submenu rather than the 192nd submenu, where the 192nd submenu item is the one that I clicked on.

I suppose that recreating this could be rather straight forward.  If you create a right mouse menu item that has 2 children, each of those has 10 ch

[2021-03-16 21:59] jleveille1337 commented on #353
I wrote a test case for this.
Below is some code for CreateMenu.  I ended up having to build out 500 submenus before I could trip the problem.  In the code below the menus are named uniquely and they each have a simple click handler.  Around menu 495 is where things go wrong.  In my zero-numbered scheme this is grandchild menu 3_8_5.  If you click a grandchild before that one then happy result - m

[2021-03-17 00:26] jleveille1337 commented on #353
Actually, here is a slightly better test case.  In this menu I changed the code slightly so that the grandchild menus all show with the same name.  When you click, you are given coordinates on what menu item was selected despite their identical names at the grandchild level.

What I see in this code is that it works correctly when I have selected fewer than 17 files.  However, if I select more tha

[2021-03-17 07:55] DarkCreekWay commented on #353
Thank you for the test code. I can have a look at it earliest this evening.

[2021-03-17 13:38] DarkCreekWay commented on #353
With your test code, I was able to reproduce your issue on my machine too.

A quick internet search also shows, that the invocation logic of windows seems to be key in your scenario.

* [Windows Shell extention: context menu when more than 16 files are selected - Stack Overflow](https://stackoverflow.com/questions/21370844/windows-shell-extention-context-menu-when-more-than-16-files-are-selected)

[2021-03-18 15:38] Aoi-hosizora opened #354 "How to avoid SharpPropertyPage's OK action when error aroused"
**Version of SharpShell used:** 2.7.2 (net48)

**Related type(s) of SharpShell-Server:** Any

---

I want to cancel the SharpPropertyPage's close event when some error aroused when OK button is clicked. But I cannot find any api that do action like this. How could implement this?

Here is my code:

[code]

[2021-04-14 14:45] apuchitnis commented on #284
Hi @Countryen - I've also experienced this bug. I'm using Windows 10 and SharpShell v2.7.2.

I was able to work around it using instructions that @Aoi-hosizora gave: set `BackColor` to `Black` and set `UseBackgroundColour` to `false`.

This is confusing behaviour. I expect that either a) setting `UseBackgroundColour` and setting `BackColor` to `Transparent` or b) not setting `UseBackgroundColour`

[2021-04-14 20:20] Countryen commented on #284
Hey @apuchitnis, thanks for asking but I am not the author and never had this issue, I was just asking for more information to help out :) So either you meant to ask the author of the issue or you could close this, if this works. Or what do you mean? Sorry I've been very inactive for a while.

[2021-04-14 20:32] apuchitnis commented on #284
Hey @Countryen - sorry, perhaps I wasn't clear enough. To confirm - am I right in understanding that you're a maintainer of this project?

My intention was to continue the original author's thread and add more information about this bug, so that we can find a proper fix rather than a workaround.

[2021-04-15 06:43] cognociente opened #356 "Can i set the tags of a folder using this library?"
Latest Version of SharpShell for Windows 10 - also latest update.

[2021-04-16 03:58] ecimen81 opened #357 "Is it possible to change the position of DeskBand on Taskbar"
Hello

 its possible to change the position of DeskBand? for example i want to move DeskBand to the left of taskbar instead right?

[2021-04-19 09:31] apuchitnis commented on #357
I'm not the maintainer of this project or a Windows expert, but I don't think this is possible. All Deskbands that I've seen appear to the right, next to the notification bar.

[2021-05-18 11:24] apuchitnis opened #358 "Deskband does not resize when small taskbar buttons is enabled"
**Version of SharpShell used:** 2.7.2

I've set `HasVariableHeight` and `VerticalSizingIncrement`, documented [here](https://github.com/dwmkerr/sharpshell/blob/d514ecfbf34020eb0dd6240585a55d3ecccec093/SharpShell/SharpShell/SharpDeskBand/BandOptions.cs), but unfortunately my deskband does not become smaller when I use "small taskbar buttons" for my taskbar (see image).

How can I allow my deskband

[2021-05-20 16:02] Yongjun042 opened #359 "Not a SharpShell Server"
**Version of SharpShell used:** 2.7.2

When I try to open my dll in server manager it shows " The file iso.dll is not s sharpshell server".

I'm new in .net and have no idea what is wrong.
I've followed tutorial [https://www.codeproject.com/Articles/563114/NET-Shell-Extensions-Shell-Thumbnail-Handlers](https://www.codeproject.com/Articles/563114/NET-Shell-Extensions-Shell-Thumbnail-Handlers)
I che

[2021-05-22 12:18] Yongjun042 commented on #338
Still having same issue when using
[code]

[2021-05-22 12:22] Yongjun042 opened #360 "TxtThumbnailHandler should be updated"
Under TxtThumbnailHandler Example
[code]
ClassOfExtension is not supported. It should be changed to FileExtension.

[2021-05-22 13:31] Yongjun042 commented on #359
I have to add initializer and Dispose.

[2021-05-22 13:31] #359 closed

[2021-05-23 03:09] Yongjun042 commented on #338
I think something went wrong when doing something with reader, it trigger catch exception, and occur this error.
Don't know why but it suddenly worked by commenting out some line and testing a lot of times.

[2021-05-25 16:43] jleveille1337 commented on #353
Should I assume that the SharpShell project will not be fixing this issue?  In other words, should I assume that if anyone addresses the "lower code levels" it will not be a SharpShell code change, but rather a Windows OS code change?

[2021-06-01 13:34] DarkCreekWay commented on #353
The double invocation of the extension is triggered by Windows, when more than 16 files are selected, which is by design of Microsoft.

I digged deeper into the problem, and it turns out, that Windows seems to send back the identifier for the FIRST menu item having the TEXT of the item the user has selected.

When I made the text property of the grandchild nodes unique, the right message got shown

[2021-07-30 15:20] jleveille1337 commented on #353
@DarkCreekWay Thank you very much for the dialog around this issue as it has increased my team's understanding of the lower level issues.  Can you render a decision as to whether this is something that you (a) have the power to address in your code layer and (b) have the intent to address in some time frame?  I don't want to infer incorrectly that this is either on or off roadmap/backlog.

[2021-07-30 15:39] DarkCreekWay commented on #353
@jleveille1337:
The double invocation is triggered by Windows itself, so it is by OS design, and nothing, that can be fixed by the SharpShell project.

To overcome the problem of the wrong item click event is triggered, you have to ensure, that each of the menu items you create hase a unique text set. The context menu should behave correctly afterwards.

As I'm not the owner of the project, I cann

[2021-08-01 12:08] demberto opened #361 "Context menu extension not working and issues with ServerRegistrationManager"
Using Sharpshell 2.7.2 on .NET Framework 4.5 with Windows 10 21H1.

This is the code:
[code]
Right clicking on a JPG (or a PNG) gives me the **Set as folder icon** option, but pressing it does ABSOLUTELY nothing, tried Debug mode of Sharpshell-Easy-Log, it was blank. The `SetAsIcon` method further invokes Magick .NET to do resizing and conversion and `ProgressDialog` is a basic form which displays

[2021-08-03 02:07] jleveille1337 commented on #353
Thank you @DarkCreekWay you have been very helpful and it is appreciated.

[2021-08-13 21:30] AdmiralSnyder opened #362 "Preview Handler isn't called when AssociationType.ClassOfExtension for ".pdf" is used."
**Version of SharpShell used:** 2.7.2

**Related type(s) of SharpShell-Server:**
SharpPreviewHandler

**Summary**
When registering the shell preview handler for pdf files using
[code]
an shellex entry gets added to the `HKCR\pdf.1` registry key, but that doesn't work (the extension isn't being loaded.)
whereas, if i manually use the `HKCR\.pdf` registry key, it works fine.

**Questions**
Should th

[2021-09-13 08:01] midoragh opened #363 "ThumbnailHandler: PerceivedType key"
**Version of SharpShell used:** 2.7.2

**Related type(s) of SharpShell-Server:** Thumbnail

I created a ThumbnailHandler for a new image file extension. The Explorer uses the Treatment 'Photo Border' for files of category 'image' (HKEY_CLASSES_ROOT\SystemFileAssociations\image). So I have to declare the file extension as image. This must be done by adding the key 'PerceivedType' to the string 'ima

[2021-12-20 20:49] pp111 opened #364 "Windows 11 context menu support"
Hi, can this library be used to show Windows Explorer context menu entries for Windows 11? (in the new Windows 11 way IExplorerCommand + app identity)

https://blogs.windows.com/windowsdeveloper/2021/07/19/extending-the-context-menu-and-share-dialog-in-windows-11/

[2021-12-21 15:31] TheNybbler opened #365 "Incorrect registration when using Wix Installer with File Associations"
SharpShell v2.7.2
IconHandler Extension

I think I've encountered a bug when attempting to use ServerRegistrationManager from a Wix custom action. If I use the ServerRegistrationManager from the command line, I don't have any issues.

My Wix installer sets up a file association for the file extension '.uaproj'. It also sets a default action to open my application with that file as file argument.

[2022-02-02 13:56] cassio-vo opened #366 "How change Icon Overlay by file extencion"
if is txt file i want show a green icon, but if isn't a txt file i want show a blue icon.

[2022-04-01 10:18] marwie commented on #364
Would like that as well

[2022-04-06 09:09] hellas2000 opened #367 "How to add context menu to deskband"
Great work sharpshell, I have test the sharpdeskband demo, it works good. Now I'm wondering how to add context menu to deskband? Thanks.

[2022-04-10 19:46] elthombre opened #368 "Deploying SharpShell Extensions - Restarting Explorer"
Hi,

I added a reply / question to the CodeProject solution but wasn't sure where may be best. I am adding reference here as well:

https://www.codeproject.com/Articles/653780/NET-Shell-Extensions-Deploying-SharpShell-Servers?msg=5871061#xx5871061xx

[2022-04-14 08:06] hellas2000 commented on #367
I'm stupid, just add menu on the usercontrol.

[2022-04-14 08:06] #367 closed

[2022-04-14 14:02] akash07k opened #369 "Is this project still in development?"
**Version of SharpShell used:** 2.x.y

**Related type(s) of SharpShell-Server:** Any

...

**Log Messages**

If you are seeing unexpected behaviour, please include relevant logs here:

...

There is a guide on getting the logs for SharpShell in the [SharpShell Logging](https://github.com/dwmkerr/sharpshell/blob/master/docs/logging/logging.md) page.
I want to use this project for one of my producti

[2022-05-05 00:24] elthombre opened #371 "Blank Icons?"
Hi,

I've been testing some Shell extension functionality that works against MS Word docs and their icons. Lo-n-behold, now my Word doc icons are displaying as blank. The files are properly associated with Word. No extensions are shown as being installed. I've rebooted the machine.

Any ideas?

Thanks!!

[2022-05-05 02:17] elthombre commented on #371
blank Word document icons resolution (resetting default icon in the registry):

https://www.wintips.org/how-to-fix-docx-files-not-showing-word-icon-in-explorer/
(comments were added according to my experience below the article)

worth noting:

https://www.makeuseof.com/windows-10-fix-blank-icons/
(I *did* have display driver updates awaiting me although the updates did not resolve the issue)

[2022-05-09 10:27] demberto commented on #197
I didn't even know you could do namespace extensions with SharpShell, damn! This one needs to be documented, please.

[2022-07-07 03:46] elthombre opened #372 "switch in GetOverlayIcon?"
**Version of SharpShell used:** 2.7.2.0

Hi, I am trying to use a switch in the GetOverlayIcon method allowing it to display different icons depending upon file type / conditions but it is not working as expected. Consider the following:

        protected override Icon GetOverlayIcon()
        {
            switch ([some condition])
            {
                case A:
                    return

[2022-09-15 06:40] mkahramanege commented on #368
Have a nice day. I want to report a problem. The program called Cybereason, which is used by one of our customers, blocks the sharpshell dll files we use in our project and removes them from memory at runtime. Since these dll files are defined as add-ons to windows explorer, windows explorer also crashes at that time. Only when we use ContexMenu, when we right click on any file, explorer.exe is be

[2022-10-06 12:22] stroev-ao opened #373 "Using multiple Icon Overlay Handlers"
Is it possible to use multiple Icon Overlay Handlers? I've tried to do this but all of handlers returns the same icon.

[2022-10-10 10:00] #373 closed

[2022-10-10 10:03] stroev-ao commented on #372
As far as I understand you should create few icon overlay handlers for each file type. To avoid my mistake look at this link: https://github.com/dwmkerr/sharpshell/issues/373

[2022-10-11 02:18] dwmkerr commented on #373
This is great - thanks for sharing what is going on @stroev-ao, I've added this to the Troubleshooting guide so that others can benefit from the learnings!

[2022-10-11 04:01] dwmkerr commented on #369
Yes still in development, I had to take a break due to a bunch of work commitments, digging in again now!

[2022-10-11 04:01] #369 closed

[2022-10-11 10:29] elthombre commented on #372
@dwmkerr , management has moved away from this desired functionality. There were a number of proposals from replacing the entire icon of a particular file based upon file type to attempting to use an overlay that may cover the underlying icon. It was decided that a simple overlay for branding would suffice. Under certain circumstances (i.e. icon view size) some of the above worked and looked very

[2022-10-15 11:50] dwmkerr commented on #272
Resolved in #273

[2022-10-15 11:50] #272 closed

[2022-10-18 06:33] dwmkerr commented on #372
Got it simple is good I guess! Will close this now @elthombre TY!

[2022-10-18 06:33] #372 closed

[2022-10-18 06:40] stroev-ao commented on #373
Glad to be helpful!

[2022-10-19 18:46] elthombre commented on #372
Yes. I think part of the problem has to do with the View setting and how icons and icon overlays appear accordingly. It is further complicated by the 'preview' icon.

I also agree that if a folder has many files to process, trying to do too much can be problematic.

[2022-11-29 15:41] stanislav-peichev commented on #258
@dwmkerr
It appears that all you need is to bind the absolute pidl to the subfolder and it works.
Here's what I did (too many changes locally so I can't really create a merge request):

In BindToObject()
...
[code]

The thing is that the sub folder IShellFolder won't have ids when asked by the system and this is why SHCreateShellFolderView is failing.

Cheers

[2022-11-30 07:43] thexeos opened #382 "Troubleshooting installation issue with CountLinesExtension sample"
**Version of SharpShell used:** 2.7.2

**Related type(s) of SharpShell-Server:** Any

**Windows version:** 10.0.19045 Build 19045

I am trying to install CountLinesExtension sample from here https://github.com/dwmkerr/sharpshell/tree/main/SharpShell/Samples/ContextMenu/CountLinesExtension using the ServerRegistrationManager (`srm`) tool. You can see the log below, but it basically works every time